<!-- checkbox where it can select if it is building customer already registere -->
<div class="form-group col-md-12 n-padding-l n-padding-r" 
	ng-if="(customer.new.idClientTypeFk!=2 && customer.new.typeInmueble!='' && customer.new.typeInmueble!=undefined) || customer.new.idClientTypeFk==2" 
	ng-class="{
			'well-checkbox': customer.new.idClientTypeFk!=2,
		   	'well-checkbox-success': (customer.new.idClientTypeFk!=2 && !customer.new.isNotClient && 
		   					((customer.new.floor.length==2 && customer.new.floor!='' && fNewCustomer.numberOfFloor.$valid) || 
			  				(customer.new.floor.length>=1 && customer.new.floor>0 && fNewCustomer.numberOfFloor.$valid)) && fNewCustomer.customer_address.$valid && fNewCustomer.nameDepto.$valid && fNewCustomer.new_province.$valid && fNewCustomer.new_Localidad.$valid) || (customer.new.idClientTypeFk!=2 && customer.new.isNotClient && fNewCustomer.customer_address_registered.$valid && fNewCustomer.deparment_registered.$valid)
		   }" 
  	style="width: auto;" >
	<div ng-if="(customer.new.idClientTypeFk!=2) && customer.new.idClientTypeFk!='' && customer.new.typeInmueble==1" style="margin-left: 120px;">
    	<label class="switch switch-1x">
    		<input type="checkbox" 
    		class="success" 
    		ng-required="customer.new.idClientTypeFk==4 || customer.new.idClientTypeFk==5" 
    		ng-change="enabledNextBtn(); customer.select.main.address.selected=undefined; customer.select.main.province.selected=undefined; customer.select.main.location.selected=undefined; customer.select.main.department='';customer.new.floor=''; customer.new.department=''; customer.new.nameAddress=''" 
    		ng-model="customer.new.isNotClient" 
    		id="checkbuttonBuilding" 
    		style="margin: 0px !important; display: inherit !important;">
			<span class="slider slider-1x flat"></span>
		</label>
  		<label for="checkbuttonBuilding" style="cursor: pointer; font-weight: 600;">Edificio Registrado</label>
	</div>
	<!-- Address for customer when is not a building registered already -->
	<div class="form-group col-md-12" ng-if="(customer.new.idClientTypeFk==2) || ((customer.new.idClientTypeFk!=2) && !customer.new.isNotClient && customer.new.typeInmueble!='')" ng-class="
								  			{	'has-success': 
								  				addrrSelected && fNewCustomer.customer_address.$valid,
								  			 	'has-error': 
								  				(!addrrSelected && fNewCustomer.customer_address.$touched) || 
								  				(customer.new.nameAddress.length==0 && customer.new.nameAddress.length<1) && !addrrSelected && fNewCustomer.customer_address.$touched || 
								  				(customer.new.nameAddress=='' || customer.new.nameAddress==undefined) && (!addrrSelected || addrrSelected) && fNewCustomer.customer_address.$touched ||
								  				customer.new.nameAddress!='' && !addrrSelected && fNewCustomer.customer_address.$touched
								  			}">
      	<label style="padding-left: 15px;">Direcci&#243n
      	</label> 
      	<div class="input-group">
      		<span class="input-group-addon"><i class="fas fa-map-marked-alt"></i></span> 
			<input type="text" 
			id="customer_address" 
			name="customer_address" 
			ng-model="customer.new.nameAddress" 
			placeholder="Direcci&#243n"
			class="form-control" 
			ng-keydown="$event.keyCode === 13 && getAddressByNameFn(customer.new.nameAddress, customer.select.main.province.selected.idProvinceAPIGobFk,'main')"
			ng-required="(customer.new.idClientTypeFk==2) || ((customer.new.idClientTypeFk!=2) && !customer.new.isNotClient && customer.new.typeInmueble!='')" />
			<span data-toggle="tooltip" data-placement="top" title="Buscar" style="cursor: pointer;" ng-click="getAddressByNameFn(customer.new.nameAddress, customer.select.main.province.selected.idProvinceAPIGobFk, 'main');" class="input-group-addon"><i class="fas fa-search-location"></i></span> 
      	</div>
		<ul class="list-group" ng-if="rsAddress_API_Data_Main.length>0">
			<li class="list-group-item" ng-repeat="item in rsAddress_API_Data_Main" ng-click="searchAddressByNameFn(item, 'address', 'main')">{{item.calle.nombre}} {{item.altura.valor}}, {{item.provincia.nombre}}</li>
		</ul>
	</div>
	<!-- Type Of Unit -->
	<div class="form-group col-md-12 n-padding-l n-padding-r" ng-if="((customer.new.idClientTypeFk!=2) && !customer.new.isNotClient && customer.new.typeInmueble==1)" ng-class="
								  			{	'has-success': 
								  				customer.new.idCategoryDepartamentFk!='' &&
								  				customer.new.idCategoryDepartamentFk!=undefined &&
								  				 fNewCustomer.deparment_type.$valid,
								  			 	'has-error':  
								  				(customer.new.idCategoryDepartamentFk=='' || customer.new.idCategoryDepartamentFk==undefined) && fNewCustomer.deparment_type.$touched,
								  			}">
	  	<label style="padding-left: 25px;">Tipo de Unidad</label>
	    <div class="col-xs-12 selectContainer">
		    <div class="input-group">
		    	<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
		  		<select name="deparment_type" 
		  				class="form-control"
		  				ng-change="customer.news.department=''; customer.new.floor=''; setNewDeptoFloor(customer.new.idCategoryDepartamentFk);"
		  				ng-options="item.idCategoryDepartament as item.categoryDepartament for item in rsCategoryDeptoData" 
		  				ng-required="(customer.new.isNotCliente=='1')"
		  				ng-model="customer.new.idCategoryDepartamentFk" autofocus >
				    <option value="">Selecciona un tipo</option>
			    </select>
		    </div>
	  	</div>
	</div>	
	<!-- floor number for a building that is going to register as a Non-customer -->
	<div class="form-group col-md-6" ng-if="((customer.new.idClientTypeFk!=2) && !customer.new.isNotClient && customer.new.typeInmueble==1)" ng-class="
			  			{	'has-success':
			  				(customer.new.floor.length==2 && customer.new.floor!='' && fNewCustomer.numberOfFloor.$valid) || 
			  				(customer.new.floor.length>=1 && customer.new.floor>0 && fNewCustomer.numberOfFloor.$valid),
			  				'has-error': 
			  				(customer.new.floor.length==0 && customer.new.floor.length<1) && fNewCustomer.numberOfFloor.$touched || 
			  				(customer.new.floor=='' || customer.new.floor==undefined) && fNewCustomer.numberOfFloor.$touched
			  			}">
	  	<label style="padding-left: 25px;">Piso</label>  
	    <div class="input-group">
	    	<span class="input-group-addon"><i class="fas fa-building"></i></span>
	  		<input name="numberOfFloor" 
	  				class="form-control text-uppercase input--floor" 
	  				placeholder="Piso"
	  				ng-disabled="(customer.new.isNotClient) || (customer.new.idCategoryDepartamentFk!='1' && customer.new.idCategoryDepartamentFk!='5' && customer.new.idCategoryDepartamentFk!='6')"
	  				ng-required="(!customer.new.isNotClient)"
	  				ng-model="customer.new.floor" type="text"
	  				ng-keydown="fnLoadPhoneMask(); enabledNextBtn(); setNewDeptoFloor(customer.new.idCategoryDepartamentFk);"
	  				allow-typing="^(pb|PB)|^([0-9]|[\d]){1,2}\b$" autofocus >
	    </div>
	</div>	
	<!-- department number for a building that is going to register as a Non-customer -->
	<div class="form-group col-md-6" ng-if="((customer.new.idClientTypeFk!=2) && !customer.new.isNotClient && customer.new.typeInmueble==1)" ng-class="
			  			{	'has-success': 
			  				(customer.new.department.length>=1 && fNewCustomer.nameDepto.$valid),
			  				'has-error': 
			  				(customer.new.department.length==0 && customer.new.department.length<1) && fNewCustomer.nameDepto.$touched || 
			  				(customer.new.department=='' || customer.new.department==undefined) && fNewCustomer.nameDepto.$touched
			  			}">
	  	<label style="padding-left: 25px;">Departamento</label>  
	    <div class="input-group">
	    	<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
	  		<input name="nameDepto" 
	  				class="form-control text-uppercase input--depto" 
	  				placeholder="Depto"
	  				ng-disabled="customer.new.isNotClient || customer.new.idCategoryDepartamentFk=='5'"
	  				ng-required="(!customer.new.isNotClient)" 
	  				ng-model="customer.new.department" type="text"
	  				ng-keydown="fnLoadPhoneMask(); enabledNextBtn();"
	  				allow-typing="^([a-zA-Z]|[\d])|^([0-9]|[\d]){1,4}\b$" autofocus >
	    </div>
	</div>
	<div ng-if="((customer.new.idClientTypeFk!=2) && !customer.new.isNotClient && customer.new.typeInmueble==1)" class="form-group col-md-12">
		<span class="label label-default text-uppercase">Pisos segun Tipo de unidad</span>
	</div>
	<div ng-if="((customer.new.idClientTypeFk!=2) && !customer.new.isNotClient && customer.new.typeInmueble==1)" class="form-group col-md-12">				
		<span class="label label-warning">CO</span><span class="label label-default">CHERA</span>
		<span class="label label-warning">LO</span><span class="label label-default">CAL</span>			
		<span class="label label-warning">BA</span><span class="label label-default">ULERA</span>
	</div>	
	<!-- Address for customer differents than building -->
	<!-- Address for customer branch & Particular where the building is registered already -->
	<div class="form-group col-md-12 n-padding-l n-padding-r" ng-if="(customer.new.idClientTypeFk!=2) && customer.new.isNotClient" ng-class="
								  			{	'has-success': 
								  				customer.select.main.address.selected!=undefined && fNewCustomer.customer_address_registered.$valid,
								  			 	'has-error':  
								  				(customer.select.main.address.selected==undefined) && fNewCustomer.customer_address_registered.$touched,
								  			}">
	  <label style="padding-left: 25px;">Direcci&#243n</label>  
	    <div class="col-sm-12">
		    <!-- ######################################################################################################### -->
		    <div class="input-group">
              	<span class="input-group-addon"><i class="fas fa-map-marked-alt"></i></span>
	          	<ui-select name="customer_address_registered"  
	          			 ng-required="(customer.new.idClientTypeFk!=2) && customer.new.isNotClient" 
	          			 ng-change="getBuildingsDeptosFn(customer.select.main.address.selected.idClient); enabledNextBtn(); customer.select.main.department='';" 
	          			 ng-model="customer.select.main.address.selected"
	          			 theme="bootstrap" autofocus>
	              <ui-select-match placeholder="Selecciona un edificio">{{$select.selected.address | uppercase}}</ui-select-match>
	                <ui-select-choices class="ui-select-choices" repeat="item in rsBuildingAddressData | filter: $select.search">
	                  <div ng-bind-html="item.address | highlight: $select.search"></div>
	                    <small ng-bind-html="item.province | highlight: $select.search"></small>
	                    <small ng-if="item.isNotCliente=='0'" class="label label-success">Cliente</small>
	                    <small ng-if="item.isNotCliente=='1'" class="label label-warning">No Cliente</small>
	                </ui-select-choices>
	                <ui-select-no-choice>
					    No hay resultados, contacte are de soporte.
				  	</ui-select-no-choice>
	            </ui-select>
           	</div>
        </div>
	</div>
	<!-- Address for customer Particular -->
	<!-- Deparments for customer compnay & Particular -->
	<div class="form-group col-md-12 n-padding-l n-padding-r" ng-if="(customer.new.idClientTypeFk!=2) && customer.new.isNotClient" ng-class="
								  			{	'has-success': 
								  				customer.select.main.department!='' &&
								  				customer.select.main.department!=undefined &&
								  				 fNewCustomer.deparment_registered.$valid,
								  			 	'has-error':  
								  				(customer.select.main.department=='' || customer.select.main.department==undefined) && fNewCustomer.deparment_registered.$touched,
								  			}">
	  	<div class="col-md-6 col-xs-6">
	  		<label style="padding-left: 25px;">Departamento</label>
	  	</div>
		<div class="col-md-6 col-xs-6 pull-rigth">
	  		<button ng-show="customer.select.main.address.selected.isNotCliente=='1'" style="margin-left: 80px;" ng-click="setDepto2CustomerNotClient(customer.select.main.address.selected)" class="btn btn-xs btn-success"><i class="fas fa-plus"></i> Nuevo</button>
	  	</div>
	    <div class="col-xs-12 selectContainer">
		    <div class="input-group">
		    	<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
		  		<select name="deparment_registered" 
		  				class="form-control" 
		  				ng-disabled="!customer.new.isNotClient || customer.select.main.address.selected==undefined" 
		  				ng-options="item.idDepto as item.Depto for item in rsBuildingDepartmentsData" 
		  				ng-required="(customer.new.idClientTypeFk!=2) && customer.new.isNotClient"
		  				ng-change="enabledNextBtn();" 
		  				ng-model="customer.select.main.department" autofocus >
				    <option value="">Selecciona un departamento</option>
			    </select>
		    </div>
	  </div>
	</div>
	<!-- // Deparments for customer compnay & Particular -->
	<!-- State List-->
    <div class="form-group col-md-12" ng-if="(customer.new.idClientTypeFk==2) || ((customer.new.idClientTypeFk!=2) && !customer.new.isNotClient)" ng-class="
								  			{	'has-success': 
								  				customer.select.main.province.selected!=undefined && fNewCustomer.new_province.$valid,
								  			 	'has-error':  
								  				(customer.select.main.province.selected==undefined) && fNewCustomer.new_province.$touched,
								  			}">
      <label style="padding-left: 15px;">Provincia</label> 
        <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-map-marked-alt"></i></span>
                    <ui-select name="new_province" 
                    			class="dropdown-select" 
                    			ng-model="customer.select.main.province.selected"  
                    			ng-change="getLocationByIdFn(customer.select.main.province.selected.idProvince); getCurrentAddrVal(customer.select.main.province.selected, customer.select.main.location.selected); enabledNextBtn();" 
                    			required="(customer.new.idClientTypeFk==2) || ((customer.new.idClientTypeFk!=2) && !customer.new.isNotClient && customer.new.typeInmueble!='')" autofocus>
                        <ui-select-match placeholder="Seleccione una provincia">{{$select.selected.province | uppercase}}</ui-select-match>
                        <ui-select-choices repeat="item in rsStatesData | filter: $select.search">
                          <div ng-bind-html="item.province | uppercase | highlight: $select.search"></div>
                            <!--<small>Costo de Gestion: </small><small ng-bind-html="item.priceManagement | highlight: $select.search"></small>
                            <small>Costo de Envio: </small><small ng-bind-html="item.priceShipping | highlight: $select.search"></small>-->
                        </ui-select-choices>
	                    <ui-select-no-choice>
						    No hay resultados, contacte are de soporte.
					  	</ui-select-no-choice>
                    </ui-select>
        </div>
    </div>
	<!-- Localidad list-->
    <div class="form-group col-md-12" ng-if="(customer.new.idClientTypeFk==2) || ((customer.new.idClientTypeFk!=2) && !customer.new.isNotClient)" ng-class="
								  			{	'has-success': 
								  				customer.select.main.location.selected!=undefined && fNewCustomer.new_Localidad.$valid,
								  			 	'has-error':  
								  				(customer.select.main.location.selected==undefined) && fNewCustomer.new_Localidad.$touched,
								  			}">
      <label style="padding-left: 15px;">Localidad</label> 
        <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-map-marked-alt"></i></span>
                    <ui-select name="new_Localidad" 
                    			class="dropdown-select" 
                    			ng-model="customer.select.main.location.selected" 
                    			ng-disabled="!customer.select.main.province.selected.idProvince  && !customer.new.nameAddress" 
                    			required="(customer.new.idClientTypeFk==2) || ((customer.new.idClientTypeFk!=2) && !customer.new.isNotClient && customer.new.typeInmueble!='')" 
                    			ng-change="getCurrentAddrVal(customer.select.main.province.selected, customer.select.main.location.selected); enabledNextBtn();" 
                    			autofocus>
                        <ui-select-match placeholder="Seleccione una localidad">{{$select.selected.location | uppercase}}</ui-select-match>
                        <ui-select-choices repeat="item in rsLocations_All | filter: $select.search">
                          <div ng-bind-html="item.location | uppercase | highlight: $select.search"></div>
                            <!--<small>Costo de Gestion: </small><small ng-bind-html="item.priceManagement | highlight: $select.search"></small>
                            <small>Costo de Envio: </small><small ng-bind-html="item.priceShipping | highlight: $select.search"></small>-->
                        </ui-select-choices>
	                    <ui-select-no-choice>
						    No hay resultados, contacte are de soporte.
					  	</ui-select-no-choice>
                    </ui-select>
        </div>
    </div>
</div>
