
<!-- COMPANY PROFILE FORM -->
<div id="ProfileModalCompany" class="modal fade bd-example-modal-lg" style="top: 130px;" role="dialog">
  	<div class="modal-dialog modal-lg" >
	    <div class="modal-content">
          	<div class="modal-header">
          		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i alt="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></span><span class="sr-only">Close</span></button>
            	<h3 class="modal-title">DATOS DE LA EMPRESA</h3>
        	</div>
    		<div class="modal-body"  style="overflow-y: scroll;">
				<!-- FORM CONTAINER-->
				<form class="form-horizontal" name="fProfileCompany" novalidate>
					<fieldset>
					<!-- Company Name -->
					<div class="form-group col-md-12">
					  <label style="padding-left: 15px;">Empresa</label>  
						  <div class="col-xs-12">
							  <div class="input-group">
								  <span class="input-group-addon"><i class="glyphicon icon-building"></i></span>
								  <input  name="companyName" autofocus="true" placeholder="Empresa / Administracion" class="form-control" ng-model="sysCompany.nameCompany"  type="text" readonly="true" />
							  </div>
						  </div>
					</div>
					<!-- Service Mail-->
					<div class="form-group col-md-12">
					 <label style="padding-left: 15px;">E-Mail[Servicio]</label>  
					   <div class="col-xs-12">
						    <div class="input-group">
						    	<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
						  		<input name="emailService" placeholder="Servicios" class="form-control" ng-model="sysCompany.emailService"  type="email"  autofocus />
						    </div>
					  	<br>
							<div ng-if="emailFound && sessionidProfile!=0" class="alert alert-danger" role="alert">
			            		<strong><i class="fas fa-ban">&nbsp </i>ATENCION: </strong>la direccion de correo ingresada se encuentra registrada.
		            		  	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
  								</button>
			        		</div>
		        		</div>
					</div>
					<!-- Request Mail-->
					<div class="form-group col-md-12">
					 <label style="padding-left: 15px;">E-Mail[Pedidos]</label>  
					   <div class="col-xs-12">
						    <div class="input-group">
						    	<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
						  		<input name="emailRequest" placeholder="Pedidos" class="form-control" ng-model="sysCompany.emailRequest"  type="email"  autofocus />
						    </div>
					  	<br>
							<div ng-if="emailFound && sessionidProfile!=0" class="alert alert-danger" role="alert">
			            		<strong><i class="fas fa-ban">&nbsp </i>ATENCION: </strong>la direccion de correo ingresada se encuentra registrada.
		            		  	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
  								</button>
			        		</div>
		        		</div>
					</div>
					<!-- Admin Mail-->
					<div class="form-group col-md-12">
					 <label style="padding-left: 15px;">E-Mail[Administrativo]</label>  
					   <div class="col-xs-12">
						    <div class="input-group">
						    	<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
						  		<input name="emailAdmin" placeholder="Servicios" class="form-control" ng-model="sysCompany.emailAdmin"  type="email"  autofocus />
						    </div>
					  	<br>
							<div ng-if="emailFound && sessionidProfile!=0" class="alert alert-danger" role="alert">
			            		<strong><i class="fas fa-ban">&nbsp </i>ATENCION: </strong>la direccion de correo ingresada se encuentra registrada.
		            		  	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
  								</button>
			        		</div>
		        		</div>
					</div>
					<!--<div class="form-group col-md-6">
					  <label style="padding-left: 15px;">Telefono contacto</label>  
					    <div class="col-xs-12">
						    <div class="input-group">
						        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
						  		<input name="phoneLocal" ng-minlength="10" class="form-control input--local" ng-model="sysCompany.phonelocal" type="text" autofocus />
						    </div>
					  </div>
					</div>-->
					<h3 style="text-align: center;">Direcciones Asociadas</h3>
			      	<div class="modal-body pre-scrollable">
        				<table class="table  table-striped ">
		                    <thead style=" background: #4d5d6f; color: white;">
		                        <tr >
		                            <th># ID</th>
		                            <th>Direccion</th>
		                            <th>Costo Gestion</th>
		                            <th>Costo Envio</th>
		                            <th>Codigo de Seguridad</th>
		                    </thead>
		                    <tbody >
		                        <tr style="align-content: center;" ng-repeat="iAddress in companyAddress">
		                        
		                        	<td>{{iAddress.idAdress}}</td>
			                        <td>{{iAddress.nameAdress}}</td>
			                        <td>{{iAddress.priceManagement}}</td>
			                        <td>{{iAddress.priceShipping}}</td>
			                        <td>{{iAddress.IdSecurityCode}}</td>
			                    </tr>
			                </tbody>
        				</table>
    				</div>
					</fieldset>
				</form>
				<div class="clearfix"> </div> 
			</div>
			<!-- Actions Button -->
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 pull-right">
                        <button type="submit" ng-click="sysUpdateCompanyFn()" ng-disabled="fProfileCompany.$invalid" class="btn btn-labeled btn-success">
                            <span class="btn-label"><i class="glyphicon glyphicon-send"></i> </span>Actualizar</button>
                        <a data-dismiss="modal" type="button" class="btn btn-labeled btn-danger">
                            <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Cancelar</a>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>
