<!-- SELECT USER TO LOGIN  -->
<div id="SelectUserFirst" style="top: 210px;" class="modal modal-dialog-centered" role="dialog">
	<div class="modal-dialog modal-lg" >
	    <div class="modal-content" style="background-color: #fff0; border: 0px solid #9990;">
	    	<div class="modal-body" style="padding: 0px;">
				<!-- FORM CONTAINER-->
				<div class="col-md-12"> 
					<!-- Department-->
				    <div ng-repeat="item in user2LoginList" class="col-md-6 card-depto-colum" ng-click="getSelectedUSer2Login(item)" >
				        <div class="card-depto cyan white-text text-center">
				            <div class="card-depto-content">
				                <i ng-if="item.idStatusKf=='0'" class="fas fa-user-lock"></i>
                                <i ng-if="((item.idProfileKf=='3' && item.idTypeTenantKf=='1') || (item.idProfileKf=='5' && item.idTypeTenantKf=='2')) && item.idStatusKf=='1'" class="fas fa-user"></i>
                                <i ng-if="item.idProfileKf=='1' && item.idStatusKf=='1'" class="fas fa-users-cog"></i>
								<i ng-if="item.idProfileKf=='4' && item.idStatusKf=='1'" class="fas fa-user-tie"></i>
				            </div>
				            <h3>{{item.fullNameUser}}</h3>
                            <label data-toggle="tooltip" data-placement="top" title="Perfil" class="label label-default">{{item.nameProfile}}</label>
                            <label style="cursor: pointer;" data-toggle="tooltip" data-placement="top" title="{{item.statusTenantName}}" ng-if="item.idStatusKf=='1' && item.isConfirmatedMail=='1'" class="label label-success"><i class="fas fa-check-square"></i></label>
                            <label style="cursor: pointer;" data-toggle="tooltip" data-placement="top" title="{{item.statusTenantName}}" ng-if="item.idStatusKf=='0' && (item.isConfirmatedMail=='0' || item.isConfirmatedMail=='1')" class="label label-danger"><i class="fas fa-lock"></i></label>
                            <label style="cursor: pointer;" data-toggle="tooltip" data-placement="top" title="Confirmar correo" ng-if="item.isConfirmatedMail=='0'" class="label label-danger"><i class="fas fa-envelope-square"></i></label>
                            
				        </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //SELECT USER TO LOGIN -->