<!-- Modal Password Change -->
<div id="PasswdModalUser" style="top: 130px;" class="modal fade modal-dialog-centered" role="dialog">
	<div class="modal-dialog modal-lg" >
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title"><i class="product-success fas fa-user-lock"></i> Cambio de Contrase&#241a<a data-dismiss="modal" data-toggle="tooltip" data-placement="top" title="Cerrar" class="close"><i  class="glyphicon glyphicon-remove-sign"> </i></a></h3>
			</div>
			<div class="modal-body">
				<!-- FORM CONTAINER-->
				<div class="col-xs-12 col-sm-6 col-md-6 ">
					<form class="form-horizontal" name="fChPwd" autocomplete="off" novalidate>
						<!-- New Password-->
						<div class="form-group">
						<label class="col-xs-12">Nueva Contrase&#241a</label>  
							<div class="col-md-12">
								<div class="input-group">
									<span class="input-group-addon">
										<i ng-if="!fChPwd.pwd1.$valid && !fChPwd.pwd2.$valid" class="glyphicon glyphicon-lock"></i>
										<i ng-if="fChPwd.pwd1.$valid && fChPwd.pwd2.$valid" class="glyphicon glyphicon-ok"></i>
									</span>
									<input placeholder="Contrase&#241a" 
											class="form-control" 
											aria-describedby="passwordHelpBlock1" 
											ng-model="chg.pwd1" 
											type="password" 
											name="pwd1"
											id="pwd1"
											ng-keyup="regexChecker(chg.pwd1)" 
											no-spaces 
											password-confirm match-target="chg.pwd2" 
											required autofocus />
								</div>
								<small id="passwordHelpBlock1" class="form-text text-muted">
									<span class="bg-success" ng-if="regexRules.lowerChar && regexRules.uperChar && regexRules.numberChar && regexRules.specialChar && regexRules.minChar && fChPwd.pwd1.$error.match-target">Confirma la clave en el siguiente campo</span>
								</small>
							</div>
						</div>
						<!-- New Password Check-->
						<div class="form-group">
						<label class="col-xs-12">Confirme Contrase&#241a</label>  
							<div class="col-md-12">
								<div class="input-group">
									<span class="input-group-addon">
										<i ng-if="!fChPwd.pwd1.$valid && !fChPwd.pwd2.$valid" class="glyphicon glyphicon-lock"></i>
										<i ng-if="fChPwd.pwd1.$valid && fChPwd.pwd2.$valid" class="glyphicon glyphicon-ok"></i>
									</span>
									<input placeholder="Confirme Contrase&#241a" 
											name="pwd2" 
											aria-describedby="passwordHelpBlock2" 
											class="form-control" 
											ng-model="chg.pwd2" 
											type="password" 
											no-spaces password-confirm match-target="chg.pwd1" 
											required autofocus />
								</div>
								<small  id="passwordHelpBlock2" class="form-text text-muted">
									<span class="bg-danger" ng-show="fChPwd.pwd2.$error.match-target && fChPwd.pwd2.$touched">Las claves no coinciden, por favor verificar.</span>
								</small>
							</div>
						</div>
					</form>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 ">
					<div class="newPwdRules">
						<div class="panel panel-default panel-primary">
							<div class="panel-body">
								<ul class="ulPwdRules">
									<li>
										<span class="form-text">
											<i 
												ng-class="{
													'success-Rules': 
														regexRules.lowerChar && (fChPwd.pwd1.$error.match-target || !fChPwd.pwd1.$error.match-target), 
													'danger-Rules': 
														!regexRules.lowerChar
														}"
												class="iPwdRules glyphicon glyphicon-ok-circle">
											</i> Contiene un caracter en minuscula</span></li>
									<li>
										<span class="form-text">
											<i 
												ng-class="{
													'success-Rules': 
														regexRules.uperChar && (fChPwd.pwd1.$error.match-target || !fChPwd.pwd1.$error.match-target), 
													'danger-Rules': 
														!regexRules.uperChar
														}"
												class="iPwdRules glyphicon glyphicon-ok-circle">
											</i> Contiene un caracter en mayuscula</span></li>
									<li>
										<span class="form-text">
											<i 
												ng-class="{
													'success-Rules': 
														regexRules.numberChar && (fChPwd.pwd1.$error.match-target || !fChPwd.pwd1.$error.match-target), 
													'danger-Rules': 
														!regexRules.numberChar
														}"
												class="iPwdRules glyphicon glyphicon-ok-circle">
											</i> Contiene un caracter numerico</span></li>
									<li>
										<span class="form-text">
											<i 
												ng-class="{
													'success-Rules': 
														regexRules.specialChar && (fChPwd.pwd1.$error.match-target || !fChPwd.pwd1.$error.match-target), 
													'danger-Rules': 
														!regexRules.specialChar
														}"
												class="iPwdRules glyphicon glyphicon-ok-circle">
											</i> Contiene un caracter especial</span></li>
									<li>
										<span class="form-text">
											<i 
												ng-class="{
													'success-Rules': 
														regexRules.minChar && (fChPwd.pwd1.$error.match-target || !fChPwd.pwd1.$error.match-target), 
													'danger-Rules': 
														!regexRules.minChar
														}"
												class="iPwdRules glyphicon glyphicon-ok-circle">
											</i> Contiene al menos de 8 caracteres</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div> 
			</div>
			<!-- Actions Button -->
			<div class="modal-footer">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-6 pull-right">
						<button type="submit" ng-click="sysPwdChangeFn()" ng-disabled="!regexRules.lowerChar || !regexRules.uperChar || !regexRules.numberChar || !regexRules.specialChar || !regexRules.minChar || fChPwd.pwd1.$error.match-target || fChPwd.pwd2.$error.match-target" class="btn btn-labeled btn-success">
							<span class="btn-label"><i class="glyphicon glyphicon-send"></i> </span>Enviar</button>
						<a data-dismiss="modal" type="button" class="btn btn-labeled btn-danger">
							<span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Cancelar</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>