<!-- Modal Password Change -->
<div id="PasswdModalUser" style="top: 130px;" class="modal fade modal-dialog-centered" role="dialog">
		<div class="modal-dialog modal-md" >
	    <div class="modal-content">
          	<div class="modal-header">
            	<h3 class="modal-title"><i class="product-success fas fa-user-lock"></i> Cambio de Contrase&#241a<a data-dismiss="modal" data-toggle="tooltip" data-placement="top" title="Cerrar" class="close"><i  class="glyphicon glyphicon-remove-sign"> </i></a></h3>
        	</div>
    		<div class="modal-body">
				<!-- FORM CONTAINER-->
				<form class="form-horizontal" name="fChPwd" autocomplete="off" novalidate>
					<!-- New Password-->
					<div class="form-group">
					  <label class="col-xs-12">Nueva Contrase&#241a</label>  
					    <div class="col-md-12">
						    <div class="input-group">
						        <span class="input-group-addon">
							        <i ng-if="!fChPwd.pwd1.$valid && !fChPwd.pwd2.$valid" class="glyphicon glyphicon-lock"></i>
						  			<i ng-if="fChPwd.pwd1.$valid && fChPwd.pwd2.$valid" class="glyphicon glyphicon-ok"></i>
						        </span>
						  		<input placeholder="Contrase&#241a" class="form-control" aria-describedby="passwordHelpBlock" ng-model="chg.newPwd1" ng-minlength="8" type="password" name="pwd1" password-confirm match-target="chg.newPwd2" required autofocus />
						    </div>
						    <small id="passwordHelpBlock1" class="form-text text-muted">
								<span ng-if="!chg.newPwd1 && !fChPwd.pwd1.$error.minlength" class="text-info">La clave debe contener minimo 8 caracteres alfanumericos.</span> 
								<span class="bg-warning" ng-if="fChPwd.pwd1.$error.minlength">Su clave no cumple con el minimo requerido</span>
								<span class="bg-success" ng-if="chg.newPwd1 && !fChPwd.pwd1.$error.minlength && fChPwd.pwd2.$error.match">Confirma la clave en el proximo campo</span>
							</small>
						</div>
					</div>
					<!-- New Password Check-->
					<div class="form-group">
					  <label class="col-xs-12">Confirme Contrase&#241a</label>  
					    <div class="col-md-12">
						    <div class="input-group">
						        <span class="input-group-addon">
						        	<i ng-if="!fChPwd.pwd1.$valid && !fChPwd.pwd2.$valid" class="glyphicon glyphicon-lock"></i>
					  				<i ng-if="fChPwd.pwd1.$valid && fChPwd.pwd2.$valid" class="glyphicon glyphicon-ok"></i>
						        </span>
						  		<input placeholder="Confirme Contrase&#241a" name="pwd2" aria-describedby="passwordHelpBlock" class="form-control" ng-minlength="8" ng-model="chg.newPwd2" type="password" password-confirm match-target="chg.newPwd1" required autofocus />
						    </div>
							<small  id="passwordHelpBlock2" class="form-text text-muted">
								<span ng-if="!chg.newPwd2 && !fChPwd.pwd2.$error.minlength && !chg.newPwd2" class="text-info">La clave debe contener minimo 8 caracteres alfanumericos.</span> 
								<span class="bg-warning" ng-if="fChPwd.pwd2.$error.minlength">Su clave no cumple con el minimo requerido</span>
								<span ng-if="fChPwd.password1.$valid && fChPwd.pwd2.$valid"><i class="glyphicon glyphicon-ok"></i></span>
								<span class="bg-danger" ng-show="fChPwd.pwd2.$error.match && !fChPwd.pwd2.$error.minlength && chg.newPwd2">Las claves no coinciden, por favor verificar.</span>
							</small>
						</div>
					</div>
				</form>
			</div>
			<!-- Actions Button -->
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 pull-right">
                        <button type="submit" ng-click="sysFunctionsUser('chgPwdUser')" ng-disabled="fChPwd.$invalid" class="btn btn-labeled btn-success">
                            <span class="btn-label"><i class="glyphicon glyphicon-send"></i> </span>Enviar</button>
                        <a data-dismiss="modal" type="button" class="btn btn-labeled btn-danger">
                            <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Cancelar</a>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>