<!-- USER PROFILE FORM -->
<div id="ProfileModalUser" style="top: 130px;" ng-controller="UsersCtrl" class="modal fade modal-dialog-centered" role="dialog">
  		<div class="modal-dialog modal-lg" >
	    <div class="modal-content">
          	<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i alt="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></span><span class="sr-only">Close</span></button>
            	<h3 class="modal-title"><i class="product-success fas fa-address-card"></i> PERFIL DE USUARIO
					<span style="margin-top: -0.4em;" class="badge badge-success" ng-if="profile.idStatusKf=='1'"><i class="fas fa-check-circle"></i> {{profile.statusTenantName}}</span>
					<span style="margin-top: -0.4em;" class="badge badge-warning" ng-if="profile.idStatusKf=='0'"><i class="fas fa-exclamation-triangle"></i> {{profile.statusTenantName}}</span>
				</h3>
        	</div>


    		<div class="modal-body">
				<!-- FORM CONTAINER-->
				<form class="form-horizontal" name="fUserProfile" novalidate>
					<!-- Select profile -->
					<div class="col-md-6 form-group">
					  	<label style="padding-left: 15px;">Perfil</label>
					    <div class="col-md-12 selectContainer">
						    <div class="input-group">
						        <span class="input-group-addon"><i class="fas fa-address-card"></i></span>
								    <span class="form-control disabled readonly">{{profile.nameProfile}}</span>
						  	</div>
						</div>
					</div>
					<!-- Company List-->
					<div ng-show="sessionidProfile==2 || sessionidProfile==4" class="col-md-6 form-group">
						<label style="padding-left: 15px;">Empresa</label>
					    <div class="col-md-12">
						    <div class="input-group">
						        <span class="input-group-addon"><i class="glyphicon glyphicon-cog"></i></span>
						  		<span class="form-control disabled">{{sessionNameCompany}}</span>
						    </div>
					  	</div>
					</div>
					<!-- Form First Name -->
					<div class="col-md-6 form-group">
					  <label style="padding-left: 15px;">Nombres</label>
						  <div class="col-md-12">
							  <div class="input-group">
								  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
								  <input  id="profileNames" name="profileNames" autofocus="true" placeholder="Nombre" class="form-control" ng-model="profile.fullNameUser"  type="text" autofocus required />
							  </div>
						  </div>
					</div>
					<!-- DNI-->
					<div class="col-md-6 form-group">
						<label style="padding-left: 15px;">Documento de identidad (DNI)</label>
						  <div class="col-md-12">
						   <div class="input-group">
							   <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
								 <input name="profileDNI" placeholder="DNI" class="form-control" ng-model="profile.dni"  type="dni" autofocus readonly />
						   </div>
						 </div>
				   </div>
					<!-- Text Mail-->
					<div class="col-md-6 form-group">
					 	<label style="padding-left: 15px;">E-Mail</label>
					   	<div class="col-md-12">
						    <div class="input-group">
						    	<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
						  		<input name="profileEmail" placeholder="E-Mail" class="form-control" ng-model="profile.emailUser"  type="email" autofocus required />
						    </div>
					  	</div>
					</div>
                    <!-- Text Phone-->
                    <div class="form-group col-md-6" ng-class="{
                    'has-success':
                        profile.phoneLocalNumberUser!='' && profile.phoneLocalNumberUser!=null  && fUserProfile.phoneLocal.$valid,
                    'has-warning':
                        !profile.phoneLocalNumberUser && profile.phoneMovilNumberUser,
                    'has-error':
                        !profile.phoneMovilNumberUser && !profile.phoneLocalNumberUser && fUserProfile.phoneLocal.$touched,
                    }">
                        <label style="padding-left: 15px;">Cod. Pais&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Prefijo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Telfono Fijo</label>

                        <div class="col-xs-12">
                            <div class="input-group">
                                <!-- Country Code -->
                                <div class="input-group-btn" style="width: 100px;">
                                    <ui-select
                                        class="ui-select-bootstrap-phone"
                                        name="countryCode"
                                        ng-model="select.phoneCountryWired.selected"
                                        search-enabled="true">
                                        <ui-select-match allow-clear="false"><span class="country-flag"><img ng-src="https://flagcdn.com/24x18/{{$select.selected.isoCode | lowercase}}.png" width="18" style="margin-right:5px;"> {{ $select.selected.phoneCode }}</span></ui-select-match>
                                        <ui-select-choices repeat="item in countryPhoneCodesList | filter: $select.search">
                                            <div ng-bind-html="item.phoneCode | highlight: $select.search"></div>
                                            <small  ng-bind-html="item.countryName | highlight: $select.search" class="label label-default">
                                                <img ng-src="https://flagcdn.com/24x18/{{item.isoCode | lowercase}}.png" width="18" style="margin-right:5px;"> {{item.countryName}}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <!-- Phone Prefix number -->
                                <input
                                    name="phoneLocalPrefix"
                                    ng-model="profile.phoneLocalPrefixNumber"
                                    type="text"
                                    class="form-control input-phone-prefix"
                                    ng-maxlength="4"
                                    ng-minlength="2"
                                    ng-keydown="fnLoadPhoneMask();"
                                    ng-disabled="sysDNIRegistered"
                                    placeholder="Pref."
                                    ng-required="profile.phoneMovilNumberUser==''"
                                    style="width: 28.4% !important;"
                                />
                                <!-- Phone number -->
                                <input
                                    name="phoneLocal"
                                    ng-model="profile.phoneLocalNumberUser"
                                    type="text"
                                    class="form-control input-local"
                                    ng-minlength="8"
                                    ng-keydown="fnLoadPhoneMask();"
                                    ng-disabled="sysDNIRegistered"
                                    placeholder="Num. de teléfono"
                                    ng-required="profile.phoneMovilNumberUser==''"
                                    style="width: 71.6% !important;"
                                />
                            <!-- Icon on the right -->
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-earphone"></i>
                            </span>
                            </div>
                        </div>
                    </div>
                    <!-- Movil Phone-->
                    <div class="form-group col-md-6" ng-class="{
                    'has-success':
                        profile.phoneMovilNumberUser!='' && profile.phoneMovilNumberUser!=null  && fUserProfile.phoneMovil.$valid,
                    'has-warning':
                        !profile.phoneMovilNumberUser && profile.phoneLocalNumberUser,
                    'has-error':
                        !profile.phoneMovilNumberUser && !profile.phoneLocalNumberUser && fUserProfile.phoneMovil.$touched,
                    }">
                        <label style="padding-left: 15px;">Cod. Pais&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Prefijo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Telfono Móvil</label>

                        <div class="col-xs-12">
                            <div class="input-group">
                                <!-- Country Code -->
                                <div class="input-group-btn" style="width: 100px;">
                                    <ui-select
                                        class="ui-select-bootstrap-phone"
                                        name="countryCode"
                                        ng-model="select.phoneCountryMovil.selected"
                                        search-enabled="true">
                                        <ui-select-match allow-clear="false"><span class="country-flag"><img ng-src="https://flagcdn.com/24x18/{{$select.selected.isoCode | lowercase}}.png" width="18" style="margin-right:5px;"> {{ $select.selected.phoneCode }}</span></ui-select-match>
                                        <ui-select-choices repeat="item in countryPhoneCodesList | filter: $select.search">
                                            <div ng-bind-html="item.phoneCode | highlight: $select.search"></div>
                                            <small  ng-bind-html="item.countryName | highlight: $select.search" class="label label-default">
                                                <img ng-src="https://flagcdn.com/24x18/{{item.isoCode | lowercase}}.png" width="18" style="margin-right:5px;"> {{item.countryName}}
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <!-- Phone Prefix number -->
                                <input
                                    name="phoneMovilPrefix"
                                    ng-model="profile.phoneMovilPrefixNumber"
                                    type="text"
                                    class="form-control input-phone-prefix"
                                    ng-minlength="2"
                                    ng-maxlength="4"
                                    ng-keydown="fnLoadPhoneMask();"
                                    ng-disabled="sysDNIRegistered"
                                    placeholder="Pref."
                                    ng-required="profile.phoneLocalNumberUser==''"
                                    style="width: 28.4% !important;"
                                />
                                <!-- Phone number -->
                                <input
                                    name="phoneMovil"
                                    ng-model="profile.phoneMovilNumberUser"
                                    type="text"
                                    class="form-control input-movil"
                                    ng-minlength="8"
                                    ng-keydown="fnLoadPhoneMask();"
                                    ng-disabled="sysDNIRegistered"
                                    placeholder="Num. de teléfono"
                                    ng-required="profile.phoneLocalNumberUser==''"
                                    style="width: 71.6% !important;"
                                />
                            <!-- Icon on the right -->
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-earphone"></i>
                            </span>
                            </div>
                        </div>
                    </div>
				</form>
				<div class="clearfix"> </div>
			</div>
			<!-- Actions Button -->
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 pull-right">
                        <button type="submit" ng-click="modalConfirmationMenu('updateSysUser', 0, profile)" ng-disabled="fUserProfile.$invalid" class="btn btn-labeled btn-success">
                            <span class="btn-label"><i class="glyphicon glyphicon-send"></i> </span>Enviar</button>
                        <a data-dismiss="modal" type="button" class="btn btn-labeled btn-danger">
                            <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Cancelar</a>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>
<div ng-include="'views/utilities/modalEmailChange.html'"></div>
