<!-- KEY DELETE FORM -->
<div id="deleteSingleKey" class="modal fade bd-example-modal-lg" style="top: 130px;" role="dialog">
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="modalConfirmation('closeWindow', 0, null)"><span aria-hidden="true"><i alt="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></span><span class="sr-only">Close</span></button>
                <h3 class="modal-title"><i class="product-success fas fa-key"></i> ELIMINAR LLAVERO - <label class="label label-default">{{keys.update.buildingAddress}}</label> <label class="badge badge-warning font-size-18px">{{keys.update.idKeychainString}}</label>
                </h3>
            </div>
            <div class="modal-body"  style="overflow-y: scroll;">
                <!-- FORM CONTAINER-->
                <form class="form-horizontal" name="fDeleteKey" novalidate>
                    <fieldset>
                        <div class="col-md-12 form-group">
                            <div class="col-md-4" ng-repeat="reason in reasonDisabledKey | filter: {idReasonDisabledItem: '!4'}">
                                <div class="col-md-12 col-xs-12 depto-widget well well-md n-padding-l n-padding-r" data-toggle="tooltip" data-placement="bottom" title="{{reason.reasonDisabledItem}}">
                                    <div class="depto-icon">
                                        <span>
                                            <span ng-if="reason.idReasonDisabledItem=='1'"><i class="product-success fas fa-mask"></i></span>
                                            <span ng-if="reason.idReasonDisabledItem=='2'"><i class="product-success fas fa-search-location"></i></span>
                                            <span ng-if="reason.idReasonDisabledItem=='3'"><i class="product-success fas fa-key"></i></span>
                                        </span>
                                    </div>
                                    <div class="text">
                                        <div class="col-md-12 col-xs-12 n-padding-r n-padding-l">
                                            <input id="idReason-{{reason.idReasonDisabledItem}}" class="radio-custom" type="radio" ng-click="mainSwitchFn('setReason', reason, null);" name="idReason" value="{{reason.idReasonDisabledItem}}" ng-model="keys.update.reason" required autofocus>
                                            <label for="idReason-{{reason.idReasonDisabledItem}}" class="radio-custom-label" style="margin-top: 4%; height: 47px;">
                                                <span class="badge badge-default">{{reason.reasonDisabledItem}}</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
						<!-- Observaciones Adicionales -->
                        <!-- Form Special Request sru= Special Request Up -->
                        <div class="form-group col-md-12">
                            <label class="col-xs-12" >Observaciones Adicionales</label> 
                            <div class="col-md-12 col-xs-12 input-group">
                                <textarea style="resize: vertical;" name="sruTenant" rows="4" placeholder="Describa aqui si desea realizar una nota adicional." class="form-control" ng-model="keys.update.description" ></textarea>
                            </div>
                        </div>
                        <div ng-if="keys.update.categoryKey=='1'" class="form-group col-md-12 col-sm-12 col-xs-12" ng-class="
                        {	'has-success': (keys.update.department!='' && keys.update.department!=undefined && fDeleteKey.department.$valid) ||
                                           (select.department!='' && select.department!=undefined),
                             'has-error':  
                            (keys.update.department=='' || keys.update.department==undefined) && fDeleteKey.department.$touched,
                        }">
                        <label style="padding-left: 15px;">Departamento</label>  
                        <div class="col-xs-12 selectContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <select name="department" 
                                        class="form-control text-uppercase"
                                        ng-disabled="true"
                                        ng-options="item.idClientDepartament as item.floor+'-'+item.departament for item in ListDpto" 
                                        ng-required="update.building.selected!=undefined" 
                                        ng-model="keys.update.department" autofocus >
                                    <option value="">Seleccione una opci&#243n</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- List Category Key Type-->
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" ng-class="
                        {	'has-success': 
                            keys.update.categoryKey!=undefined && keys.update.categoryKey!='' && fDeleteKey.categoryKey.$valid,
                            'has-error':  
                            (keys.update.categoryKey==undefined) && fDeleteKey.categoryKey.$touched
                        }">
                        <label style="padding-left: 15px;">Categoria</label>
                        <div class="col-xs-12 selectContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-tags"></i></span>
                                <select  name="categoryKey" 
                                        ng-change="keys.update.department=null"
                                        ng-options="item.idCategory as (item.name | uppercase) for item in rsCategoryKeyChainsData | filter:filterCategoryKey" 
                                        ng-disabled="true"
                                        class="form-control" 
                                        ng-model="keys.update.categoryKey">
                                    <option value="" >Seleccione una opci&#243n</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- List Open Devices Products-->
                    <div  class="form-group col-md-6 col-sm-6 col-xs-6"  ng-class="
                        {	'has-success': 
                            keys.update.products.selected!=undefined && fDeleteKey.products.$valid,
                            'has-error':  
                            (keys.update.products.selected==undefined) && fDeleteKey.products.$touched
                        }">
                        <label style="padding-left: 15px;">Dispositivos de Apertura</label>  
                        <div class="col-xs-12 selectContainer">
                            <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-key"></i></span> 
                            <ui-select name="products"  
                                        ng-required="true"
                                        ng-disabled="true"
                                        ng-model="keys.update.products.selected" autofocus>
                                <ui-select-match  allow-clear="true" placeholder="Seleccione una opci&#243n">{{$select.selected.descriptionProduct}}</ui-select-match>
                                    <ui-select-choices repeat="item in rsKeyProductsData | filter: {idProductClassificationFk:19}| filter: $select.search">
                                        <div ng-bind-html="item.descriptionProduct | highlight: $select.search"></div>
                                        <small>Modelo: </small><small class="label label-default"  ng-bind-html="item.model | highlight: $select.search"></small>
                                        <small>Tipo: </small><small class="label label-default" ng-bind-html="item.classification | highlight: $select.search"></small>
                                    </ui-select-choices>
                                    <ui-select-no-choice>
                                        <span ng-if="rsKeyProductsData.length==0"><i class="fas fa-exclamation-triangle"> </i>&nbsp;No hay productos cargados</span>
                                    </ui-select-no-choice>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    <!-- codigo -->
                    <div class="form-group col-md-6" ng-class="
                    {	'has-success': 
                        keys.update.codigo!='' && fDeleteKey.codigo.$valid,
                         'has-error':  
                        (keys.update.codigo=='' || keys.update.codigo==undefined) && fDeleteKey.codigo.$touched,
                    }">
                    <label style="padding-left: 15px;">Codigo</label>  
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fas fa-barcode"></i></span>
                                <input  name="codigo" autofocus="true" placeholder="Codigo" class="form-control" ng-model="keys.update.codigo"   ng-disabled="true" type="text" autofocus/>
                            </div>
                        </div>
                    </div>
                    <!-- codigo ext -->
                    <div class="form-group col-md-6" ng-class="
                    {	'has-success': 
                        keys.update.codigoExt!='' && fDeleteKey.codigoExt.$valid,
                         'has-error':  
                        (keys.update.codigoExt=='' || keys.update.codigoExt==undefined) && fDeleteKey.codigoExt.$touched,
                    }">
                    <label style="padding-left: 15px;" >Codigo Externo</label> 
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fas fa-barcode"></i></span>
                                <input name="codigoExt" placeholder="Codigo Externo" class="form-control" ng-model="keys.update.codigoExt"  ng-disabled="true" type="text" autofocus />
                            </div>
                        </div>
                    </div>
                    <div ng-if="keys.update.idUserKf!=null && keys.update.idUserKf!=undefined" class="col-md-12 form-group">
                        <div class="col-md-12">
							<div class="alert alert-warning" role="alert">
								<strong>IMPORTANTE: </strong>El usuario a continuación sera desvinculado del llavero que sera dado de baja.
							</div>
						</div>	
                        <div class="col-md-12">
                            <div class="text-uppercase banner-no-rows banner-no-rows-padding-1 banner-no-rows-warning">
                               <span style="font-size: 18px; font-weight: 600;">{{keys.update.fullNameUser}} <span class="label label-default">{{keys.update.nameProfile}}</span>
                               <span ng-if="keys.update.idStatusTenant=='1'" class="badge badge-success">{{keys.update.statusUser}}</span>
                               <span ng-if="keys.update.idStatusTenant=='0'" class="badge badge-warning">{{keys.update.statusUser}}</span> </span>
                            </div>
                          </div>
                    </div>
                    </fieldset>
                </form>
                <div class="clearfix"> </div> 
            </div>
            <!-- Actions Button -->
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 pull-right">
                        <button type="submit" ng-click="switchKeysFn('deleteKey', keys.update)" ng-disabled="fDeleteKey.$invalid" class="btn btn-labeled btn-success">
                            <span class="btn-label"><i class="glyphicon glyphicon-send"></i> </span>Confirmar</button>
                        <a ng-click="modalConfirmation('closeWindow', 0, null)" type="button" class="btn btn-labeled btn-danger">
                            <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- // KEY REGISTER FORM -->