<!-- PAYHMENT DETAILS-->
<div id="paymentModalDetails" class="modal fade bd-example-modal-lg" style="top: 250px;" role="dialog">
    <div class="modal-dialog modal-lg" >
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i alt="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></span><span class="sr-only">Close</span></button>
              <h3 class="modal-title"><i class="fas fa-receipt"></i> DETALLES DE PAGO</h3>
          </div>
        <div class="modal-body">
            <div  class="col-md-12 well-checkbox n-margin-l customer-frame">
                <legend style="text-align: left;">Pago de Pedido</legend>
                <!-- LEFT COLUMN -->
                <div ng-if="tkupdate.typePaymentKf!=null && tkupdate.typePaymentKf!=undefined && tkupdate.idTypePaymentKf=='1'" class="col-md-12 col-xs-12">
                    <span> Metodo de Pago: </span>
                    <span>{{tkupdate.typePaymentKf.descripcion}}</span>
                    <span style="font-size: 75%;" class="label label-info text-uppercase">Proceso Interno</span>
                </div>
                <div ng-if="tkupdate.typePaymentKf!=null && tkupdate.typePaymentKf!=undefined && tkupdate.idTypePaymentKf=='1'" class="col-md-12">
                    <span>Estado: </span>
                    <span style="font-size: 85%;" class="label label-success">Aprobado</span>                    
                </div>
                <div ng-if="tkupdate.typePaymentKf!=null && tkupdate.typePaymentKf!=undefined && tkupdate.idTypePaymentKf=='2'" class="col-md-6 n-padding-l n-padding-r">
                    <div class="col-md-12 col-xs-12">
                        <span> Metodo: </span>
                        <!-- <span>{{tkupdate.typePaymentKf.descripcion}}</span>-->
                        <span><img id="comp-k1xl6bdlimgimage" class="mp-logo" data-type="image" itemprop="image" src="images/mp_logo.png" style="
                            width: 25%;
                            height: 100%;
                        "></span>
                    </div>
                    <div class="col-md-12">
                        <span>Estado: </span>
                        <span style="font-size: 85%;" ng-if="(tkupdate.paymentDetails!=undefined && tkupdate.paymentDetails!=null) && tkupdate.paymentDetails.mp_collection_status=='approved' && tkupdate.paymentDetails.mp_status_detail=='accredited'" class="label label-success">Aprobado</span>
                        <span style="font-size: 85%;" ng-if="(tkupdate.paymentDetails!=undefined && tkupdate.paymentDetails!=null) && tkupdate.paymentDetails.mp_collection_status==null && tkupdate.paymentDetails.mp_status_detail==null" class="label label-warning">Pendiente por pago</span>
                    </div>
                    <div ng-if="tkupdate.paymentDetails!=undefined && tkupdate.paymentDetails!=null && tkupdate.paymentDetails.mp_payment_id!=null && tkupdate.paymentDetails.mp_payment_id!=0" class="col-md-12">
                        <span>Id de Pago: </span>
                        <span class="badge badge-warning">{{tkupdate.paymentDetails.mp_payment_id}}</span>
                    </div>
                </div>
                <!-- RIGHT COLUMN -->
                <div ng-if="tkupdate.typePaymentKf!=null && tkupdate.typePaymentKf!=undefined && tkupdate.idTypePaymentKf=='2'" class="col-md-6 n-padding-l n-padding-r">
                    <div ng-if="tkupdate.paymentDetails!=undefined && tkupdate.paymentDetails!=null && tkupdate.paymentDetails.mp_payment_id!=null && tkupdate.paymentDetails.mp_payment_id!=0" class="col-md-12"><span> Pago realizado con: </span>
                        <span ng-if="tkupdate.paymentDetails.mp_payment_type=='account_money'" class="badge badge-default">Dinero en cuenta</span>
                        <span ng-if="tkupdate.paymentDetails.mp_payment_type=='credit_card'" class="badge badge-default">Tarjeta de credito</span>
                        <span ng-if="tkupdate.paymentDetails.mp_payment_type=='debit_card'" class="badge badge-default">Tarjeta de debito</span>
                    </div>
                    <div class="col-md-12"><span> Link de Pago creado: </span>
                        <span ng-if="tkupdate.paymentDetails!=undefined && tkupdate.paymentDetails!=null">{{tkupdate.paymentDetails.mp_date_created}}</span>
                    </div>
                    <div ng-if="tkupdate.paymentDetails!=undefined && tkupdate.paymentDetails!=null && tkupdate.paymentDetails.mp_payment_id!=null && tkupdate.paymentDetails.mp_payment_id!=0" class="col-md-12">
                        <span> Pago aprobado:</span>
                        <span>{{tkupdate.paymentDetails.sys_date_updated}}</span>
                    </div>
                    <div ng-if="tkupdate.paymentDetails!=undefined && tkupdate.paymentDetails!=null && (tkupdate.paymentDetails.mp_payment_id==null || tkupdate.paymentDetails.mp_payment_id==0)" class="col-md-12">
                        <span> Link de pago:</span>
                        <span class="label label-success"><i class="fas fa-money-check-alt"></i>
                            <a href="{{tkupdate.paymentDetails.mp_dev_init_point}}" target="_blank" type="button" style="text-decoration: none;color: white;" >
                            ir a pagar
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div ng-if="tkupdate.idPaymentDeliveryKf!=null && tkupdate.idPaymentDeliveryKf!=undefined" class="col-md-12 well-checkbox n-margin-l customer-frame">
                <legend style="text-align: left;">Pago de envío</legend>
                <div ng-if="tkupdate.typePaymentKf!=null && tkupdate.typePaymentKf!=undefined && tkupdate.idTypePaymentKf=='2'" class="col-md-6 n-padding-l n-padding-r">
                    <div class="col-md-12 col-xs-12">
                        <span> Metodo: </span>
                        <!-- <span>{{tkupdate.typePaymentKf.descripcion}}</span>-->
                        <span><img id="comp-k1xl6bdlimgimage" class="mp-logo" data-type="image" itemprop="image" src="images/mp_logo.png" style="
                            width: 25%;
                            height: 100%;
                        "></span>
                    </div>
                    <div class="col-md-12">
                        <span>Estado: </span>
                        <span style="font-size: 85%;" ng-if="(tkupdate.paymentDeliveryDetails!=undefined && tkupdate.paymentDeliveryDetails!=null) && tkupdate.paymentDeliveryDetails.mp_collection_status=='approved' && tkupdate.paymentDeliveryDetails.mp_status_detail=='accredited'" class="label label-success">Aprobado</span>
                        <span style="font-size: 85%;" ng-if="(tkupdate.paymentDeliveryDetails!=undefined && tkupdate.paymentDeliveryDetails!=null) && tkupdate.paymentDeliveryDetails.mp_collection_status==null && tkupdate.paymentDeliveryDetails.mp_status_detail==null" class="label label-warning">Pendiente por pago</span>
                    </div>
                    <div ng-if="tkupdate.paymentDeliveryDetails!=undefined && tkupdate.paymentDeliveryDetails!=null && tkupdate.paymentDeliveryDetails.mp_payment_id!=null && tkupdate.paymentDeliveryDetails.mp_payment_id!=0" class="col-md-12">
                        <span>Id de Pago: </span>
                        <span class="badge badge-warning">{{tkupdate.paymentDeliveryDetails.mp_payment_id}}</span>
                    </div>
                </div>
                <!-- RIGHT COLUMN -->
                <div ng-if="tkupdate.typePaymentKf!=null && tkupdate.typePaymentKf!=undefined && tkupdate.idTypePaymentKf=='2'" class="col-md-6 n-padding-l n-padding-r">
                    <div ng-if="tkupdate.paymentDeliveryDetails!=undefined && tkupdate.paymentDeliveryDetails!=null && tkupdate.paymentDeliveryDetails.mp_payment_id!=null && tkupdate.paymentDeliveryDetails.mp_payment_id!=0" class="col-md-12"><span> Pago realizado con: </span>
                        <span ng-if="tkupdate.paymentDeliveryDetails.mp_payment_type=='account_money'" class="badge badge-default">Dinero en cuenta</span>
                        <span ng-if="tkupdate.paymentDeliveryDetails.mp_payment_type=='credit_card'" class="badge badge-default">Tarjeta de credito</span>
                        <span ng-if="tkupdate.paymentDeliveryDetails.mp_payment_type=='debit_card'" class="badge badge-default">Tarjeta de debito</span>
                    </div>
                    <div class="col-md-12"><span> Link de Pago creado: </span>
                        <span ng-if="tkupdate.paymentDeliveryDetails!=undefined && tkupdate.paymentDeliveryDetails!=null">{{tkupdate.paymentDeliveryDetails.mp_date_created}}</span>
                    </div>
                    <div ng-if="tkupdate.paymentDeliveryDetails!=undefined && tkupdate.paymentDeliveryDetails!=null && tkupdate.paymentDeliveryDetails.mp_payment_id!=null && tkupdate.paymentDeliveryDetails.mp_payment_id!=0" class="col-md-12">
                        <span> Pago aprobado:</span>
                        <span>{{tkupdate.paymentDeliveryDetails.sys_date_updated}}</span>
                    </div>
                    <div ng-if="tkupdate.paymentDeliveryDetails!=undefined && tkupdate.paymentDeliveryDetails!=null && (tkupdate.paymentDeliveryDetails.mp_payment_id==null || tkupdate.paymentDeliveryDetails.mp_payment_id==0)" class="col-md-12">
                        <span> Link de pago:</span>
                        <span class="label label-success"><i class="fas fa-money-check-alt"></i>
                            <a href="{{tkupdate.paymentDeliveryDetails.mp_dev_init_point}}" target="_blank" type="button" style="text-decoration: none;color: white;" >
                            ir a pagar
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div> 
        </div>   
        <div class="modal-footer">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 pull-right">
                    <a id="cancelModalWindow" data-dismiss="modal" type="button" class="btn btn-labeled btn-danger">
                        <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Cerrar</a>
                </div>           
            </div>
        </div>
    </div>
  </div>
</div>