<!-- CHANGE STATUS  -->
<div id="changeModalStatus" class="modal fade bd-example-modal-lg" style="top: 250px;" role="dialog">
    <div class="modal-dialog modal-md" >
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i alt="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></span><span class="sr-only">Close</span></button>
              <h3 class="modal-title"><i class="fas fa-sync"></i> [{{ticket.codTicket}}] - <span class="label label-info" >CAMBIO DE ESTADO</span></h3>
          </div>
        <div class="modal-body">
            <div  class="col-md-12 n-padding-l n-padding-r">
                <!-- Filter Type of Status-->
                <div ng-if="sysLoggedUser.idProfileKf!=0" class="form-group col-md-12 col-xs-12 padding-input-left-2 padding-input-both-2">
                    <label>Estado</label>
                        <div class="col-xl-12 selectContainer">
                        <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-tags"></i></span>
                                <select name="idStatusKf" class="form-control text-uppercase" ng-options="status as status.statusName for status in listStatusTicketChange " ng-model="ticket.newTicketStatus" >
                                <option value="">Seleccione un estado</option>
                                </select>
                        </div>
                        </div>
                    </div>
            </div>
            <div class="clearfix"> </div> 
        </div>   
        <div class="modal-footer">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 pull-right">
                    <button type="submit" ng-click="modalConfirmation('change_ticket_status',0, ticket)" ng-disabled="fChDeliveryTicket.$invalid" class="btn btn-labeled btn-success">
                        <span class="btn-label"><i class="glyphicon glyphicon-send"></i> </span>Enviar</button>
                    <a id="cancelModalWindow" data-dismiss="modal" type="button" class="btn btn-labeled btn-danger">
                        <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Cerrar</a>
                </div>           
            </div>
        </div>
    </div>
  </div>
</div>