<!-- Modal Members Type -->
<div id="selectDeliveryAddress" style="top: 210px;" class="modal fade modal-dialog-centered" role="dialog">
	<div class="modal-dialog modal-md" >
	    <div class="modal-content win-d-unit-1x">
	    	<div class="modal-header">
          		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i alt="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></span><span class="sr-only">Close</span></button>
            	<h3 class="modal-title">
		            <span class="card-depto-span">ENTREGAR EN DIRECCIÓN</span>
            	</h3>
        	</div>
	    	<div class="modal-body" style="height: 187px; padding: 0px;">
				<!-- FORM CONTAINER-->
				<div ng-if="!selectSubType" class="col-md-12"> 
					<!-- ALTA-->
				    <div class="col-md-6 col-xs-6 card-depto-colum" ng-click="mainSwitchFn('setDeliveryUser', selectedUserToDelivery, 1);" >
				        <div class="card-depto cyan white-text">
				            <div class="card-depto-content">
                                <i class="fas fa-map-marker" style="padding-left: 0.65em;"></i>
				            </div>
				            <span class="card-depto-span" style="margin-left: 9%;">EN LA DIRECCIÓN</span>
							<span class="card-depto-span" style="margin-left: 20%;">DEL EDIFICIO</span>
				        </div>
				    </div>
					<!--<pre>{{ ticket.building }}</pre>
					<pre>{{ ticket.building.initial_delivery[0].expiration_state }}</pre>
					<pre>{{ ticket.building.initial_delivery.length }}</pre>
					<pre>{{ ticket.building.isStockInBuilding }}</pre>
					<pre>{{ ticket.building.isStockInOffice }}</pre>
					<div ng-if="ticket.building != undefined">
						<p>Building is defined</p>
					</div>
					<div ng-if="ticket.building.initial_delivery.length == '0'">
						<p>Initial delivery length is 0</p>
					</div>-->
				    <!-- BAJA -->
				    <div ng-if="(ticket.building!=undefined && ticket.building.isStockInOffice==1 && (ticket.building.isStockInBuilding==null || ticket.building.isStockInBuilding==0) && ((ticket.building.initial_delivery.length==1 && ticket.building.initial_delivery[0].expiration_state!=undefined && ticket.building.initial_delivery[0].expiration_state)))"
								class="col-md-6 col-xs-6 card-depto-colum" ng-click="mainSwitchFn('deliveryToOtherAddress', selectedUserToDelivery, 2)" >
				        <div class="card-depto cyan white-text" style="padding-bottom:2.97em;">
							<div  ng-if="off" class="ribbon ribbon-top-right"><span tyle="background-color: #ccc !important;">No disponible</span></div>
				            <div class="card-depto-content">
                                <i class="fas fa-map-marked-alt" style="padding-left: 0.45em;"></i>
				            </div>
				             <span class="card-depto-span" style="margin-left: 10%;">OTRA DIRECCIÓN</span>
				        </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //Modal Members Type -->