<div id="editTechServiceCost" style="top: 130px;" class="modal fade bd-example-modal-lg" style="top: 110px;" role="dialog">
    <div class="modal-dialog modal-lg" >
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i alt="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></span><span class="sr-only">Close</span></button>
              <h3 class="modal-title"><i class="product-success fas fa-map"></i> MODIFICAR COSTO DEL SERVICIO TECNICO</h3>
          </div>
        <div class="modal-body"  style="overflow-y: scroll;">
          <!-- FORM CONTAINER-->
          <form class="form-horizontal" name="fEditTechServiceCost" novalidate>
            <fieldset>
              <!-- Form Profile Name -->
              <div class="form-group col-md-6" ng-class="
                    {	'has-success': 
                      technician_services.update.idServiceTechnicianKf!='' && fEditTechServiceCost.tech_service.$valid,
                      'has-error':  
                      (technician_services.update.idServiceTechnicianKf=='' || technician_services.update.idServiceTechnicianKf==undefined) && fEditTechServiceCost.tech_service.$touched,
                    }">
                <label style="padding-left: 15px;">Servicio Técnico</label>  
                  <div class="col-xs-12">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fas fa-screwdriver"></i></span>
                      <select name="tech_service" 
                          class="form-control"
                          ng-change="getTypeOfMaintenanceFn(technician_services.update.idServiceTechnicianKf)"
                          ng-options="item.idServiceTechnician as item.description for item in rsTechServicesData" 
                          ng-model="technician_services.update.idServiceTechnicianKf" ng-disabled="true" ng-required="true" autofocus >
                        <option class="text-uppercase" value="">Selecciona un tipo</option>
                      </select>
                    </div>
                  </div>
              </div>
              <!-- Maintenance -->
              <!--ng-options="item.idDepartment as item.departmentFloor for item in ListDpto"-->
              <div class="form-group col-md-6" ng-class="
                    {	'has-success': 
                      technician_services.update.idTipoMantenimientoKf!='' && fEditTechServiceCost.maintenance_type.$valid,
                      'has-error':  
                      (technician_services.update.idTipoMantenimientoKf=='' || technician_services.update.idTipoMantenimientoKf==undefined) && fEditTechServiceCost.maintenance_type.$touched,
                    }">
                <label style="padding-left: 15px;">Tipo de mantenimiento</label>  
                  <div class="col-xs-12">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fas fa-screwdriver"></i></span>
                      <select name="maintenance_type" 
                          class="form-control"
                          ng-options="item.idTypeMaintenance as item.typeMaintenance for item in rsTypeOfMaintenanceList" 
                          ng-model="technician_services.update.idTipoMantenimientoKf" ng-disabled="true" ng-required="true" autofocus >
                        <option class="text-uppercase" value="">Selecciona un tipo</option>
                      </select>
                    </div>
                  </div>
              </div>
              <div class="form-group col-md-6" ng-class="
              {	'has-success': 
                technician_services.update.cost!='' && fEditTechServiceCost.technician_cost.$valid,
                'has-error':  
                (technician_services.update.cost=='' || technician_services.update.cost==undefined) && fEditTechServiceCost.technician_cost.$touched,
              }">
                <label class="clf-size clf-p-left">Costo</label>  
                  <div class="col-xs-12">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fas fa-dollar-sign"></i></span>
                      <input  name="technician_cost" autofocus="true" style="text-align: right;" placeholder="$0,00" class="form-control input--decimal" ng-model="technician_services.update.cost" ng-keydown="fnLoadPhoneMask()" type="text" required autofocus/>
                    </div>
                  </div>
              </div>
            </fieldset>
          </form>
          <div class="clearfix"> </div> 
        </div>
        <!-- Actions Button ng-click="newSysProfileFn()"-->
        <div class="modal-footer">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 pull-right">
                    <button type="submit" ng-click="mainSwitchFn('techServicesCosts','updateTechServiceCost', technician_services.update, null)" ng-disabled="fEditTechServiceCost.$invalid" class="btn btn-labeled btn-success">
                        <span class="btn-label"><i class="glyphicon glyphicon-send"></i> </span>Actualizar</button>
                    <a data-dismiss="modal" type="button" class="btn btn-labeled btn-danger">
                        <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Cancelar</a>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>