<FilesMatch ".*">
    # Allow access only if the Referer matches any of these domains
    SetEnvIf Referer "^https?://(www\.)?devbss\.sytes\.net" allowed_referer
    SetEnvIf Referer "^https?://(www\.)?dev\.bss\.com\.ar" allowed_referer
    SetEnvIf Referer "^https?://(www\.)?sistema\.bss\.com\.ar" allowed_referer

    # Deny access to everyone except allowed referers
    Require env allowed_referer
</FilesMatch>