<IfModule authz_core_module>
    Require all denied
</IfModule>
<IfModule !authz_core_module>
    Deny from all
</IfModule>
#<IfModule mod_headers.c>
#    Header always set Access-Control-Allow-Origin "http://devtass.sytes.net"
#    Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT"
#    Header add Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept, Content-Length, Accept-Encoding"    
#</IfModule>