
<div id="wrapper" ng-init="mainSwitchFn('dashboard', null); " style="margin-top:162px" class="container-fluid">
    <div ng-if="sysToken" ng-include="'views/monitor/filters_bar.html'"></div>
    <div ng-if="sysToken" ng-include="'views/monitor/filters_inputs.html'"></div>
    <!-- Monitor Body -->
    <div id="bodyContent"  class="container-fluid show-grid margin-row-1">
        <!-- <div ng-repeat="tk in listTickt | filter: ticketFiltered()" class="row align-items-end row_body row-margin-1">-->
        <div ng-repeat="tk in listTickt " class="row align-items-end row_body row-margin-1">
            <div ng-click="openTicketFn(tk, 0)">
                <!--ng-if="differentDays[$index]<=2 && tk.isCancelTicket<=0" -->
                <div id="iconTypeTicket"  ng-init="compareDaysIn2Dates(tk.dateCratedTicket);" class="col-md-1 col-xs-2 icon_circle">
                    <span>
                        <i ng-if="tk.idStatusTicketKf=='2'" class="i-default fas fa-key"></i>
                        <i ng-if="tk.idStatusTicketKf=='3'" class="i-success fas fa-key"></i>
                        <i ng-if="tk.idStatusTicketKf>='3' && (!tk.idUserApprovedTicket || tk.idUserApprovedTicket) && tk.idUserCancelTicket &&  tk.idTypeTicket<=2" class="i-cancel fas fa-key"></i>
                        <i ng-if="tk.idStatusTicketKf=='4' && (tk.idUserApprovedTicket) && !tk.idUserCancelTicket &&  tk.idTypeTicket<=2" class="i-success fas fa-clock"></i>
                        <i ng-if="tk.idStatusTicketKf=='5' && (tk.idUserApprovedTicket) && !tk.idUserCancelTicket &&  tk.idTypeTicket<=2" class="i-success fas fa-truck"></i>
                        <i ng-if="tk.idStatusTicketKf=='2' && tk.idTypeTicket==3" class="i-default fas fa-wrench"></i>
                        <i ng-if="tk.idStatusTicketKf=='3' && tk.idTypeTicket==3" class="i-success fas fa-wrench"></i>
                        <i ng-if="tk.idStatusTicketKf=='4' && (tk.idUserApprovedTicket) && !tk.idUserCancelTicket && tk.idTypeTicket==3" class="i-cancel fas fa-wrench"></i>
                        <i ng-if="tk.idStatusTicketKf=='2' && tk.idTypeTicket==4" class="i-default fas fa-question"></i>
                        <i ng-if="tk.idStatusTicketKf=='3' && tk.idTypeTicket==4" class="i-success fas fa-question"></i>
                        <i ng-if="tk.idStatusTicketKf=='6' && tk.idTypeTicket==4" class="i-cancel fas fa-question"></i>

                    </span>
                </div>
                <!-- PRIMERA COLUMNA -->
                <div class="col-md-3 col-xs-3 col-margin-27 icon_list"> 
                    <ul class="margin-ul-1 padding-ul">
                        <li><i class="fas fa-flag"></i> {{tk.typeticket.TypeTicketName}}</li>
                        <li><i class="fas fa-file-alt"></i> N°: {{tk.codTicket}}</li>
                        <li><i class="fas fa-tasks"></i> Estado: 
                            <!-- STATUS PENDIENTE DE APROBACION -->
                            <span ng-if="tk.idStatusTicketKf==2 && !tk.nameUserApprovedTicket" class="label label-default"> {{tk.statusName}}</span>
                            <span ng-if="tk.idStatusTicketKf==2 && tk.nameUserApprovedTicket" data-toggle="tooltip" data-placement="right" title="Aprobado por: {{tk.nameUserApprovedTicket}}" class="label label-default"> {{tk.statusName}}</span>
                            <!-- STATUS APROBADO ID#: 3 / PENDIENTE DE ENVIO ID#: 4 -->
                            <span ng-if="(tk.idStatusTicketKf==3 || tk.idStatusTicketKf==4) && !tk.idUserCancelTicket && !tk.isCancelRequested && !tk.isChangeDeliverylRequested" data-toggle="tooltip" data-placement="right" title="Aprobado por: {{tk.nameUserApprovedTicket}}" class="label label-success"> {{tk.statusName}}</span>
                            <!-- EN RUTA ID#: 5 -->
                            <span ng-if="tk.idStatusTicketKf==5 && !tk.idUserCancelTicket && !tk.isCancelRequested && !tk.isChangeDeliverylRequested" data-toggle="tooltip" data-placement="right" title="Aprobado por: {{tk.nameUserApprovedTicket}}" class="label label-success"> {{tk.statusName}}</span>
                            <!-- STATUS CANCELADO ID#: 6-->
                            <span ng-if="(tk.idStatusTicketKf==6 || tk.idStatusTicketKf!=6)  && tk.idUserCancelTicket" data-toggle="tooltip" data-placement="right" title="Cancelado por: {{tk.nameUserCancelTicket}}" class="label label-danger">{{tk.statusName}}</span>

                            <span data-toggle="tooltip" data-placement="right" title="Solicitado por: {{tk.tmp_nameUserRequestChOrCancel}}"  class="label label-danger" ng-if="tk.idTmpDeliveryData && tk.isCancelRequested"><i class="fas fa-exclamation-circle"></i> Cancelacion Solicitada</span>
                            <span data-toggle="tooltip" data-placement="right" title="Solicitado por: {{tk.tmp_nameUserRequestChOrCancel}}"  class="label label-warning" ng-if="tk.idTmpDeliveryData && tk.isChangeDeliverylRequested"><i class="fas fa-exclamation-circle"></i> Cambio de envio Solicitado</span>
                        </li>
                        <li>
                            <span ng-if="sysLoggedUser.idProfileKf==1 && tk.sendUserNotification==1" class="label label-success" > 
                                <i class="fas fa-bell"></i> Notificado al cliente
                            </span>
                            <span ng-if="sysLoggedUser.idProfileKf==1 && tk.sendUserNotification==0" class="label label-warning">
                                <i class="fas fa-bell-slash"></i> No notificado al cliente
                            </span>
                        </li>
                    </ul>
                </div>
                <!-- SEGUNDA COLUMNA -->
                <!--<div class="col-md-2 col-xs-4 icon_list col-margin-28 show-hide-2"> -->
                <!--    <ul class="margin-ul-2 padding-ul"> -->
                <!--        <li><i class="far fa-calendar-alt"></i> Inicio:  {{tk.dateCratedTicket | date:'dd/MM/yyyy'}}</li> -->
                <!--        <li><i class="far fa-calendar-check"></i> Aprobada: &nbsp; -->
                <!--            <span ng-if="tk.dateRecibedAdmin">{{tk.dateRecibedAdmin | date:'MM/dd/yyyy'}}</span> -->
                <!--            <span ng-if="!tk.dateRecibedAdmin" class="label label-default">-</span> -->
                <!--        </li> -->
                <!--        <li><i class="far fa-calendar-check"></i> Coferba:&nbsp;&nbsp; &nbsp;&nbsp; -->
                <!--            <span ng-if="tk.dateRecibeCompany">{{tk.dateRecibeCompany | date:'MM/dd/yyyy'}}</span> -->
                <!--            <span ng-if="!tk.dateRecibeCompany && !tk.idUserCancelTicket" class="label label-default">-</span> -->
                <!--            <span ng-if="!tk.dateRecibeCompany && tk.idUserCancelTicket" class="label label-default">n/a</span> -->
                <!--        </li> -->
                <!--        <li><i class="far fa-calendar-times"></i> Cancelado:&nbsp; -->
                <!--            <span ng-if="tk.idUserCancelTicket">{{tk.dateCancel | date:'dd/MM/yyyy'}}</span> -->
                <!--            <span ng-if="!tk.dateCancel || tk.dateCancel==null" class="label label-default">-</span> -->
                <!--        </li> -->
                <!--    </ul> -->
                <!--</div> -->
                <!-- TERCERA COLUMNA -->
                <div ng-if="tk.idTypeTicket" class="col-md-3 col-xs-4 icon_list col-margin-26 show-hide">
                    <ul class="margin-ul-2 padding-ul">
                        <li ng-if="tk.idTypeTicket>0"><i class="far fa-user"></i> Creado:
                            <!-- Usuario Coferba -->
                            <span ng-if="tk.FullNameUserAdmin && tk.profileUserAdmin">{{tk.FullNameUserAdmin}} ({{tk.profileUserAdmin}})</span>
                            <!-- Usuario Empresa -->
                            <span ng-if="tk.FullNameUserCompany && tk.profileUserCompany">{{tk.FullNameUserCompany}}</span>
                            <!-- Usuario Admin de Consorcio -->
                            <span ng-if="tk.FullNameUserEnterprice && tk.profileUserEnterprice">{{tk.FullNameUserEnterprice}}
                                <span ng-if="sysLoggedUser.idProfileKf!=4"> ({{tk.profileUserEnterprice}})</span>
                            </span>
                            <!-- Usuario Propietario -->
                            <span ng-if="!tk.FullNameUserEnterprice && !tk.FullNameUserAdmin && tk.FullNameUserOwner && tk.profileUserOwner">{{tk.FullNameUserOwner}}
                                <span ng-if="sysLoggedUser.idProfileKf!=3"> ({{tk.profileUserOwner}})</span>
                            </span>
                            <!-- Usuario Inquilino -->
                            <span ng-if="!tk.FullNameUserEnterprice && !tk.FullNameUserAdmin && !tk.FullNameUserOwner && tk.FullUserTenant && tk.profileTenant">{{tk.FullUserTenant}}
                                <span ng-if="(sysLoggedUser.idProfileKf!=5 || sysLoggedUser.idProfileKf!=6) && sysLoggedUser.idTypeTenantKf!=2"> ({{tk.profileTenant}})</span>
                            </span>
                        </li>
                        <li ng-if="tk.idTypeTicket!=4"><i class="far fa-user"></i> Cliente:&nbsp;
                            <!-- Cliente Inquilino -->
                            <span ng-if="tk.idTypeTicket<=2 && tk.FullUserTenant && tk.profileTenant">{{tk.FullUserTenant}}
                                <span ng-if="(sysLoggedUser.idProfileKf!=5 || sysLoggedUser.idProfileKf!=6) && sysLoggedUser.idTypeTenantKf!=2"> ({{tk.profileTenant}})</span>
                            </span>
                            <!-- Cliente Propietario -->
                            <span ng-if="tk.idTypeTicket<=2 && !tk.FullUserTenant && tk.FullNameUserOwner && tk.profileUserOwner">{{tk.FullNameUserOwner}}
                                <span ng-if="sysLoggedUser.idProfileKf!=3"> ({{tk.profileUserOwner}})</span>
                            </span>
                            <!-- Cliente Encargado -->
                            <span ng-if="tk.idTypeTicket<=2 && tk.idUserAttendantKf && tk.profileEncargado">{{tk.FullUserEncargado}}
                                <span ng-if="sysLoggedUser.idProfileKf!=3"> ({{tk.profileEncargado}})</span>
                            </span>
                            <!-- Cliente Empresa -->
                            <span ng-if="tk.idTypeTicket==3 && (!tk.idUserAttendantKf || tk.idUserAttendantKf==0) && !tk.profileEncargado && (tk.FullNameUserCompany || !tk.FullNameUserCompany) && tk.nameCompany">{{tk.nameCompany}}</span>
                            <span ng-if="tk.idTypeTicket<=2 && (!tk.idUserAttendantKf || tk.idUserAttendantKf==0) && !tk.profileEncargado && (tk.FullNameUserEnterprice || !tk.FullNameUserEnterprice) && tk.idTypeOfOptionKf && tk.nameCompany && (sysLoggedUser.idProfileKf==1 || sysLoggedUser.idProfileKf==4)">{{tk.nameCompany}}</span>
                            <span ng-if="!tk.nameCompany && !tk.FullUserTenant && !tk.FullNameUserOwner" class="label label-default">n/a</span>
                        </li>
                        <li ng-if="tk.idTypeTicket==3"><i class="fas fa-map-marker"></i> Sucursal:
                            <span ng-if="tk.nameAdress">{{tk.nameAdress}}</span>
                            <span ng-if="!tk.nameAdress" class="label label-default">n/a</span>
                        </li>
                        <li ng-if="tk.idTypeTicket<=2 || tk.idTypeTicket==4"><i class="fas fa-map-marker"></i> Consorcio:
                            <span ng-if="tk.nameAdress">{{tk.nameAdress}}</span>
                            <span ng-if="!tk.nameAdress" class="label label-default">n/a</span>
                        </li>
                        <li ng-if="tk.idTypeTicket==4"><i class="fas fa-lightbulb"></i> Tipo de consulta:
                            <span>{{tk.TypeOuther}}</span>
                        </li>
                        <li ng-if="tk.idTypeTicket<=2"><i class="fas fa-home"></i> Depto.:
                            <span ng-if="tk.departmentFloor">{{tk.departmentFloor}}</span>
                            <span ng-if="!tk.departmentFloor" class="label label-default">n/a</span>
                        </li>
                        <li ng-show="tk.idTypeTicket==3"><i class="fas fa-wrench"></i> Servicio:&nbsp;
                            <span ng-if="tk.typeServices">{{tk.typeServices}}</span>
                            <span ng-if="!tk.typeServices" class="label label-default">n/a</span>
                        </li>
                    </ul>
                </div>
                <!-- CUARTA COLUMNA -->
                <div class="col-md-3 col-xs-4 col-margin-25 icon_list show-hide-3">
                    <ul class="margin-ul-2 padding-ul">
                        <li ng-show="tk.idTypeTicket>=3"><i class="far fa-clipboard"></i> <span ng-show="tk.idTypeTicket==3">Descripcion:</span><span ng-show="tk.idTypeTicket==4">Consulta:</span>
                            <span ng-if="tk.description && !tk.descriptionOrder">{{tk.description}}</span>
                            <span ng-if="!tk.description && tk.descriptionOrder">{{tk.descriptionOrder}}</span>
                            <span ng-if="!tk.description && !tk.descriptionOrder" class="label label-default">n/a</span>
                        </li>
                        <li ng-show="tk.idTypeTicket<=2"><i class="far fa-clipboard"></i> Pedido:&nbsp;
                            <span ng-if="tk.listidTypeOfKeysKf && tk.idTypeTicket==1" ng-repeat="tkeys in tk.listidTypeOfKeysKf">
                            {{tkeys.data.item}} ({{tkeys.keyQty}})</span>
                            <span ng-if="tk.idOpcionLowTicketKf>0"><span class="label label-info">{{tk.opcionLowTicket}} </span><br></span>
                            <span ng-if="tk.listitemToDisabled && tk.idTypeTicket==2" ng-repeat="tkeys in tk.listitemToDisabled">
                            {{tkeys.data.item}} ({{tkeys.keyCode}})</span>
                            <span ng-if="!tk.listidTypeOfKeysKf && !tk.listitemToDisabled" class="label label-default">n/a</span>
                        </li>
                        <li ng-show="tk.idTypeTicket==2"><i class="far fa-lightbulb"></i> Motivo:&nbsp;
                            <span ng-if="tk.idReasonDisabledItemKf==1 || tk.idReasonDisabledItem==1" class="blink label label-danger">{{tk.reasonDisabledItem}}</span>
                            <span ng-if="tk.idReasonDisabledItemKf>1 || tk.reasonDisabledItem>1" class="label label-warning">{{tk.reasonDisabledItem}}</span>
                            <span ng-if="!tk.reasonDisabledItem" class="label label-default">n/a</span>
                        </li>
                        <li ng-show="tk.idTypeTicket<=1">
                            <i class=" fas fa-truck"></i>Delivery:&nbsp;
                            <span style="color:rgb(250, 107, 107);background: #fff;border-radius: 10px;padding-left: 5px; padding-right: 5px; font-size: 11px;" ng-if="tk.typeDelivery">{{tk.typeDelivery}}</span>

                            
                            <span ng-if="!tk.typeDelivery" class="label label-default">n/a</span>
                        </li>
                        <li ng-show="tk.idTypeTicket<=1"><i class="fas fa-hand-holding"></i>
                            <span ng-if="tk.idTypeDeliveryKf==1"> Retirado por:&nbsp;</span>
                            <span ng-if="tk.idTypeDeliveryKf==2"> Recibido por:&nbsp;</span>
                            <span ng-if="tk.idTypeDeliveryKf==2 && tk.idUserAttendantKfDelivery">{{tk.nameAttendantDelivery}} (Encargado)</span>
                            <span ng-if="tk.idTypeDeliveryKf==1 && !tk.idUserAttendantKfDelivery && !tk.thirdPersonNames">Cliente Titular</span>
                            <span ng-if="(tk.idTypeDeliveryKf==1 || tk.idTypeDeliveryKf==2) && !tk.idUserAttendantKfDelivery && tk.thirdPersonNames">{{tk.thirdPersonNames}} (tercera persona)</span>
                        </li>
                        <li ng-show="tk.idTypeTicket<=2"><i class="fas fa-dollar-sign"></i> Costo:&nbsp;
                            <span style="color:rgb(250, 107, 107);background: #fff;border-radius: 10px;padding-left: 5px; padding-right: 5px; font-size: 11px;" ng-if="tk.typeDelivery">{{tk.totalService | number:2}}</span>
                            <span ng-if="!tk.totalService" class="label label-default">n/a</span>
                        </li>
                    </ul>
                </div>
            </div>
                <!-- COLUMNA  BOTONES -->
                <div id="labelTag" class="col-md-1 pull-right">
                    <div class="btn-group-vertical btn_action">
                        <button ng-if="tk.idTypeTicket>0 && (sysLoggedUser.idProfileKf==1 || sysLoggedUser.idProfileKf==4)" id="aprroveTicket" type="button" ng-click="sysApproveTicketFn(tk.idTicket, sessionIdUser);" class="btn btn-xs btn-success" ng-disabled="tk.idUserApprovedTicket || tk.idUserCancelTicket " data-toggle="tooltip" data-placement="left"  title="Aprobar">
                            <i class="fas fa-check"></i>
                        </button>
                        <button type="button" ng-click="openTicketFn(tk, 0)" class="btn btn-xs btn-warning" data-toggle="tooltip" data-placement="left"  title="Modificar" >
                            <i class="glyphicon glyphicon-edit"></i>  
                        </button>
                        <button type="button" ng-click="openTicketFn(tk, 2)" class="btn btn-xs btn-danger" ng-disabled="(tk.idStatusTicketKf>=5 && tk.idStatusTicketKf<=6)  || tk.idStatusTicketKf==1 || tk.idUserCancelTicket || tk.isCancelRequested || tk.isChangeDeliverylRequested" data-toggle="tooltip" data-placement="left"  title="Cancelar">
                            <i class="fas fa-ban"></i>
                        </button> 
                        <button ng-if="tk.idTypeTicket<2" ng-click="openTicketFn(tk, 1)" ng-disabled="(tk.idStatusTicketKf>=5 && tk.idStatusTicketKf<=6) || tk.idStatusTicketKf==1 || tk.idUserCancelTicket || tk.isCancelRequested || tk.isChangeDeliverylRequested" type="button" class="btn btn-xs btn-info" data-toggle="tooltip" data-placement="left"  title="Delivery">
                            <i style="font-size: 1em" class="fas fa-truck"></i> 
                        </button>
                        <button ng-if="tk.idTypeTicket==4 && sysLoggedUser.idProfileKf==1 || !tk.idUserCancelTicket && tk.idTypeTicket==4 && sysLoggedUser.idProfileKf==1" ng-click="resolvedTicketFn(tk, 1)" ng-disabled="(tk.idStatusTicketKf!=3)" type="button" class="btn btn-xs btn-success" data-toggle="tooltip" data-placement="left"  title="Finalizar">
                            <i style="font-size: 1em" class="fas fa-check-double"></i> 
                        </button>                        
                    </div>
                </div>
                <!--
                    <div class="col-lg-2 pull-right">
                        <div  class="btn-group">
                        <button ng-show="tk.isCancelTicket<=0" ng-disabled="tk.idStatusTicketKf<=1" type="button" class="btn btn-sm btn-success">{{tk.statusName}}</button>
                        <button ng-show="tk.isCancelTicket==1" ng-disabled="tk.idStatusTicketKf<=1" type="button" class="btn btn-sm btn-success">{{tk.statusName}}</button>
                        <button ng-show="tk.isCancelTicket<=0" ng-disabled="tk.idStatusTicketKf<=1" type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span  class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul ng-if="tk.idStatusTicketKf>=2"  class="dropdown-menu">
                            <li><a ng-click="cancelTicket(tk.idTicket)">Cancelar</a></li>
                        </ul>
                        </div>
                    </div> -->       
        </div>
    </div>
    <!--  /Monitor Body <i class="fas fa-user-edit"></i>-->
</div>
<div ng-if="sysToken" ng-include="'views/monitor/tickets/updateTicket.html'"></div>
<div ng-include="'views/utilities/modalCancelConfirmation.html'"></div>
<div ng-if="sysToken" ng-include="'views/utilities/expirationWarningWindows.html'"></div>