<!-- LIST OF USER LICENCES -->
<table  id="tableUseLicences" class="table table-striped table-bordered table-condensed table-list table-responsive table-hover">
    <thead style=" background: #4d5d6f; color: white;">
      <tr style="text-align: center;">
          <th width="10%" ng-click="sort_by('idDepartmentFk')" class="media-middle text-center">Depto 
            <span class="glyphicon sort-icon" ng-show="sortingOrder=='idDepartmentFk'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th width="20%" class="media-middle text-center"><i class="fas fa-id-card-alt"> </i> Perfil</th>          
          <th width="60%" ng-click="sort_by('fullName')"><i class="glyphicon glyphicon-user" > </i> Nombres 
            <span class="glyphicon sort-icon" ng-show="sortingOrder=='fullName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th width="5%"class="media-middle text-center" data-toggle="tooltip">S.O</th>
          <th width="5%"class="media-middle text-center">Opciones</th>
          <!--<th><i class="glyphicon icon-calendar"> </i> Registrado</th>-->
      </tr>
    </thead>
    <tbody>
      <!-- Show if there is customer registered -->
      <tr class="animate-repeat" style="align-content: center; cursor: pointer;" ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
        <td class="media-middle text-center">{{item.depto}}</td>
        <td class="media-middle " ng-class="{'text-left': item.idUserFk, 'text-center': !item.idUserFk}">
          <span ng-if="item.idUserFk" data-toggle="tooltip" data-placement="top" title="Usuario Registrado" class="font-size-18px" style="color: #5cb85c">
              <i class="text-success fas fa-check-circle"></i>
          </span>
          <span ng-if="item.idUserFk">{{item.nameProfile}}</span>
          <span ng-if="!item.idUserFk" data-toggle="tooltip" data-placement="top" title="No Registrado" class="text-warning media-middle text-center font-size-18px" ng-if="service.item_contracted<=0 || service.service_items==undefined"><i class="fas fa-exclamation-triangle"></i></span>
        </td>
        <!--NAMES -->
        <td ng-click="loadSelectedUserLicenceFn(item)" ng-trim="true"> <span class="media-middle font-size-18px"> {{item.fullName}}</span></td>
        <!-- Operating System -->
        <td ng-trim="true" class="media-middle text-center">
          <span class="text-muted text-box" ng-if="item.idOS=='1'" data-toggle="tooltip" data-placement="top" title="Apple iOS">
            <span class="font-size-18px"><i class="text-default fab fa-apple"></i></span>
          </span>
          <span class="text-muted text-box" ng-if="item.idOS=='2'" data-toggle="tooltip" data-placement="top" title="Android">
            <span class="font-size-18px"><i class="text-default fab fa-android"></i></span> 
          </span>
        </td>
        <td class="media-middle text-center">
          <button style="font-size: 70%;" data-toggle="tooltip" data-placement="top" title="ver/editar" ng-click="loadSelectedUserLicenceFn(item);" class="btn btn-xs btn-warning"><i class="fas fa-external-link-alt"></i></button>
          <button ng-if="!isListCustomerService" style="font-size: 70%;" data-toggle="tooltip" data-placement="top" title="Remover" ng-click="removeUserLicenceFn(item);" class="btn btn-xs btn-danger"><i class="far fa-times-circle"></i></button>

        </td>        
      </tr>
    </tbody>
</table> 
<!-- //LIST OF USER LICENCES -->