<!-- Licencias de Usuario -->
<div id="serviceUsersDVRList" style="top: 130px;" class="modal fade modal-dialog-centered in" style="top: 200px;" role="dialog">
    <div class="modal-dialog modal-lg" >
      <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i alt="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></span><span class="sr-only">Close</span></button>
              <h3 class="modal-title"><i class="product-success far fa-address-book"></i>
                <span class="text-uppercase">LISTA DE USUARIOS DVR DEL SERVICIO {{service.list.clientTypeServices}}</span></h3>
          </div>
        <div class="modal-body">
            <div class="well-checkbox form-group col-md-12 n-padding-t n-padding-b" style="margin-left: 0px;margin-right: 0px; margin-top: 3em; margin-bottom: 3em;">
                <div ng-if="list_user.length>0"  ng-include="'views/services/list/listServicesUsersDVR.html'"></div>
                <div ng-if="list_user.length==0" class="text-uppercase banner-no-rows banner-no-rows-padding-1 banner-no-rows-warning"><h5><i class="fas fa-exclamation-triangle"> </i> No hay usuarios cargados</h5></div>
            </div>
          <div class="clearfix"> </div> 
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 pull-right">
                    <a data-dismiss="modal" type="button" class="btn btn-labeled btn-danger">
                        <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Cerrar</a>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<!-- // Licencias de Usuario -->