<table id="tableUser"   class="table table-striped table-bordered table-condensed table-list table-responsive">
    <thead style=" background: #4d5d6f; color: white;">
      <tr style="text-align: center;">
        <th>ID</th>
        <th><i class="glyphicon glyphicon-user"> </i> Nombres</th>
        <!--<th><i class="glyphicon glyphicon-phone"> </i> Tlf Movil</th>
        <th><i class="glyphicon glyphicon-earphone"> </i> Tlf Fijo</th>-->
        <th><i class="glyphicon glyphicon-envelope"> </i> Correo</th>
        <th ng-if="filters.userProfile.idProfile=='5' || filters.userProfile.idProfile=='6'"><i class="fas fa-map-marker-alt"> </i> Dirección</th>
        <th ng-if="filters.userProfile.idProfile=='4'"><i class="fas fa-map-marker-alt"> </i> Administración</th>
        <th ng-if="filters.userProfile.idProfile=='2'"><i class="fas fa-map-marker-alt"> </i> Empresa</th>
        <th width="6%" ng-if="filters.userProfile.idProfile=='3' || filters.userProfile.idProfile=='5' || filters.userProfile.idProfile=='6'"><i class="fas fa-home"> </i> Unidad</th>
        <th width="12%" style="vertical-align: middle;text-align: center;"><i class="fas fa-id-card-alt"></i> Perfil</th>
        <th width="5%" style="vertical-align: middle;text-align: center;"><i class="fas fa-user-tag"></i> Role</th>
        <th width="5%" style="vertical-align: middle;text-align: center;"><i class="glyphicon icon-flag"> </i> Status</th>
        <th width="7%" style="vertical-align: middle;text-align: center;"><i class="glyphicon icon-calendar"> </i> Registrado</th>
        <th ><i class="fas fa-ellipsis-h"> </i> Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr class="animate-repeat" style="align-content: center;" ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
        <td ng-trim="true">
          <button ng-click="selectUserDataFn(item);" data-toggle="tooltip" data-placement="top" title="Editar Habitante" type="button" class="btn btn-info btn-xs">{{item.idUser}}</button>
          <span ng-if="
            ((item.idProfileKf==5 || (item.idProfileKf==6 && item.idTypeTenantKf==2)) && (!item.idAddresKf && !item.idAdress) && !item.idDepartmentKf && (item.phoneLocalNumberUser || item.phoneNumberUser))" class="badge badge-notify">
            <i data-toggle="tooltip" data-placement="right" title="Direccion y Depto incompletos" class="fas fa-map-marked-alt"> <i class="fas fa-home"></i></i>
            
          </span>
          <span ng-if="
            ((item.idProfileKf==5 || (item.idProfileKf==6 && item.idTypeTenantKf==2)) && (item.idAddresKf || item.idAdress) && !item.idDepartmentKf)" class="badge badge-notify">
            <i data-toggle="tooltip" data-placement="right" title="Depto. No seleccionado." class="fas fa-home"></i>
          </span>
          <span ng-if="
            ((item.idProfileKf==5 || (item.idProfileKf==6 && item.idTypeTenantKf==2)) && (!item.idAddresKf && !item.idAdress) && !item.idDepartmentKf && !item.phoneLocalNumberUser && !item.phoneNumberUser)" class="badge badge-notify">
            <i data-toggle="tooltip" data-placement="right" title="Direccion, Depto y Telf incompletos " class="fas fa-map-marked-alt"> <i class="fas fa-home"> <i class="fas fa-phone-slash"></i></i></i>
          </span>
          <span ng-if="
            ((item.idProfileKf==5 || (item.idProfileKf==6 && item.idTypeTenantKf==2)) && (item.idAddresKf || item.idAdress) && item.idDepartmentKf  && !item.phoneLocalNumberUser && !item.phoneNumberUser)" class="badge badge-notify">
            <i data-toggle="tooltip" data-placement="right" title="No posee numeros de tlf" class="fas fa-phone-slash"></i>
          </span>
        </td>
        <td>{{item.fullNameUser}}</td>
        <td>{{item.emailUser}}</td>
        <!-- ADDRESS FOR TENANTS & ATTENDANTS WITH TENANT TYPE-->
        <td style="vertical-align: middle;text-align: center;" ng-if="(filters.userProfile.idProfile=='5' || filters.userProfile.idProfile=='6') && item.idTypeTenantKf!='1'" class="text-uppercase">
          <span ng-if="item.building.length>0">{{item.building[0].address}}</span>
          <label ng-if="(item.building==undefined || item.building.length==0)" class="label label-warning">-</label>
        </td>
        <!-- ADDRESS FOR OWNER & ATTENDANTS WITH OWNER TYPE-->
        <td style="vertical-align: middle;text-align: center;" ng-if="filters.userProfile.idProfile=='6' && item.idTypeTenantKf=='1'" class="text-uppercase">
          <span ng-if="item.deptos.length>0">{{item.deptos[0].address}}</span>
          <label ng-if="(item.deptos==undefined || item.deptos.length==0)" class="label label-warning">-</label>
        </td>
        <!-- DEPARTMENTS QUANTITY  OF OWNERS &  DEPARTMENT RELATED TO A TENANT -->
        <td style="vertical-align: middle;text-align: center;" ng-if="filters.userProfile.idProfile=='3' || filters.userProfile.idProfile=='5' || filters.userProfile.idProfile=='6'" class="text-uppercase">
          <span ng-if="(item.idTypeTenantKf==1) && item.deptos.length>0" style="cursor:pointer;" data-toggle="tooltip" data-placement="left" title="Cantidad de departamentos" class="label label-success">{{item.deptos.length}}</span>
          <span ng-if="item.floor!=null && item.departament!=null && item.idTypeTenantKf==2 && item.building.length>0" style="cursor:pointer;" data-toggle="tooltip" data-placement="left" title="Departamento asociado" class="label label-success text-uppercase">{{item.floor}}-{{item.departament}}</span>
          <label ng-if="(item.idTypeTenantKf==null || item.idTypeTenantKf==0 || item.idTypeTenantKf=='') && ((item.building==undefined || item.building.length==0) || (item.deptos==undefined || item.deptos.length==0))" class="label label-warning">-</label>
          <label ng-if="item.floor==null && item.departament==null && (item.idTypeTenantKf==2) && ((item.building==undefined || item.building.length==0) || (item.deptos==undefined || item.deptos.length==0))" class="label label-warning">-</label>
        </td>
        <!-- COMPANY RELATED TO A COMPANY AND ADMIN COMPANY USERS -->
        <td style="vertical-align: middle;text-align: left;" ng-if="filters.userProfile.idProfile=='2' || filters.userProfile.idProfile=='4'" class="text-uppercase">
          <span ng-if="item.company.length>0">{{item.company[0].name}}</span>
          <label ng-if="(item.company==undefined || item.company.length==0)" class="label label-warning">-</label>
        </td>        
        <td  style="vertical-align: middle;text-align: center;" ng-if="item.idProfileKf=='null' || item.idProfileKf==''"><label class="label label-warning">Debe ser Asignado</label></td>
        <td  style="vertical-align: middle;text-align: center;" ng-if="(item.idProfileKf!='null' && item.idProfileKf!='undefined' && item.idProfileKf!='' && filters.userProfile.idProfile!='6')">{{item.nameProfile}} </td>
        <td  style="vertical-align: middle;text-align: right;" ng-if="(item.idProfileKf!='null' && item.idProfileKf!='undefined' && item.idProfileKf!='' && filters.userProfile.idProfile=='6')">
          <span ng-if="(item.idTypeTenantKf!=null && item.idTypeTenantKf>0 && item.idTypeTenantKf!='')" data-toggle="tooltip" data-placement="left" title="{{item.typeTenantName}}" class="text-success media-middle text-center font-size-18px"><i class="fas fa-user-check"></i></span>
          <span >{{item.nameProfile}}</span>
          <label class="label label-default">{{item.nameTypeAttendant}}</label>
        </td>
        <td style="vertical-align: middle;text-align: center;" ng-if="item.name"><label class="label label-default">{{item.name}}</label></td>
        <td style="vertical-align: middle;text-align: center;" ng-if="item.name==null"><label class="label label-warning" data-toggle="tooltip" data-placement="left" title="Role no asociado">N/A</label></td>
        <td style="vertical-align: middle;text-align: center;"> <!-- TD to Admins -->
            <label ng-if="item.idStatusKf==1" class="label label-success">ACTIVO
            </label>
            <label ng-if="item.idStatusKf==0" class="label label-warning">INACTIVO
            </label>
            <label ng-if="item.idStatusKf==-1" class="label label-danger"><del>ELIMINADO</del>
            </label>
        </td>
        <td  style="vertical-align: middle;text-align: center;">{{item.dateCreated | dateToISO | date:'MM/dd/yyyy'}}</td>
        <td>
        <button ng-click="selectUserDataFn(item);" data-toggle="tooltip" data-placement="right" title="Editar" type="button" ng-disabled="sessionIdUser==item.idUser" class="btn btn-info btn-xs"><i class="fas fa-user-edit"></i></button>
        <button ng-if="item.idStatusKf==0 " ng-click="modalConfirmation('enabled', 0, item)" data-toggle="tooltip" data-placement="right" title="Activar" type="button" ng-disabled="sessionIdUser==item.idUser" class="btn btn-success btn-xs"><i class="far fa-check-circle"></i></button>
        <button ng-if="item.idStatusKf>0" ng-click="modalConfirmation('disabled', 0, item)" data-toggle="tooltip" data-placement="right" title="Desactivar" type="button" ng-disabled="sessionIdUser==item.idUser" class="btn btn-warning btn-xs"><i class="fas fa-user-slash"></i></button>
        <button ng-if="item.idStatusKf>0" ng-click="modalConfirmation('remove', 0, item)" data-toggle="tooltip" data-placement="right" title="Eliminar" type="button" ng-disabled="sessionIdUser==item.idUser" class="btn btn-danger btn-xs"><i class="fas fa-user-times"></i></button>
        </td>
      </tr>
      <tr ng-if="pagedItems.length==0" >
        <td colspan="10"><div class="col-md-12 text-uppercase banner-no-rows banner-no-rows-padding-1 banner-no-rows-warning"><span class="col-md-offset-5" style="font-size: 18px; font-weight: 600; color: rgba(255, 188, 87, 1);"><i class="fas fa-exclamation-triangle"> </i> No hay resultados.</span></div>
        </td>
      </tr>
       <!--<tr ng-if="searchboxfilter.length==0" class="animate-repeat" style="align-content: center;">no items found</tr>-->
    </tbody>
</table>