<!-- MANAGE REQUESTS-->
<div class="col-md-12 n-padding-l n-padding-r" ng-init="mainSwitchFn('dashboard', null);">
    <div class="panel panel-default padding-panel">
      <div class="panel-heading">
        <h3 class="panel-title">GESTION DE PEDIDOS </h3>
      </div>
      <div class="panel-body">
        <div class="col-md-12 n-margin-l n-margin-r">
            <!-- TOTAL TICKETS EN PREPARACIÓN -->
            <div class="col-md-1 col-sm-3 col-xs-4">
                <div class="col-xs-12 square-widget well well-md" data-toggle="tooltip" data-placement="bottom" title="PEDIDOS EN PREPARACIÓN" ng-click="filterByStatusPanel('8')">
                    <div class="depto-icon" style="text-align: center;">
                        <span class="registered-customer badge badge-success count-badge"> {{dashboard.tickets.in_progress}} </span>
                    </div>
                    <div class="text-badge text-center">
                        <span class="registered-customer badge badge-light label-badge"> EN PREPARACIÓN </span>
                    </div>
                </div>
            </div>
            <!-- TOTAL TICKETS EN PREPARACIÓN CON ENTREGA INICIAL -->
            <div class="col-md-1 col-sm-3 col-xs-4">
                <div class="col-xs-12 square-widget well well-md" data-toggle="tooltip" data-placement="bottom" title="EN PREPARACIÓN (Entrega Inicial)" ng-click="filterByStatusPanel('8')">
                    <div class="depto-icon" style="text-align: center;">
                        <span class="registered-customer badge badge-success count-badge"> {{dashboard.tickets.in_progress}} </span>
                    </div>
                    <div class="text-badge text-center">
                        <span class="registered-customer badge badge-light label-badge"> EN PREPARACIÓN (Entrega Inicial)</span>
                    </div>
                </div>
            </div>
            <!-- TOTAL TICKETS -->
            <!--<div class="col-md-1 col-sm-3 col-xs-4">
                <div class="col-xs-12 square-widget well well-md" data-toggle="tooltip" data-placement="bottom" title="PEDIDOS TOTALES" ng-click="filterByStatusPanel('')">
                    <div class="depto-icon" style="text-align: center;">
                        <span class="registered-customer badge badge-success count-badge"> {{dashboard.tickets.total}} </span>
                    </div>
                    <div class="text-badge text-center">
                        <span class="registered-customer badge badge-light label-badge"> PEDIDOS TOTALES </span>
                    </div>
                </div>
            </div>-->
            <!-- TOTAL TICKETS PENDIENTE PAGO -->
            <!-- <div class="col-md-1 col-sm-3 col-xs-4">
                <div class="col-xs-12 square-widget well well-md well-warning" data-toggle="tooltip" data-placement="bottom" title="PEDIDOS PENDIENTE APROBACIÓN" ng-click="filterByStatusPanel('2')">
                    <div class="depto-icon" style="text-align: center;">
                        <span class="registered-customer badge badge-warning count-badge"> {{dashboard.tickets.approval_pending}} </span>
                    </div>
                    <div class="text-badge text-center">
                        <span class="registered-customer badge badge-light label-badge"> PENDIENTE APROBACIÓN </span>
                    </div>
                </div>
            </div>-->
            <!-- TOTAL TICKETS PENDIENTE PAGO -->
            <!-- <div class="col-md-1 col-sm-3 col-xs-4">
                <div class="col-xs-12 square-widget well well-md well-warning" data-toggle="tooltip" data-placement="bottom" title="PEDIDOS PENDIENTE PAGO" ng-click="filterByStatusPanel('3')">
                    <div class="depto-icon" style="text-align: center;">
                        <span class="registered-customer badge badge-warning count-badge"> {{dashboard.tickets.payment_pending}} </span>
                    </div>
                    <div class="text-badge text-center">
                        <span class="registered-customer badge badge-light label-badge"> PENDIENTE PAGO </span>
                    </div>
                </div>
            </div>-->
            <!-- TOTAL TICKETS LISTO PARA RETIRAR -->
            <div class="col-md-1 col-sm-3 col-xs-4">
                <div class="col-xs-12 square-widget well well-md well-warning" data-toggle="tooltip" data-placement="bottom" title="LISTO PARA RETIRAR" ng-click="filterByStatusPanel('5')">
                    <div class="depto-icon" style="text-align: center;">
                        <span class="registered-customer badge badge-warning count-badge"> {{dashboard.tickets.pickup_ready}} </span>
                    </div>
                    <div class="text-badge text-center">
                        <span class="registered-customer badge badge-light label-badge"> LISTO PARA RETIRAR  </span>
                    </div>
                </div>
            </div>
            <!-- TOTAL TICKETS PENDIENTE DE ENTREGA -->
            <div class="col-md-1 col-sm-3 col-xs-4">
                <div class="col-xs-12 square-widget well well-md well-warning" data-toggle="tooltip" data-placement="bottom" title="PENDIENTE ENTREGA" ng-click="filterByStatusPanel('5')">
                    <div class="depto-icon" style="text-align: center;">
                        <span class="registered-customer badge badge-warning count-badge"> {{dashboard.tickets.delivery_pending}} </span>
                    </div>
                    <div class="text-badge text-center">
                        <span class="registered-customer badge badge-light label-badge"> PENDIENTE ENTREGA  </span>
                    </div>
                </div>
            </div>
            <!-- TOTAL TICKETS EN RUTA -->
            <div class="col-md-1 col-sm-3 col-xs-4">
                <div class="col-xs-12 square-widget well well-md well-warning" data-toggle="tooltip" data-placement="bottom" title="EN RUTA" ng-click="filterByStatusPanel('5')">
                    <div class="depto-icon" style="text-align: center;">
                        <span class="registered-customer badge badge-warning count-badge"> {{dashboard.tickets.in_transit}} </span>
                    </div>
                    <div class="text-badge text-center">
                        <span class="registered-customer badge badge-light label-badge"> EN RUTA  </span>
                    </div>
                </div>
            </div>
            <!-- TOTAL TICKETS EN RUTA -->
            <div class="col-md-1 col-sm-3 col-xs-4">
                <div class="col-xs-12 square-widget well well-md well-warning" data-toggle="tooltip" data-placement="bottom" title="BAJA PENDIENTE" ng-click="filterByStatusPanel('5')">
                    <div class="depto-icon" style="text-align: center;">
                        <span class="registered-customer badge badge-warning count-badge"> {{dashboard.tickets.down_request_pending}} </span>
                    </div>
                    <div class="text-badge text-center">
                        <span class="registered-customer badge badge-light label-badge"> BAJA PENDIENTE  </span>
                    </div>
                </div>
            </div>
            <!-- TOTAL TICKETS EN RUTA -->
            <div class="col-md-1 col-sm-3 col-xs-4">
                <div class="col-xs-12 square-widget well well-md well-warning" data-toggle="tooltip" data-placement="bottom" title="CANCELACIÓN PENDIENTE" ng-click="filterByStatusPanel('5')">
                    <div class="depto-icon" style="text-align: center;">
                        <span class="registered-customer badge badge-warning count-badge"> {{dashboard.tickets.cancel_pending}} </span>
                    </div>
                    <div class="text-badge text-center">
                        <span class="registered-customer badge badge-light label-badge"> CANCELACIÓN PENDIENTE  </span>
                    </div>
                </div>
            </div>
            <!-- TOTAL TICKETS COMPLETADOS -->
            <!-- <div class="col-md-1 col-sm-3 col-xs-4">
                <div class="col-xs-12 square-widget well well-md well-success" data-toggle="tooltip" data-placement="bottom" title="PEDIDOS COMPLETADOS" ng-click="filterByStatusPanel('1')">
                    <div class="depto-icon" style="text-align: center;">
                        <span class="registered-customer badge badge-success count-badge"> {{dashboard.tickets.completed}} </span>
                    </div>
                    <div class="text-badge text-center">
                        <span class="registered-customer badge badge-light label-badge"> COMPLETADOS  </span>
                    </div>
                </div>
            </div>-->
            <!-- TOTAL TICKETS COMPLETADOS -->
            <!--<div class="col-md-1 col-sm-3 col-xs-4">
                <div class="col-xs-12 square-widget well well-md well-success" data-toggle="tooltip" data-placement="bottom" title="PEDIDOS COMPLETADOS" ng-click="filterByStatusPanel('1')">
                    <div class="depto-icon" style="text-align: center;">
                        <span class="registered-customer badge badge-success count-badge"> {{dashboard.tickets.completed}} </span>
                    </div>
                    <div class="text-badge text-center">
                        <span class="registered-customer badge badge-light label-badge"> COMPLETADOS  </span>
                    </div>
                </div>
            </div>-->
        </div>
        <!-- Filters -->
        <div class="col-md-12">
            <div class="container-fluid n-padding-l n-padding-r" ng-include="'views/management/filters_panel.html'"></div>
        </div>
        <div class="container-fluid">
            <div class="form-group col-md-12 col-xs-12">
                <legend style="text-align: left; margin-bottom: 5px !important;">Cantidad de pedidos a mostrar</legend>
                <rzslider rz-slider-model="slider.value" rz-slider-options="slider.options" style="width: 100% !important; min-width: 200px;"></rzslider>
            </div>
        </div>
        <div class="form-group col-md-12 col-xs-12 pull-right search_box">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                </span>
                <input type="text"
                    class="form-control"
                    ng-keydown="$event.keyCode === 13 && mainSwitchFn('search', null)"
                    ng-model="filters.searchFilter"
                    placeholder="Presione Enter para Buscar...">
                <span class="input-group-btn">
                    <button data-toggle="tooltip"
                            data-placement="bottom"
                            title="Actualizar"
                            type="button"
                            ng-click="mainSwitchFn('search', null)"
                            style="background-color: rgba(35, 100, 132, 0.66);color: white;"
                            class="btn btn-sm">
                        <i title="Actualizar" class="glyphicon glyphicon-refresh"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="form-group col-lg-12 n-padding-l n-padding-r">
            <!--<div class="col-md-12 col-xs-5"><label class="clf-size clf-p-left">Categoria</label></div>-->
            <div class="row n-margin-l n-margin-r">
            <div ng-class="col-md-12">
                <div class="col-md-12 col-xs-12">
                    <input id="categoryKeyAll" class="radio-2x categoryTypeAll" type="radio" ng-click="filters.filterCategoryKey=undefined;mainSwitchFn('search', null)" ng-checked="true" name="categoryType" autofocus>
                    <label for="categoryKeyAll" class="radio-2x-label">
                    <span>Todos</span>
                    </label>
                </div>
                <div ng-repeat="item in rsCategoryKeyChainsData" class="col-md-2 col-sm-4 col-xs-6">
                    <input id="categoryKey-{{item.idCategory}}" class="radio-2x" type="radio" ng-click="mainSwitchFn('search', null)" name="categoryType" value="{{item.idCategory}}" ng-model="filters.filterCategoryKey" autofocus>
                    <label for="categoryKey-{{item.idCategory}}" class="radio-2x-label">
                    <span>{{item.name}}</span>
                    </label>
                </div>
            </div>
            </div>
        </div>
        <div ng-if="filters.deliveryCompanyKf.idDeliveryCompany!=undefined && filters.deliveryCompanyKf.idDeliveryCompany!='3' && filters.typDelivery.idTypeDelivery!=undefined && filters.typDelivery.idTypeDelivery=='2' && (filters.ticketStatus.idStatus=='4' || filters.ticketStatus.idStatus=='5')" class="col-md-10 col-sm-10 col-xs-10 " style="margin-top: 1%;">
            <label class="switch switch-2x" for="customer-select-list">
              <input type="checkbox" class="success" ng-click="mainSwitchFn('checkAllList', select.checkList.selected)"  ng-model="select.checkList.selected" id="customer-select-list">
              <span class="slider slider-2x flat"></span>
            </label>
            <span style="cursor: pointer; margin-top: -2.3%;" class="badge ng-scope" ng-class="{'badge-success':select.checkList.selected}">Seleccionar los pedidos de la lista</span>
            <button ng-if="select.checkList.selected || listItemSelected" style="margin-left: 20px; margin-top: -2em;" type="button" ng-click="mainSwitchFn('process_list_completed', listTickt)" ng-disabled="!select.checkList.selected || !listItemSelected" class="btn btn-labeled btn-success">
                <span class="btn-label"><i class="glyphicon glyphicon-send"></i> </span>Entregados</button>&nbsp;
            <!--<button ng-if="select.checkList.selected || listItemSelected" style="margin-left: 20px; margin-top: -2em;" type="button" ng-click="mainSwitchFn('process_list_keysEnabledOnly', listTickt)" ng-disabled="!select.checkList.selected || !listItemSelected" class="btn btn-labeled btn-warning">
                <span class="btn-label"><i class="glyphicon glyphicon-send"></i> </span>Habilitados</button>-->
        </div>
        <div class="col-md-12 col-xs-12 n-padding-l n-padding-r">
            <div class="container-fluid">
              <div ng-include="'views/management/lists/listTickets.html'"></div>
            </div>
        </div>
      </div>
    </div>
</div>
<div ng-include="'views/management/tickets/updateTicket.html'"></div>
<div ng-include="'views/management/tickets/statusChange.html'"></div>
<div ng-include="'views/utilities/modalCancelConfirmation.html'"></div>
<div ng-include="'views/utilities/expirationWarningWindows.html'"></div>
