<div class="col-md-12" ng-if="(customer.update.idClientTypeFk!=5)">	          		
<label class="clf-p-left">Usuario a autorizar <span style="margin-left: 150px;"> <button ng-disabled="authUser.selected==undefined" ng-click="addAuthUserFn(authUser.selected, 'update')" class="btn btn-sm btn-success"><i class="fas fa-plus"></i>Agregar</button></label>  
<div class="selectContainer">
    <div class="input-group">
      <span class="input-group-addon"><i class="fas fa-lock-open"></i></span>
            <ui-select class="dropdown-select" ng-model="$parent.authUser.selected" on-select="onSelectCallback()">
              <ui-select-match style="width: 342px; border-top-right-radius: 4px !important;border-bottom-right-radius: 4px !important;" allow-clear="true" placeholder="Buscar usuario" >{{$select.selected.fullNameUser}}</ui-select-match>
                <ui-select-choices repeat="item in rsList.clientUser | filter: $select.search">
                  <div ng-bind-html="item.fullNameUser | highlight: $select.search"></div>
                  	<small ng-bind-html="item.emailUser | highlight: $select.search"></small>
                    <small ng-bind-html="item.nameProfile | highlight: $select.search"></small>
                    
                </ui-select-choices>
                <ui-select-no-choice>
				    No hay resultados, contacte area de soporte.
			  	</ui-select-no-choice>
            </ui-select>
    </div>
</div>
	<div  class="well-checkbox n-padding-t n-padding-b" style="margin-left: 0px;margin-right: 0px;">
	    <table ng-if="list_users.length>0">
	      <tr ng-repeat="user in list_users">
	        <td style="width: 200%"><span class="text-muted text-uppercase text-box">{{user.fullNameUser}} </span></td>
	        <td style="width: 10%; padding-bottom: 5px; padding-right: 2px;"><button data-toggle="tooltip" data-placement="top" title="Ver usuario" ng-click="showCurrentUserInfoFn(user.idUserFk)" class="btn btn-sm btn-info"><i style="font-size: 14px;" class="fas fa-info-circle"></i></button></td>
	            <td style="padding-bottom: 5px;">
	              <button data-toggle="tooltip" data-placement="right" title="Eliminar" ng-click="modalConfirmation('removeAuthUser', 0, user);" class="btn btn-sm btn-danger"><i style="font-size: 14px;" class="fas fa-user-times"></i> </button>
	            </td>
	        </tr>
	    </table>
	    <div ng-if="list_users.length==0" class="text-uppercase banner-no-rows banner-no-rows-warning banner-no-rows-padding-1"><h5><i class="fas fa-exclamation-triangle"> </i> No hay usuarios autorizados.</h5></div>
	</div>          
</div>