<!-- Modal Notification -->
<div class="modal fade" id="customerNotificationModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-content-customer">
            <div class="modal-header modal-header-customer">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i alt="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></span><span class="sr-only">Close</span></button>
            <h4 class="modal-title-customer" id="ModalLabel">BSS Seguridad </h4>
            </div>
            <div class="modal-body modal-body-customer">
                <div class="col-md-12 form-group">
                    <span class="font-size-14px">{{msg1}} </span><span class="label label-default font-size-14px">{{clientName}}</span> <span class="font-size-14px"> {{msg2}}</span>
                </div>
                <div class="col-md-12 form-group">
                    <span class="font-size-14px">{{msg3}}</span>
                </div>
            </div>
            <div class="clearfix"> </div>
            <div class="modal-footer modal-footer-customer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- //Modal Notification -->