 <!-- Modal Confirmation Customer "NO" -->
 <div class="modal fade" id="confirmRequestModalCustom" tabindex="-1" role="dialog" style="z-index: 2200 !important;" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header"style="padding: 10px !important; background-color: rgba(35, 100, 132, 0.66);">
          <h5 class="modal-title" id="ModalLabel" style="font-weight: 600;">BSS Seguridad </h5>
        </div>
        <div class="modal-body">
          <p style="text-align: initial;">{{mess2show}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" ng-click="modalConfirmation(swMenu,1)" class="btn btn-success">Si</button>
          <button type="button" ng-click="modalConfirmation(swMenu,null)" class="btn btn-danger" data-dismiss="modal" >No</button>
        </div>
      </div>
    </div>
  </div>
  <!-- //Modal Confirmation -->