<!-- Modal Cancel Notification -->
<div id="CancelNotificationModal" class="modal fade modal-dialog-centered" style="top: 130px;z-index: 2200 !important;"  role="dialog">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header"style="padding: 10px !important; background-color: rgba(35, 100, 132, 0.66);">
        <h5 class="modal-title" id="ModalLabel" style="font-weight: 600;">BSS Seguridad <a data-dismiss="modal" class="close"><i alt="Cerrar" class="glyphicon glyphicon-remove-sign"></i></a></h5>
      </div>
        <div class="modal-body">
          <!-- Razon de la cancelacion del pedido  -->
          <div class="row">
              <label style="margin-left: 15px;" class="col-xs-12">Por favor indica la raz&#243;n de la cancelaci&#243;n del pedido.</label>
              <div style="margin-left: 15px; padding-right: 40px;" class="form-group col-md-12">
                  <div class="col-md-12 col-xs-12 input-group">
                      <textarea style="resize: vertical;" name="reasonForCancelTicket" rows="3" class="form-control" ng-model="tkupdate.reasonForCancelTicket" ></textarea>
                  </div>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" ng-click="sysTempDelivCancelDataFn(cancelOption)" ng-disabled="!tkupdate.reasonForCancelTicket" data-dismiss="modal">Enviar</button>
        </div>
      </div>
  </div>
</div>
<!-- //Modal Notification -->