<!-- PDF VIEWER Modal -->
<div class="modal fade" id="pdfViewerWindow" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <button style="padding: 10px;" type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i alt="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></span><span class="sr-only">Close</span></button>
          <div class="clearfix"> </div>
          <div class="modal-body">
            <div id="pdfObjectViewer" class="form-group col-md-12" style="height: 800px;">
            </div>
          </div>
          <div class="clearfix"> </div>
        </div>
    </div>
  </div>
  <!-- //PDF VIEWER Modal -->