<!-- Modal Confirmation -->
<div class="modal fade bd-example-modal-lg" id="userNotificationModal">
    <div class="modal-dialog modal-v-align" role="document">
        <div class="modal-content">
            <div class="modal-header"style="padding: 10px !important; background-color: rgba(35, 100, 132, 0.66);">
                <h5 class="modal-title" id="ModalLabel" style="font-weight: 600;">BSS Seguridad <a ng-click="modalConfirmation('closeNotificationModal',null)" class="close"><i alt="Cerrar" class="glyphicon glyphicon-remove-sign"></i></a></h5>
            </div>
        <div class="modal-body">
            <div style="text-align: center;">
            <div class="circle-loader">
                <div class="checkmark draw"></div>
            </div>
            </div>
            <table ng-if="notificationUser.newPasswd!=null">
            <tr style="line-height: 2em;">
                <td style="vertical-align: middle;text-align: center;">
                <span class="font-size-18px">{{notificationUser.emailUser}}</span> 
                </td>
            </tr>
            <tr style="line-height: 5em;">
                <td style="vertical-align: middle;text-align: center;">
                    <span style="font-size: 18px;" class="badge badge-success">{{notificationUser.newPasswd}}</span><button data-toggle="tooltip" data-placement="bottom" title="Copiar" type="button" style="margin-left: 20px;" ngclipboard data-clipboard-action="copy" data-clipboard-text="{{notificationUser.newPasswdCpy}}" ngclipboard-success="onSuccess($event)" ngclipboard-error="onError($event)" class="btn btn-xs btn-success"><i class="fas fa-copy"></i> Copiar</button>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: middle;text-align: center;">
                    <span class="font-size-14px, text-danger">Importante: una vez cerrada esta ventana la clave no podra ser visualizada nuevamente.</span>
                </td>
            </tr>
            </table>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 pull-right">
                    <a ng-click="modalConfirmation('closeNotificationModal',null)" type="button" class="btn btn-labeled btn-danger">
                        <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Cerrar</a>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- //Modal Confirmation -->