<!-- CONTACTO-->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">CONTACTO BSS</h3>
	</div>
	<div class="panel-body">
		<!-- FORM CONTAINER-->
				<p>Si desea mayor información sobre nuestros productos o recibir asesoramiento personalizado, no dude en comunicarse a cualquiera de nuestros telefonos y con gusto atenderemos su consulta.</p>
			<div class="col-md-5">
				<ul>
					<li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
						<a target="_blank" href="https://goo.gl/maps/TpJuXwgTsfR2">Carlos Calvo 3430, C.A.B.A.</a>
					</li>					
					<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
						0810-666-BSS (2633)
					</li>
					<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
						<a href="mailto:ventas@bss.com.ar">ventas@bss.com.ar</a>
					</li>
				</ul>
			</div>
			<div class="mapa">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.232853486263!2d-58.416303984395746!3d-34.62355548045449!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccafee49fa1b5%3A0x808f35e44a65bc21!2sCarlos+Calvo+3430%2C+C1230ABH+CABA!5e0!3m2!1ses-419!2sar!4v1500993405506" width="1280" height="900" allowfullscreen=""></iframe>	
			</div> 				
			<div class="clearfix"> </div> 
	</div>	
	<div class="clearfix"> </div> 
</div>

