<!-- Customers Mails -->
<div id="customerMailsDetails" style="top: 130px;" class="modal fade modal-dialog-centered" style="top: 130px;" role="dialog">
    <div class="modal-dialog modal-md" >
      <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i alt="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></span><span class="sr-only">Close</span></button>
              <h4 class="modal-title"><i class="fas fa-envelope"></i> CORREOS DE CONTACTO
              </h4>                
          </div>
        <div class="modal-body">
          <div class="clearfix"> </div> 
          <!-- Mails -->
          <div class=" col-md-12">
            <div class="well-checkbox n-padding-t n-padding-b" style="margin-left: 0px;margin-right: 0px;">
                <table ng-if="list_mails.length>0"  style="margin-top: 2%; margin-bottom: 2%;">
                  <tr ng-repeat="mail in list_mails" style="font-size: 16px;">
                      <td style="width: 5%">
                        <span class="text-muted text-box">
                          <label ng-if="mail.idTipoDeMailFk<='4'" data-toggle="tooltip" data-placement="top" title="Mail para {{mail.typeName | uppercase}}" style="font-size: 100%; cursor: pointer;" class="label label-default">
                            <i ng-if="mail.idTipoDeMailFk=='1'" class="fas fa-key"></i> 
                            <i ng-if="mail.idTipoDeMailFk=='2'" class="fas fa-tools"></i> 
                            <i ng-if="mail.idTipoDeMailFk=='3'" class="fas fa-file-invoice-dollar"></i> 
                            <i ng-if="mail.idTipoDeMailFk=='4'" class="fas fa-paste"></i> 
                           </label>
                          <label ng-if="mail.idTipoDeMailFk=='5'" data-toggle="tooltip" data-placement="top" title="Mail para {{mail.typeName | uppercase}}" style="font-size: 100%" class="label label-warning"><i class="fas fa-envelope"></i></label>
                          <label ng-if="mail.idTipoDeMailFk=='6'" data-toggle="tooltip" data-placement="top" title="Mail para {{mail.typeName | uppercase}}" style="font-size: 100%" class="label label-danger"><i class="fas fa-envelope"></i></label>
                        </span>
                      </td>
                      <td style="width: 25%">
                        <span  style="font-weight: 600; color: #f0ad4e"> {{mail.typeName | uppercase}}</span>
                      </td>
                      <td style="width: 60%"><span class="text-muted text-box"><label style="font-size: 80%" class="label label-info">{{mail.mailContact}}</label></span></td>
                        <td style="padding-bottom: 5px;">
                          <button data-toggle="tooltip" data-placement="right" title="Copiar" ngclipboard data-clipboard-text="{{mail.mailContact}}" class="btn btn-sm btn-success" style="cursor: pointer;"><i style="font-size: 14px;" class="fas fa-copy"></i></button>
                        </td>
                    </tr>
                </table>
                <table ng-if="list_mails.length==0">
                  <tr ng-if="customer.details.mailFronKey" style="font-size: 16px;">
                      <td style="width: 25%">
                        <span class="text-muted text-box">
                          <label  data-toggle="tooltip" data-placement="top" title="Mail para Llaveros" style="font-size: 100%; cursor: pointer;" class="label label-default">
                            <i class="fas fa-key"></i>
                          </label>
                        </span>
                      </td>                               
                      <td style="width: 150%"><span class="text-muted text-box"><label style="font-size: 100%" class="label label-info">{{customer.details.mailFronKey | uppercase}}</label></span></td>
                        <td style="padding-bottom: 5px;">
                          <button data-toggle="tooltip" data-placement="right" title="Copiar" ngclipboard data-clipboard-text="{{customer.details.mailFronKey}}" class="btn btn-sm btn-success"><i style="font-size: 14px;" class="fas fa-copy"></i></button>

                        </td>
                  </tr>
                  <tr ng-if="customer.details.mailServiceTecnic" style="font-size: 16px;">
                      <td style="width: 25%">
                        <span class="text-muted text-box">
                          <label  data-toggle="tooltip" data-placement="top" title="Mail para Servicios Tecnicos" style="font-size: 100%; cursor: pointer;" class="label label-default">
                            <i class="fas fa-tools"></i>
                          </label>
                        </span>
                      </td>                               
                      <td style="width: 150%"><span class="text-muted text-box"><label style="font-size: 100%" class="label label-info">{{customer.details.mailServiceTecnic | uppercase}}</label></span></td>
                        <td style="padding-bottom: 5px;">
                          <button data-toggle="tooltip" data-placement="right" title="Copiar" ngclipboard data-clipboard-text="{{customer.details.mailServiceTecnic}}" class="btn btn-sm btn-success" style="cursor: pointer;"><i style="font-size: 14px;" class="fas fa-copy"></i></button>

                        </td>
                  </tr>
                  <tr ng-if="customer.details.mailCollection" style="font-size: 16px;">
                      <td style="width: 25%">
                        <span class="text-muted text-box">
                          <label  data-toggle="tooltip" data-placement="top" title="Mail para Cobranzas" style="font-size: 100%; cursor: pointer;" class="label label-default">
                            <i class="fas fa-file-invoice-dollar"></i>
                          </label>
                        </span>
                      </td>
                      <td style="width: 150%"><span class="text-muted text-box"><label style="font-size: 100%" class="label label-info">{{customer.details.mailCollection | uppercase}}</label></span></td>
                        <td style="padding-bottom: 5px;">
                          <button data-toggle="tooltip" data-placement="right" title="Copiar" ngclipboard data-clipboard-text="{{customer.details.mailCollection}}" class="btn btn-sm btn-success"><i style="font-size: 14px;" class="fas fa-copy"></i></button>

                        </td>
                  </tr>
                  <tr ng-if="customer.details.mail">
                      <td style="width: 25%">
                        <span class="text-muted text-box">
                          <label  data-toggle="tooltip" data-placement="top" title="Mail" style="font-size: 100%; cursor: pointer;" class="label label-default">
                            <i class="fas fa-envelope"></i>
                          </label>
                        </span>
                      </td>
                      <td style="width: 150%"><span class="text-muted text-box"><label style="font-size: 100%" class="label label-info">{{customer.details.mail | uppercase}}</label></span></td>
                        <td style="padding-bottom: 5px;">
                          <button data-toggle="tooltip" data-placement="right" title="Copiar" ngclipboard data-clipboard-text="{{customer.details.mail}}" class="btn btn-sm btn-success"><i style="font-size: 14px;" class="fas fa-copy"></i></button>

                        </td>
                  </tr>
                </table>
                <div ng-if="list_mails.length==0 && customer.details.mailFronKey==undefined && customer.details.mailServiceTecnic==undefined && customer.details.mailCollection==undefined && customer.details.mail==undefined" class="text-uppercase banner-no-rows banner-no-rows-padding-1 banner-no-rows-warning"><h5><i class="fas fa-exclamation-triangle"> </i> No hay correos cargados</h5></div>
            </div>
          </div>
          <div class="clearfix"> </div> 
        </div>
      <!-- Actions Button ng-click="newSysProfileFn()"-->
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 pull-right">
                        <a data-dismiss="modal" type="button" class="btn btn-labeled btn-danger">
                            <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Cerrar</a>
                    </div>
                </div>
            </div>
    </div>
  </div>
</div>
<!-- // Customers Mails -->