<!-- Administration list-->  
<div class="form-group col-md-12" ng-class="
								  			{	'has-success': 
								  				customer.select.company.selected!=undefined && fUpdateCustomer.update_admin_id.$valid,
								  			 	'has-error':  
								  				(customer.select.company.selected==undefined) && fUpdateCustomer.update_admin_id.$touched,
								  			}"> 
	<label class="clf-p-left">
	<span ng-if="customer.details.idClientTypeFk==2">Administracion del Edificio </span>
	<span style="padding-right: 9em;" ng-if="customer.details.idClientTypeFk==4">Empresa</span><button style="margin-left: 80px;" 
	ng-disabled="customer.select.company.selected==undefined && customer.select.company.selected.idClient==''"  ng-click="getCustomersByIdFn('info', customer.select.company.selected)" class="btn btn-xs btn-success"><i class="fas fa-info-circle"></i> Detalles</button> </label>  				                  
	<div class="input-group">
	    <span class="input-group-addon"><i class="fas fa-map-marked-alt"></i></span>
	        <ui-select name="update_admin_id" 
	        		theme="bootstrap"
	        		ng-change="getCompanyDataFn(customer.select.company.selected); enabledNextBtn();" 
	        		ng-disabled="customer.details.idClientTypeFk==4 || rsFrmCustomerListData.status==404?true:false" 
	        		ng-model="customer.select.company.selected" 
	        		ng-required="(customer.details.idClientTypeFk==2 || customer.details.idClientTypeFk==4) && !customer.details.isNotCliente" 
	        		autofocus>
	            <ui-select-match placeholder="Seleccione una opci&#243n">{{$select.selected.businessName | uppercase}}</ui-select-match>
	            <ui-select-choices group-by="'ClientType'" repeat="item in rsFrmCustomerListData | filter:filterCustomerByType | filter: $select.search">
	              <div ng-bind-html="item.businessName | highlight: $select.search"></div>
	              <small>Tipo de Cliente: </small><small ng-bind-html="item.ClientType | highlight: $select.search"></small>
	              <!--<small>Costo de Envio: </small><small ng-bind-html="item.priceShipping | highlight: $select.search"></small>-->
	            </ui-select-choices>
	            <ui-select-no-choice>
	             	<span ng-if="rsFrmCustomerListData.length==0"><i class="fas fa-exclamation-triangle"> </i>&nbsp;No hay clientes registrados</span>
	              	<span ng-if="rsCustomerListData.status==404"><i class="fas fa-exclamation-triangle"> </i>&nbsp;No hay clientes registrados</span>
			  	</ui-select-no-choice>
	        </ui-select>
	</div>
</div>
