<!-- LIST OF KEYS -->
<table id="tableKeys" class="table table-striped table-bordered table-list table-responsive table-hover table-list-deptos" style="border: 0 !important;">
    <thead class="fixed-head" style="background-color: rgba(35, 100, 132, 0.66); color: white;">
      <tr style="text-align: center;">
          <th class="th-head" style="vertical-align: middle !important;text-align: center !important;width: 10% !important;"><i class="fas fa-tasks"> </i> Elegir</th>
          <th class="th-head" style="vertical-align: middle !important;text-align: center !important;width: 7% !important;">ID</th>
          <th class="th-head" style="vertical-align: middle !important;text-align: center !important;width: 38% !important;"><i class="fas fa-file-alt"> </i> Descripción </th>
          <th class="th-head" style="vertical-align: middle !important;text-align: center !important;width: 11% !important;"><i class="fas fa-house-user"> </i> Unidad</th>
          <th class="th-head" style="vertical-align: middle !important;text-align: center !important;width: 10% !important;"><i class="fas fa-qrcode"> </i> Codigo</th>
          <th class="th-head" style="vertical-align: middle !important;text-align: center !important;width: 12% !important;"><i class="fas fa-qrcode"> </i> Cod Externo</th>
          <th class="th-head" style="vertical-align: middle !important;text-align: center !important;"><i class="glyphicon icon-flag"> </i> Estatus</th>
      </tr>
    </thead>
    <tbody class="fixed-body" style="height: 525px !important;">
      <!-- Show if there are Keys registered -->
      <tr ng-if="rsAllKeychainListDataFiltered.length>0"  class="animate-repeat" style="align-content: center; cursor: pointer;" ng-repeat="item in rsAllKeychainListDataFiltered" ng-class="{'well-success':item.selected}">
        <!--<tr class="animate-repeat" style="align-content: center; cursor: pointer;"  dir-paginate="item in rsCustomerListData|orderBy:idClient:reverse|filter:searchboxfilter|itemsPerPage:10">-->
        <td class="td-depto" style="vertical-align: middle !important;text-align: center !important;width: 10% !important;" ng-trim="true">
          <div class="text-badge">
            <label class="switch switch-2x" for="removeKey-{{item.idKeychain}}">
              <input type="checkbox" class="success" ng-disabled="item.disabled" ng-change="mainSwitchFn('addNewKeyMulti', item, null);" ng-model="item.selected" id="removeKey-{{item.idKeychain}}">
              <span class="slider slider-2x flat"></span>
            </label>
          </div>
        </td>
        <td class="td-depto" style="vertical-align: middle !important;text-align: center !important;width: 7.2% !important;" ng-click="switchCustomersFn('details_customer', item, 'show');">
        	{{item.idKeychain}}
        </td>
        <!--DESCRIPCION -->
        <td class="td-depto" ng-click="mainSwitchFn('keyDetails', item, null);" ng-trim="true" style="vertical-align: middle !important;text-align: center !important;width: 38.3% !important;font-size: 95%;" ng-if="item.idClientTypeFk!=2 && item.idClientTypeFk!=4">{{item.descriptionProduct | limitTo: 50 }}{{item.descriptionProduct.length > 50 ? '...' : ''}}</td>
        <!-- BUSINESS NAME -->
        <td nclass="td-depto" g-click="switchBuildingFn('keyDetails', item);" ng-trim="true" style="vertical-align: middle !important;text-align: center !important;width: 11.2% !important;"><label class="label label-default text-uppercase">{{item.categoryKeychain}}</label>
          <label ng-if="item.idCategoryKf=='1'" class="label label-default text-uppercase">{{item.Depto}}</label>
          <label ng-if="item.idCategoryKf!='1'" class="label label-success text-uppercase" data-toggle="tooltip" data-placement="right" title="{{item.address}}" style="cursor: pointer"><i class="fas fa-map-marked-alt"></i></label>
        </td>
        <!--<td ng-click="mainSwitchFn('keyDetails', item, null);" ng-trim="true" style="vertical-align: middle !important;text-align: center !important;">{{item.categoryKeychain}}</td>-->
        <td class="td-depto" ng-click="mainSwitchFn('keyDetails', item, null);" ng-trim="true" style="vertical-align: middle !important;text-align: center !important;width: 10.2% !important;">{{item.codigo}}</td>
        <td class="td-depto" ng-click="mainSwitchFn('keyDetails', item, null);" ng-trim="true" style="vertical-align: middle !important;text-align: center !important;width: 12% !important;">{{item.codExt}}</td>
        <td class="td-depto" ng-click="mainSwitchFn('keyDetails', item, null);" ng-trim="true" style="vertical-align: middle !important;text-align: center !important;">
          <span ng-if="item.idKeychainStatus!=null && item.idKeychainStatus!=undefined" class="label" ng-class="{'label-success': item.idKeychainStatus == '1', 'label-warning': item.idKeychainStatus == '0', 'label-danger': item.idKeychainStatus != null && item.idKeychainStatus != '0' && item.idKeychainStatus != '1', }"> {{item.statusKey}}</span>
        </td>
      </tr>
      <tr ng-if="rsAllKeychainListDataFiltered.length==0">
        <td class="td-depto" colspan="7">
          <!-- Show if there is not Keys registered -->
          <div class="col-md-12">
            <div class="text-uppercase banner-no-rows banner-no-rows-padding-1 banner-no-rows-warning">
              <h5 class="col-md-offset-4"><i class="fas fa-exclamation-triangle"> </i> <span style="font-size: 18px; font-weight: 600; color: rgba(255, 188, 87, 1);">No hay Llaveros registrados.</span></h5>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
</table>
<!-- LIST OF KEYS -->
