<!-- LIST OF KEYS -->
<table id="tableKeys" class="table table-striped table-bordered table-list table-responsive table-hover table-list-deptos" style="border: 0 !important;">
    <thead class="fixed-head" style="background-color: rgba(35, 100, 132, 0.66); color: white;">
      <tr style="text-align: center;">
          <th class="th-head" style="vertical-align: middle !important;text-align: center !important;width: 5% !important;">ID</th>
          <th class="th-head" style="vertical-align: middle !important;text-align: center !important;width: 11% !important;"><i class="fas fa-qrcode"> </i> Codigo</th>
          <th class="th-head" style="vertical-align: middle !important;text-align: center !important;width: 12% !important;"><i class="fas fa-qrcode"> </i> Cod Externo</th>
          <th class="th-head" style="vertical-align: middle !important;text-align: center !important;width: 10% !important;"><i class="glyphicon icon-flag"> </i> Estatus</th>
      </tr>
    </thead>
    <tbody class="fixed-body" style="height: 325px !important;">
      <!-- Show if there are Keys registered -->
      <tr ng-if="rsNewKeychainList.length>0"  class="animate-repeat" style="align-content: center; cursor: pointer;" ng-repeat="item in rsNewKeychainList">
        <td class="td-depto" ng-if="item.idKeychain==undefined" style="vertical-align: middle !important;text-align: center !important;width: 5% !important;">
        	{{$index+1}}
        </td>
        <td class="td-depto" ng-if="item.idKeychain!=undefined" style="vertical-align: middle !important;text-align: center !important;width: 5% !important;">
        	{{item.idKeychain}}
        </td>
        <td class="td-depto" ng-trim="true" style="vertical-align: middle !important;text-align: center !important;width: 11% !important;">{{item.codigo}}</td>
        <td class="td-depto" ng-trim="true" style="vertical-align: middle !important;text-align: center !important;width: 12% !important;">{{item.codExt}}</td>
        <td class="td-depto" ng-trim="true" style="vertical-align: middle !important;text-align: center !important;width: 10% !important;">
          <span ng-if="item.idKeychainStatusKf!=null && item.idKeychainStatusKf!=undefined" class="label" ng-class="{'label-success': item.idKeychainStatusKf == '1', 'label-warning': item.idKeychainStatusKf == '0', 'label-danger': item.idKeychainStatusKf == null || item.idKeychainStatusKf == undefined, }"> {{item.statusKey}}</span>
        </td>
      </tr>
      <tr ng-if="rsNewKeychainList.length==0">
        <td class="td-depto" colspan="10">
          <!-- Show if there is not Keys registered -->
          <div class="col-md-12">
            <div class="text-uppercase banner-no-rows banner-no-rows-padding-1 banner-no-rows-warning">
              <h5 class="col-md-offset-5"><i class="fas fa-exclamation-triangle"> </i> <span style="font-size: 18px; font-weight: 600; color: rgba(255, 188, 87, 1);">No hay Llaveros.</span></h5>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
</table>
<!-- LIST OF KEYS -->