<!-- LIST OF KEYS -->
<table id="tableKeys" class="table table-striped table-bordered table-list table-responsive table-hover table-list-deptos" style="border: 0 !important;">
  <thead class="" style="background-color: rgba(35, 100, 132, 0.66); color: white;">
    <tr style="text-align: center;">
        <th style="vertical-align: middle !important;text-align: center !important;width: 7.2% !important;">ID</th>
        <th style="vertical-align: middle !important;text-align: center !important;width: 10% !important;"><i class="fas fa-qrcode"> </i> Codigo</th>
        <th style="vertical-align: middle !important;text-align: center !important;width: 12% !important;"><i class="fas fa-qrcode"> </i> Cod Externo</th>
        <th style="vertical-align: middle !important;text-align: center !important;width: 10% !important;"><i class="glyphicon icon-flag"> </i> Estatus</th>
    </tr>
  </thead>
  <tbody style="overflow: auto;height: auto !important;">
    <!-- Show if there are Keys registered -->
      <tr ng-if="rsExistingKeyList.length>0"
          class="animate-repeat"
          style="align-content: center; cursor: pointer;"
          ng-class="{
            'table-tr-hover-selected': (
              (
                (item.idKeychain != null && item.idKeychain != undefined) &&
                (item.tb_ticket_keychain != null && item.tb_ticket_keychain != undefined) &&
                (item.tb_ticket_keychain.idTicketKeychain != undefined) &&
                (item.tb_ticket_keychain.idTicketKf == tkupdate.idTicket)
              ) ||
              (item.idKeychain == null || item.idKeychain == undefined)
            )
          }"
          ng-repeat="item in rsExistingKeyList | orderBy:'codigo'">
      <td style="vertical-align: middle !important;text-align: center !important;width: 7.2% !important;" ng-click="switchCustomersFn('details_customer', item, 'show');">
        <span ng-if="item.idKeychain!=null && item.idKeychain!=undefined">{{item.idKeychain}}</span>
        <span ng-if="item.idKeychain==null || item.idKeychain==undefined" class="label label-default">-</span>
      </td>
      <!--<td ng-click="mainSwitchFn('keyDetails', item, null);" ng-trim="true" style="vertical-align: middle;text-align: center;">{{item.categoryKeychain}}</td>-->
      <td ng-click="mainSwitchFn('existingKeyDetails', item, null);" ng-trim="true" style="vertical-align: middle !important;text-align: center !important;width: 10.2% !important;">{{item.codigo}}</td>
      <td ng-click="mainSwitchFn('existingKeyDetails', item, null);" ng-trim="true" style="vertical-align: middle !important;text-align: center !important;width: 12% !important;">{{item.codExt}}</td>
      <td ng-click="mainSwitchFn('existingKeyDetails', item, null);" ng-trim="true" style="vertical-align: middle !important;text-align: center !important;width: 10% !important;">
        <span ng-if="item.idKeychainStatusKf!=null && item.idKeychainStatusKf!=undefined" class="label" ng-class="{'label-success': item.idKeychainStatusKf == '1', 'label-warning': item.idKeychainStatusKf == '0', 'label-danger': item.idKeychainStatusKf != null && item.idKeychainStatusKf != '0' && item.idKeychainStatusKf != '1', }"> {{item.statusKey}}</span>
        <span ng-if="(
          (item.idKeychain!=null && item.idKeychain!=undefined) &&
          (item.tb_ticket_keychain!=null && item.tb_ticket_keychain!=undefined) &&
          (item.tb_ticket_keychain.idTicketKeychain!=undefined) &&
          (item.tb_ticket_keychain.idTicketKf==tkupdate.idTicket)
        ) ||
        (item.idKeychain==null || item.idKeychain==undefined)"
        class="badge badge-warning">
          Nuevo
        </span>
      </td>
    </tr>
    <tr ng-if="rsExistingKeyList.length==0">
      <td colspan="4">
        <!-- Show if there is not Keys registered -->
        <div class="col-md-12">
          <div class="text-uppercase banner-no-rows banner-no-rows-padding-1 banner-no-rows-warning">
            <h5 class="col-md-offset-4"><i class="fas fa-exclamation-triangle"> </i> <span style="font-size: 18px; font-weight: 600; color: rgba(255, 188, 87, 1);">No hay Llaveros.</span></h5>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<!-- LIST OF KEYS -->
