<!-- USER REGISTER FORM -->
<div id="enableInitialKeys" class="modal fade bd-example-modal-lg" style="top: 30px;" role="dialog">
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="modalConfirmation('closeWindow', 0, null)"><span aria-hidden="true"><i alt="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></span><span class="sr-only">Close</span></button>
                <h3 class="modal-title"><i class="product-success fas fa-key"></i> HABILITAR ENTREGA INICIAL
                    <!--<span style="margin-top: -0.4em;" class="badge badge-success" ng-if="users.new.idProfileKf.idProfile"><i class="fas fa-check-circle"></i> {{users.new.idProfileKf.nameProfile}}</span>-->
                </h3>
            </div>
            <div class="modal-body"  style="overflow-y: scroll;" ng-class="{'h-400px': keys.file.address.selected==undefined || keys.file.address.selected=='', 'h-auto-px': keys.file.address.selected!=undefined}">
                <!-- FORM CONTAINER-->
                <form class="form-horizontal" name="fNewKeyFile" novalidate>
                    <fieldset>
                        <div class="row">
                            <div class="form-group">
                                <div class="form-group col-md-6 col-sm-6 col-xs-12" ng-class="{
                                    'has-success': 
                                        customer.update.mainQttyKeys!='' && customer.update.mainQttyKeys!=null && customer.update.mainQttyKeys>0  && fNewKeyFile.mainQttyKeys.$valid,
                                    'has-error':
                                        (!customer.update.mainQttyKeys || customer.update.mainQttyKeys==undefined || customer.update.mainQttyKeys==0) &&  fNewKeyFile.mainQttyKeys.$touched,
                                    }">
                                    <label style="padding-left: 15px;">N° de Llaves para cada unidad</label>  
                                    <div class="col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fas fa-sort-numeric-up-alt"></i></span>
                                            <input 
                                                name="mainQttyKeys" 
                                                ng-minlength="0" 
                                                class="form-control input--number" 
                                                ng-model="customer.update.mainQttyKeys"  
                                                type="text" 
                                                ng-blur="fnLoadPhoneMask();" 
                                                ng-keydown="fnLoadPhoneMask();"
                                                ng-keyup="customer.update.address.selected!=undefined && customer.update.products.selected!=undefined && customer.update.mainQttyKeys>0?generateKeyListFn(customer.update):''" autofocus />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ol-md-6 col-sm-6 col-xs-12" ng-class="{
                                    'has-success': 
                                        customer.update.mainQttyKeys!='' && customer.update.mainQttyKeys!=null && customer.update.mainQttyKeys>0  && fNewKeyFile.mainQttyKeys.$valid,
                                    'has-error':
                                        (!customer.update.mainQttyKeys || customer.update.mainQttyKeys==undefined || customer.update.mainQttyKeys==0) &&  fNewKeyFile.mainQttyKeys.$touched,
                                    }">
                                    <label style="padding-left: 15px;">Precio</label>  
                                    <div class="col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fas fa-dollar-sign"></i></span>
                                            <input 
                                                name="mainQttyKeys" 
                                                ng-minlength="0" 
                                                class="form-control input--decimal" 
                                                placeholder="$0,00"
                                                ng-model="customer.update.keyPrice"  
                                                type="text" 
                                                ng-blur="fnLoadPhoneMask();" 
                                                ng-keydown="fnLoadPhoneMask();"
                                                ng-keyup="customer.update.address.selected!=undefined && customer.update.products.selected!=undefined && customer.update.mainQttyKeys>0?generateKeyListFn(customer.update):''" autofocus />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- End_date -->
                            <div class="form-group col-md-6 col-md-6 col-xs-6" ng-class="
                            {'has-success': 
                                customer.update.BonusendDate!='' && fNewKeyFile.bonus_end_date.$valid,
                            'has-error':  
                                (customer.update.BonusendDate=='' || customer.update.BonusendDate==undefined) && fNewKeyFile.bonus_end_date.$touched,
                            }">
                                <label style="padding-left: 15px;">Fecha de finalización</label>
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <span ng-click="open_end_date()" class="input-group-addon"><i ng-click="open_end_date()" class="far fa-calendar-alt"></i></span>
                                        <input 
                                        ng-click="open_end_date()" 
                                        type="text" 
                                        name="bonus_end_date"
                                        class="form-control" 
                                        uib-datepicker-popup="{{format}}" 
                                        ng-model="customer.update.BonusendDate" 
                                        is-open="popup_end_date.opened"  
                                        ng-required="true"
                                        close-text="Cerrar" 
                                        clear-text="Borrar"
                                        current-text="Hoy"
                                        alt-input-formats="altInputFormats" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 n-padding-l" style="margin-top: 2.7%;">
                                <button ng-if="list_depto_floors.length==0 || customer.update.products.selected==undefined || customer.update.mainQttyKeys==''" type="button" ng-click="generateKeyListFn(customer.update)" ng-disabled="customer.update.mainQttyKeys==0" class="btn btn-labeled btn-warning">
                                    <span class="btn-label"><i class="fas fa-cog"></i> </span>Generar
                                </button>
                                <button ng-if="list_depto_floors.length>0 && customer.update.address.selected!=undefined && customer.update.products.selected!=undefined && customer.update.mainQttyKeys>0" type="button" ng-click="modalConfirmation('downloadFile', 0 , list_depto_floors)" ng-disabled="customer.update.address.selected==undefined || customer.update.products.selected==undefined || customer.update.mainQttyKeys==0 || list_depto_floors.length==0" class="btn btn-labeled btn-success">
                                    <span class="btn-label"><i class="fas fa-file-excel"></i> </span>Descargar
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <div class="alert alert-info" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <strong><i class="far fa-lightbulb"></i>&nbsp </i>Info: Formas de asignar el N° de llaves en un consorcio.<br></strong>
                                    <span>- N° de Llaves para cada unidad.</span><br>
                                    <span>- N° de Llaves por piso.</span><br>
                                    <span>- N° de Llaves por unidad.</span>
                                </div>
                            </div>
                        </div>
                        <div ng-if="list_depto_floors.length>0 && customer.update.address.selected!=undefined && customer.update.products.selected!=undefined && customer.update.mainQttyKeys>0" ng-include="'views/customer/list/listDepartmentsKeys.html'"></div>
                    </fieldset>
                </form>
                <div class="clearfix"> </div> 
            </div>
        </div>
    </div>
</div>
<!-- // USER REGISTER FORM -->