<!-- SETUP SERVICES COST -->
<div class="panel panel-default ">
	<div class="panel-heading">
		<h3 class="panel-title">COSTOS DE SERVICIOS</h3>
	</div>
	<div class="panel-body">
		<!-- FORM CONTAINER-->
		<div class="row">
			<!-- Company Name-->
			<div ng-if="sysLoggedUser.idProfileKf=='1'" class="form-group col-md-6">
				<label style="padding-left: 15px;">Administración</label>
				<div class="col-xs-12 selectContainer">
					<div class="input-group">
					<span class="input-group-addon"><i class="icon-suitcase"></i></span>
						<ui-select 
							name="admins"
							ng-change="ticket.optionTypeSelected.name=undefined;select.buildings.selected=undefined;getBuildingListFn(select.admins.selected);"
							ng-disabled="sysLoggedUser.idProfileKf!='1'"
							ng-model="select.admins.selected" 
							on-select="onSelectCallback()" >
						<ui-select-match allow-clear="true" placeholder="Selecione una opción" >{{$select.selected.name | uppercase}}</ui-select-match>
							<ui-select-choices repeat="item in administrationList | filter: $select.search">
								<div ng-bind-html="item.name | highlight: $select.search"></div>
								<small>Tipo de Cliente: </small><small class="label label-default" ng-bind-html="item.ClientType | highlight: $select.search"></small>
							</ui-select-choices>
							<ui-select-no-choice>
								<span ng-if="administrationList.length > 0"><i class="fas fa-exclamation-triangle"> </i>&nbsp;No hay Administraciones registradas</span>
							</ui-select-no-choice>
						</ui-select>
					</div>
				</div>
			</div>
			<!-- Text Address for Admins & TASS-->
			<div ng-if="sysLoggedUser.idProfileKf!=3 && sysLoggedUser.idProfileKf!=5 && sysLoggedUser.idProfileKf!=6 && !isHomeSelected" class="form-group n-padding-r" ng-class="
				{	'col-md-6': 
					sysLoggedUser.idProfileKf=='1',
					'col-md-12':  
					sysLoggedUser.idProfileKf!='1',
				}">
				<label style="padding-left: 15px;">Consorcio</label>
				<div class="col-xs-12 selectContainer">
					<div class="input-group">
					<span class="input-group-addon"><i class="icon-suitcase"></i></span>
						<ui-select 
							name="buildings"
							ng-change="mainSwitchFn('loadBuildingData', select.buildings.selected, null); ticket.idClientDepartament=undefined;"
							ng-disabled="select.admins.selected==undefined"
							ng-model="select.buildings.selected">
						<ui-select-match allow-clear="true" placeholder="Selecione una opción" >{{$select.selected.name | uppercase}}</ui-select-match>
							<ui-select-choices repeat="item in buildingList | filter: $select.search">
								<div ng-bind-html="item.name | highlight: $select.search"></div>
								<small>Tipo de Cliente: </small><small class="label label-default" ng-bind-html="item.ClientType | highlight: $select.search"></small>
							</ui-select-choices>
							<ui-select-no-choice>
								<span ng-if="buildingList.length == 0"><i class="fas fa-exclamation-triangle"> </i>&nbsp;No hay consorcios asociados</span>
							</ui-select-no-choice>
						</ui-select>
					</div>
				</div>
			</div>
			<!-- Address for Onwers/Tenants-->
			<div class="form-group" ng-if="sysLoggedUser.idProfileKf==3 || sysLoggedUser.idProfileKf==5 || (((sysLoggedUser.idProfileKf==4 && isHomeSelected) || sysLoggedUser.idProfileKf==6) && sysLoggedUser.idTypeTenantKf!=null)">
				<!-- TABLE LIST WHERE IS DISPLAYED THE DEPARTMENTS -->
				<div ng-include="'views/tickets/list/listDepartments.html'"></div>
			</div>
		</div>
		<div ng-if="ticket.idClientDepartament!=null || select.buildings.selected!=undefined" >
				<div class="container-fluid justify-content-md-center col-md-12 col-md-offset-3">
					<div class="col-md-3">    	    
						<div class="hero-widget well well-sm">
							<div class="icon">
								<i class="fas fa-edit"></i>
							</div>
							<div class="text">
								<h4 class="text-muted">Costo Gestion</h4>
							</div>
							<div class="options">
							<span data-toggle="tooltip" data-placement="bottom" title="Costo de gestion" class="badge badge-light">{{buildingServiceValue}}</span>
							</div>
						</div>
					</div>
					<div class="col-md-3">    	    
						<div class="hero-widget well well-sm">
							<div class="icon">
								<i class="fas fa-truck"></i>
							</div>
							<div class="text">
								<h4 class="text-muted">Costo de Envío</h4>
							</div>
							<div class="options">
								<span data-toggle="tooltip" data-placement="bottom" title="Costo de envio" class="badge badge-light">{{buildingDeliveryCost}}</span>
							</div>
						</div>
					</div>
				</div>
		</div>
		<div class="col-md-6 col-xs-12 form-group" ng-if="ticket.idClientDepartament!=null || select.buildings.selected!=undefined">
			<legend style="text-align: center;">Puertas disponibles</legend>
			<div class="col-md-12 col-xs-12 n-padding-l n-padding-r">
				<div ng-if="rsCustomerAccessControlDoors.length>0" class="form-group col-md-2 col-xs-6 bg-warning " ng-repeat="door in rsCustomerAccessControlDoors" style="margin-bottom: 0px !important; margin-left: 5px !important; margin-top: 5px !important;">
					<div class="col-md-12 col-xs-12 well-door" style="cursor: pointer;">
						<div class="door-icon">
							<span><i class="product-success fas " ng-class="{'fa-door-open text-success':door.selected, 'fa-door-closed':!door.selected}"></i></span>
						</div>
						<div class="text-badge">
							<span class="new-customer badge badge-light"> {{door.titulo}} </span>
						</div>
					</div>
				</div>
				<div ng-if="rsCustomerAccessControlDoors.length==0 " class="text-uppercase banner-no-rows banner-no-rows-padding-1 banner-no-rows-warning"><h5><i class="fas fa-exclamation-triangle"> </i> No hay Puertas disponibles</h5></div>
			</div>
		</div>
		<div class="col-md-6 col-xs-12 form-group" ng-if="ticket.idClientDepartament!=null || select.buildings.selected!=undefined">
			<legend style="text-align: center;">Llaveros disponibles</legend>
			<div ng-if="rsKeyProductsData.length>=1" class="modal-body pre-scrollable">
				<table class="table  table-striped ">
					<thead style=" background: #4d5d6f; color: white;">
						<tr >
							<th>N°</th>
							<th>Descripcion</th>
							<th>Status</th>
							<th>Costo</th>
					</thead>
					<tbody >
						<tr style="align-content: center;" ng-repeat="keys in rsKeyProductsData">
						
							<td>{{$index+1}}</td>
							<td><span ng-if="keys.item=='Llaveros'"><i class="fas fa-key"> </i></span>
								<span ng-if="keys.item=='Sticket Vehicular'"><i class="fas fa-car"> </i></span>
								<span ng-if="keys.item=='Credencial Movil'"><i class="fas fa-mobile-alt"> </i></span>{{keys.descriptionProduct}}</td>
							<td><span class="badge" ng-class="{'badge-warning':keys.idStatusFk!='1', 'badge-success':keys.idStatusFk=='1',}">{{keys.contractStatus}}</span></td>
							<td>$ {{keys.priceFabric}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div ng-if="rsKeyProductsData.length==0 " class="text-uppercase banner-no-rows banner-no-rows-padding-1 banner-no-rows-warning"><h5><i class="fas fa-exclamation-triangle"> </i> No hay Llaveros disponibles</h5></div>
		</div>
	</div>
</div>