<!-- Modal Place Type -->
<div id="selectPlace" style="top: 210px;" class="modal fade modal-dialog-centered" role="dialog">
	<div class="modal-dialog modal-md" >
	    <div class="modal-content win-d-unit-1x">
	    	<div class="modal-header">
          		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i alt="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></span><span class="sr-only">Close</span></button>
            	<h3 class="modal-title">
		            <span class="card-depto-span">SELECCIONA UNA OPCIÓN</span>
            	</h3>
        	</div>
	    	<div class="modal-body" style="height: 187px; padding: 0px;">
				<!-- FORM CONTAINER-->
				<div class="col-md-12"> 
					<!-- ALTA-->
				    <div class="col-md-6 col-xs-6 card-depto-colum" ng-click="mainSwitchFn('home', 1);" >
				        <div class="card-depto cyan white-text">
				            <div class="card-depto-content">
                                <i class="fas fa-home" style="padding-left: 0.50em;"></i><span>
				            </div>
				            <span class="card-depto-span" style="margin-left: 40%;">HOME</span>
				        </div>
				    </div>
				    <!-- BAJA -->
				    <div class="col-md-6 col-xs-6 card-depto-colum" ng-click="mainSwitchFn('administration', 1);" >
				        <div class="card-depto cyan white-text">
				            <div class="card-depto-content">
                                <i class="fas fa-building" style="padding-left: 0.55em;"></i>
				            </div>
				             <span class="card-depto-span" style="margin-left: 13%;">ADMINISTRACION</span>
				        </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //Modal Place Type -->