<!-- Authorized Users -->
<div id="contactUsers" style="top: 130px;" tabindex="-1" class="modal fade modal-dialog-centered in" style="top: 130px;" role="dialog">
    <div class="modal-dialog modal-md" >
      <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" ng-click="closeContactUsersFn()"><span aria-hidden="true"><i alt="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></span><span class="sr-only">Close</span></button>
              <h3 class="modal-title"><i class="fas fa-user-shield"></i> CONTACTOS REFERENTES</h3>
          </div>
        <div class="modal-body">
          <!-- FORM CONTAINER-->
          <div class="col-md-12">               
            <label class="clf-p-left">Usuario referente <span style="margin-left: 300px;"> <button ng-disabled="contactUser.selected==undefined" ng-click="addContactUserFn(contactUser.selected, 'update')" class="btn btn-sm btn-success"><i class="fas fa-plus"></i>Agregar</button></label>  
            <div class="selectContainer">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fas fa-lock-open"></i></span>
                        <ui-select class="dropdown-select" ng-model="$parent.contactUser.selected" on-select="onSelectCallback()">
                          <ui-select-match style="width: 496px;" allow-clear="true" placeholder="Buscar usuario" >{{$select.selected.fullNameUser}}</ui-select-match>
                            <ui-select-choices repeat="item in listCustomerUsersData | filter: $select.search">
                              <div ng-bind-html="item.fullNameUser | highlight: $select.search"></div>
                                <small ng-bind-html="item.fullNameUser | highlight: $select.search"></small>
                                <small ng-bind-html="item.nameProfile | highlight: $select.search"></small>
                                <small class="label label-default" ng-bind-html="item.nameProfile | highlight: $select.search"></small>
                                
                            </ui-select-choices>
                            <ui-select-no-choice>
                        No hay resultados, contacte area de soporte.
                      </ui-select-no-choice>
                        </ui-select>
                </div>
            </div>
            <div  class="well-checkbox" style="margin-left: 0px;margin-right: 0px;">
                <table ng-if="list_users.length>0">
                  <tr ng-repeat="user in list_users">
                    <td style="width: 200%"><span class="text-muted text-uppercase text-box">{{user.fullNameUser}} </span></td>
                    <td style="width: 10%; padding-bottom: 5px; padding-right: 2px;"><button data-toggle="tooltip" data-placement="top" title="Ver usuario" ng-click="showCurrentUserInfoFn(user.idUserFk)" class="btn btn-sm btn-info"><i style="font-size: 14px;" class="fas fa-info-circle"></i></button></td>
                        <td style="padding-bottom: 5px;">
                          <button data-toggle="tooltip" data-placement="right" title="Eliminar" ng-click="modalConfirmation('removeContactUser', 0, user);" class="btn btn-sm btn-danger"><i style="font-size: 14px;" class="fas fa-user-times"></i> </button>
                        </td>
                    </tr>
                </table>
                <div ng-if="list_users.length==0" class="text-uppercase banner-no-rows banner-no-rows-warning banner-no-rows-padding-1"><h5 style="text-align: center;"><i class="fas fa-exclamation-triangle"> </i> No hay usuarios de contacto.</h5></div>
            </div>          
          </div>
        </div>
        <div class="clearfix"> </div>
      <!-- Actions Button ng-click="newSysProfileFn()"-->
        <div class="modal-footer">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 pull-right">
                    <button type="submit" ng-click="switchCustomersFn('contactdUsers_update', customer.info)" ng-disabled="!isArrChanged" class="btn btn-labeled btn-success">
                        <span class="btn-label"><i class="glyphicon glyphicon-send"></i> </span>Aplicar</button>
                    <a ng-click="closeContactUsersFn()" type="button" class="btn btn-labeled btn-danger">
                        <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Cancelar</a>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<!-- // Authorized Users -->