<!-- CUSTOMER CONTRACT FORM -->
<div id="UpdateCustomerContract" class="modal fade bd-example-modal-lg" style="top: 30px;" role="dialog">
  	<div class="modal-dialog modal-lg" >
	    <div class="modal-content">
          	<div class="modal-header">
          		<button type="button" class="close" data-dismiss="modal" ng-click="getContractsByCustomerIdFn(customerFound.idClient,'assign')"><span aria-hidden="true"><i alt="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></span><span class="sr-only">Close</span></button>
            	<h3 class="modal-title">
            		<i class="product-success fas fa-file-signature"></i> CONTRATO - {{contract.update.numeroContrato}}
            		<span style="margin-top: -0.4em;" class="badge badge-success" ng-if="contract.update.fechaFirmaActivacion!=null && contract.update.idStatusFk=='1'"><i class="fas fa-check-circle"></i> ACTIVO</span>
            		<span style="margin-top: -0.4em;" class="badge badge-warning" ng-if="(contract.update.fechaFirmaActivacion!=null || contract.update.fechaFirmaActivacion==null) && contract.update.idStatusFk=='0'"><i class="fas fa-exclamation-triangle"></i> INACTIVO</span>
            	</h3>
        	</div>
    		<div class="modal-body"  style="overflow-y: scroll; padding-bottom: 0px;">
				<!-- FORM CONTAINER-->
				<form class="form-horizontal" name="fCustomerUpdateContract" novalidate>
					<fieldset>
					<!-- Sign Date -->					  
					<div class="form-group col-md-6" >  
					  	<label style="padding-left: 15px;">Fecha de vigencia</label>
					    <div class="col-xs-12 selectContainer">
						    <div class="input-group">
						    	<span class="input-group-addon"><i class="far fa-calendar-alt"></i></span>
				    			<input id="inputDatePick" name="contractDate" type="text" ng-keydown="fnLoadPhoneMask()" ng-disabled="true" class="form-control input--date" ng-required="true" ng-model="contract.update.fechaFirmaVigencia" />
				    		</div>
				    	</div>
					</div>
					<!-- Contract Number -->
					<div class="form-group col-md-6">
					  <label style="padding-left: 15px;">N° de Contraro</label>  
						  <div class="col-xs-12">
							<div class="input-group">
								<span class="input-group-addon"><i class="fas fa-file-contract"></i></span>						  				
							  	<input  name="dateCodeDigits" autofocus="true" class="form-control" ng-disabled="true" ng-model="contract.update.numeroContrato" type="text" autofocus/>
						  </div>
						</div>																		
					</div>
					<!-- Contract Type-->
					<!--ng-options="item.idDepartment as item.departmentFloor for item in ListDpto"-->
					<div class="form-group col-md-6">
					  <label style="padding-left: 15px;">Forma de contratacion</label>  
					    <div class="col-xs-12">
						    <div class="input-group">
						    	<span class="input-group-addon"><i class="fas fa-border-style"></i></span>
						  		<select name="contract_type" 
						  				class="form-control"
						  				ng-options="item.idTypeContrato as item.description for item in rsTypeOfContractsData"
						  				ng-model="contract.update.contratoType" ng-change="validateServiceListItemsFn()" ng-disabled="true"  ng-required="true" autofocus >
								    <option class="text-uppercase" value="">Selecciona una forma</option>    
							    </select>
						    </div>
					  	</div>
					</div>					
					<!-- Maintenance Type-->
					<!--ng-options="item.idDepartment as item.departmentFloor for item in ListDpto"-->
					<div class="form-group col-md-6">
					  <label style="padding-left: 15px;">Tipo de mantenimiento</label>  
					    <div class="col-xs-12">
						    <div class="input-group">
						    	<span class="input-group-addon"><i class="fas fa-screwdriver"></i></span>
						  		<select name="contract_mnt_type" 
						  				class="form-control"
						  				ng-options="item.idTypeMaintenance as item.typeMaintenance for item in rsTypeOfMaintenanceData" 
						  				ng-model="contract.update.maintenanceType" ng-change="validateServiceListItemsFn()" ng-disabled="true"  ng-required="true" autofocus >
								    <option class="text-uppercase" value="">Selecciona un tipo</option>
							    </select>
						    </div>
					  	</div>
					</div>					
					<!-- SERVICES -->
					<div class="form-group form-inline col-md-12">
					    <label style="padding-left: 15px;">Servicios
					    	<button style="margin-left: 120px;" data-toggle="tooltip" data-placement="right" title="Agregar servicio" ng-click="switchCustomersFn('contract', contract.update, 'assign_contract_update_service');" class="btn btn-sm btn-warning"><i class="fas fa-plus"></i> Agregar</button>
					    </label>									
					</div>
					<div class="form-group col-md-12" style="padding:10px 10px 0px 10px;">
						<div ng-if="list_services_tmp.length>=1" ng-repeat="srvs in list_services_tmp" class="col-md-6" style="margin:5px 0px 25px 0px; height: auto;">
					    	<div class="col-xs-12 srvs-widget well well-md n-margin-b n-padding-l n-padding-r" ng-class="{'well-default':(srvs.item_contracted==undefined || srvs.item_contracted==null || srvs.items_contracted==undefined || srvs.items_contracted==null) && srvs.serviceItems.length==0,
					    	 'well-warning':srvs.item_contracted==srvs.item_used && srvs.serviceItems.length>0 || srvs.item_available<=0 && srvs.serviceItems.length>0,
					    	 'well-success':srvs.item_available>0
					    	}">
		                        <div class="col-md-2 srvs-icon">
		                            <span><i ng-class="{
												'fas fa-door-open': srvs.idServiceType=='1',
												'fas fa-network-wired': srvs.idServiceType=='2',
												'fas fa-video': srvs.idServiceType=='3' || srvs.idServiceType=='4',
												'fas fa-bell': srvs.idServiceType=='5',
												'fas fa-code-branch': srvs.idServiceType=='6',
												'srvs-icon-default-i':(srvs.item_contracted==undefined || srvs.item_contracted==null || srvs.items_contracted==undefined || srvs.items_contracted==null) && srvs.serviceItems.length==0,
					    	 					'srvs-icon-warning-i':srvs.item_contracted==srvs.item_used && srvs.serviceItems.length>0 || srvs.item_available<=0 && srvs.serviceItems.length>0,
					    	 					'srvs-icon-success-i':srvs.item_available>0												
											   }"></i>
									</span>
		                        </div>
								<div class="col-md-10 text-badge" style="margin-top: 10px;">
									<span class="srvs-panel-head" ng-class="{												
												'srvs-panel-head-default':(srvs.item_contracted==undefined || srvs.item_contracted==null || srvs.items_contracted==undefined || srvs.items_contracted==null) && srvs.serviceItems.length==0,
					    	 					'srvs-panel-head-warning':srvs.item_contracted==srvs.item_used && srvs.serviceItems.length>0 || srvs.item_available<=0 && srvs.serviceItems.length>0,
					    	 					'srvs-panel-head-success':srvs.item_available>0												
											   }"> {{srvs.serviceName | uppercase}}</span>
								</div>
								<div ng-if="srvs.item_contracted!=undefined && srvs.item_used!=undefined && srvs.item_contracted==srvs.item_used && srvs.serviceItems.length>0" class="col-md-12 text-badge col-md-offset-1">
									<span  style="margin-top: -0.4em; font-size: 80%;" class="badge badge-warning"><i class="fas fa-exclamation-triangle"></i> Limite alcanzado</span>
								</div>
								<div ng-if="(srvs.item_contracted==undefined || srvs.item_contracted==null || srvs.items_contracted==undefined || srvs.items_contracted==null) && srvs.serviceItems.length==0" class="col-md-12 text-badge col-md-offset-1">
									<span  style="margin-top: -0.4em;" class="badge badge-default"><i class="fas fa-info-circle"></i> Servicio no contratado</span>
								</div>
								<!--<div class="col-md-12 text-badge" style="margin-top: 10px;">									
									<pre>{{srvs.serviceItems | json }}</pre>
								</div>-->
								<!--<div class="col-md-2 text-badge" style="margin-top: 10px;">
									<span ng-if="srvs.serviceItems.length>0" ng-click="cardCollapsed = !cardCollapsed" class="glyphicon" style="margin-left: 20px;" data-toggle="collapse" data-target="#{{srvs.idServiceType}}"><span ng-class="{'glyphicon-chevron-up':!cardCollapsed,'glyphicon-chevron-down':cardCollapsed}" data-toggle="tooltip" data-placement="right" title="ver items"></span></span>
								</div>-->
								<div id="{{srvs.idServiceType}}" class="col-md-12">
							        <table>
							          	<tr ng-repeat="item in srvs.serviceItems">
							              	<td style="width: 1%;padding: 0 10px 0 10px;"><label style="font-size: 75%" class="label label-default">{{$index+1}}</label></td>
							              	<td ng-if="srvs.idServiceType=='1' || srvs.idServiceType=='3' || srvs.idServiceType=='4'" style="width: 20%; padding-top: 7px;">
							              		<span class="text-muted text-box">
							              			<label style="font-size: 100%;">{{item.itemName | uppercase}}</label>
							              		</span>
							              	</td>
							              	<td ng-if="srvs.idServiceType=='2' || srvs.idServiceType=='5' || srvs.idServiceType=='6'" style="width: 40%; padding-top: 7px;"><span class="text-muted text-box">
							              		<label style="font-size: 100%;">{{item.itemName | uppercase}}</label></span>
							              	</td>
							              	<td ng-if="srvs.idServiceType=='1' || srvs.idServiceType=='3' || srvs.idServiceType=='4'" style="width: 15%;"><span class="text-muted text-box">
							              		<label class="badge badge-default" data-toggle="tooltip" data-placement="top" title="Contratadas" style="cursor: pointer;font-size: 100%;margin-top: 8px;">{{item.qtty | uppercase}}</label>
							              		<label class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="Usadas" style="cursor: pointer;font-size: 100%;margin-top: 8px;">{{item.used | uppercase}}</label>
												<label ng-if="(item.idServiciosDelContratoCuerpo==undefined && item.idServiciosDelContratoFk==undefined)" class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="Nuevo item a contratar" style="cursor: pointer;font-size: 72%;margin-top: 8px;">Nuevo</label>							              		
							              	</td>
							              	<td ng-if="srvs.idServiceType=='2' || srvs.idServiceType=='5' || srvs.idServiceType=='6'" style="width: 20%; padding-top: 7px;"><span class="text-muted text-box">
							              		<label ng-if="item.used==1" class="font-size-18px" data-toggle="tooltip" data-placement="right" title="Servicio contratado en uso" style="cursor: pointer;font-size: 100%;"><i class="text-success far fa-check-circle"></i></label>
							              		<label ng-if="item.used==0" class="font-size-18px" data-toggle="tooltip" data-placement="right" title="Servicio contratado disponible" style="cursor: pointer;font-size: 100%;"><i class="text-warning far fa-check-circle"></i></label>
							              		<label ng-if="(item.idServiciosDelContratoCuerpo==undefined && item.idServiciosDelContratoFk==undefined)" class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="Nuevo item a contratar" style="cursor: pointer;font-size: 72%;margin-top: 8px;">Nuevo</label>
							              		</span>
							              	</td>							              	
								          	<td style="padding-bottom: 5px; width: 10%; cursor: pointer;">
								            	<button ng-disabled="
								            	(((srvs.idServiceType!='2' && srvs.idServiceType!='5' && srvs.idServiceType!='6') && ((item.available > 0 && (item.used!=0 || item.used!='0')) || item.available == '0' && (item.used!=0 || item.used!=''))) || ((srvs.idServiceType!='1' && srvs.idServiceType!='3' && srvs.idServiceType!='4') && item.used == 1))" data-toggle="tooltip" data-placement="right" title="Remover" ng-click="modalConfirmation('contract_remove_service_item', 0, srvs, item)" class="btn btn-xs btn-danger"><i class="fas fa-minus-circle"></i></button>
								          	</td>							              	
							            </tr>
							        </table>									
								</div>
					    	</div>							
						</div>
					  	<div ng-if="list_services_tmp.length==0" class="col-md-6 col-md-offset-3 text-uppercase banner-no-rows banner-no-rows-padding-1 banner-no-rows-warning"><h5><i class="fas fa-exclamation-triangle"> </i> No hay servicios creados</h5></div>                                
					</div>
					</fieldset>
				</form>
				<div class="clearfix"> </div> 
			</div>
			<!-- Actions Button -->
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 pull-right">
                        <button type="submit" ng-click="switchCustomersFn('contract', null, 'update');" ng-disabled="fCustomerUpdateContract.$invalid || !serviceItemListOk" class="btn btn-labeled btn-success">
                            <span class="btn-label"><i class="glyphicon glyphicon-send"></i> </span>Actualizar</button>
                        <a data-dismiss="modal" ng-click="getContractsByCustomerIdFn(customerFound.idClient,'assign')" type="button" class="btn btn-labeled btn-danger">
                            <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Cerrar</a>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>
<!-- // CUSTOMER CONTRACT FORM -->