<!-- MANAGE BUILDING STAFF -->
<div class="col-md-12 n-padding-l n-padding-r">
    <div  class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">PERSONAL DEL EDIFICIO</h3>
      </div>
      <!--BUILDING STAFF PANEL -->
      <div id="custRegistered" class="panel-body">
        <div class="clear-fix"></div>
        <!-- TABLE LIST WHERE IS DISPLAYED THE DEPARTMENTS -->
        <div ng-if="select.admins.selected!=undefined && select.buildings.selected!=undefined" class="pull-left col-md-12 n-padding-r">
            <div ng-include="'views/buildings/list/listAttendants.html'"></div>
        </div>
      </div>
    </div>
</div>