<!-- MANAGE DEPARTMENTS-->
<div class="col-md-12 n-padding-l n-padding-r">
    <div  class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">AUTORIZACIONES</h3>
      </div>
      <div class="panel-body">
        <div ng-if="select.buildings.selected!=undefined" class="col-md-12">
            <!-- Type MercadoPago Payment Method-->
            <div class="form-group col-md-12 col-xs-12 n-padding-r n-padding-l n-margin-b">
                <div ng-if="sysLoggedUser.idProfileKf=='1'" class="well well-md col-md-6 col-xs-12" style="margin-right: 0.1em; padding: 10px !important;" ng-class="{'well-checkbox-success': functions.mpPaymentMethod}">
                    <div class="col-md-3 col-xs-3 n-padding-r" style="padding-top: 10px !important;">
                        <label class="switch switch-2x" for="mpPaymentMethod">
                            <input type="checkbox" class="success" ng-click="modalConfirmation('mpPaymentMethod', 0, select.buildings.selected)" ng-model="functions.mpPaymentMethod" id="mpPaymentMethod">
                            <span class="slider slider-2x flat"></span>
                        </label>
                    </div>
                    <div class="col-md-9 col-xs-9 n-padding-l" style="padding-top: 10px !important;">
                        <span class="font-size-16px">Pago anticipado de pedidos <span><img id="comp-k1xl6bdlimgimage" style="height: 30px !important;" data-type="image" itemprop="image" src="images/mp_logo.png"></span></span>
                    </div>
                </div>
                <div ng-if="sysLoggedUser.idProfileKf=='1'" class="col-md-5 col-xs-12" style="margin-right: 0.2em; padding: 5px !important;">
                    <div class="alert alert-info" role="alert">
                        <strong>INFO: </strong>Habilita el pago por MP para pedidos aun no autorizados
                    </div>
                </div>
            </div>
            <!-- Type EXPENSES-->
            <div class="form-group col-md-12 col-xs-12 n-padding-r n-padding-l n-margin-b">
                <div ng-if="sysLoggedUser.idProfileKf=='1'" class="well well-md col-md-6 col-xs-12" style="margin-right: 0.1em; padding: 10px !important;" ng-class="{'well-checkbox-success': functions.expensePayment}">
                    <div class="col-md-3 col-xs-3 n-padding-r" style="padding-top: 10px !important;">
                        <label class="switch switch-2x" for="expensePayment">
                            <input type="checkbox" class="success" ng-click="modalConfirmation('expensesPayment', 0, select.buildings.selected)" ng-model="functions.expensePayment" id="expensePayment">
                            <span class="slider slider-2x flat"></span>
                        </label>
                    </div>
                    <div class="col-md-9 col-xs-9 n-padding-l" style="padding-top: 10px !important;">
                        <span class="font-size-16px">Cobrar por expensas</span>
                    </div>
                </div>
                <div ng-if="sysLoggedUser.idProfileKf=='1'" class="col-md-5 col-xs-12" style="margin-right: 0.2em; padding: 5px !important;">
                    <div class="alert alert-info" role="alert">
                        <strong>INFO: </strong>Habilita el pago de pedidos por expensas
                    </div>
                </div>
            </div>
            <!-- Type APPROVE ALL-->
            <div class="form-group col-md-12 col-xs-12 n-padding-r n-padding-l n-margin-b">
                <div class="well well-md col-md-6 col-xs-12" style="margin-right: 0.2em; padding: 10px !important;" ng-class="{'well-checkbox-success': functions.autoApproveAll}">
                    <div class="col-md-3 col-xs-3 n-padding-r" style="padding-top: 10px !important;">
                        <label class="switch switch-2x" for="autoApproveAll">
                            <input type="checkbox" class="success" ng-click="modalConfirmation('autoApproveAll', 0, select.buildings.selected)" ng-disabled="functions.autoApproveOwners" ng-model="functions.autoApproveAll" id="autoApproveAll">
                            <span class="slider slider-2x flat"></span>
                        </label>
                    </div>
                    <div class="col-md-9 col-xs-9 n-padding-l" style="padding-top: 10px !important;">
                        <span class="font-size-16px">Auto aprobar pedidos  <span class="badge badge-light">Todos los Habitantes</span> <span data-toggle="tooltip" data-placement="bottom" title="Deshabilitado" ng-if="functions.autoApproveOwners" class="badge badge-warning"><i class="fas fa-lock"></i></span></span>
                    </div>
                </div>
                <div class="col-md-5 col-xs-12" style="margin-right: 0.2em; padding: 5px !important;">
                    <div class="alert alert-info" role="alert">
                        <strong>INFO: </strong>Habilita la aprobacion automatica de los pedidos de llaveros cuando sean realizados por cualquier usuario (Propietario / Habitante / Inquilino). Siempre que la relacion del usuario con el departamento haya sido autorizada por la administración.
                    </div>
                </div>
            </div>
            <!-- Type APPROVE OWNERS-->
            <div class="form-group col-md-12 col-xs-12 n-padding-r n-padding-l n-margin-b">
                <div class="well well-md col-md-6 col-xs-12" style="margin-right: 0.2em; padding: 10px !important;" ng-class="{'well-checkbox-success': functions.autoApproveOwners}">
                    <div class="col-md-3 col-xs-3 n-padding-r" style="padding-top: 10px !important;">
                        <label class="switch switch-2x" for="autoApproveOwners">
                            <input type="checkbox" class="success" ng-click="modalConfirmation('autoApproveOwners', 0, select.buildings.selected)" ng-disabled="functions.autoApproveAll" ng-model="functions.autoApproveOwners" id="autoApproveOwners">
                            <span class="slider slider-2x flat"></span>
                        </label>
                    </div>
                    <div class="col-md-9 col-xs-9 n-padding-l" style="padding-top: 10px !important;">
                        <span class="font-size-16px">Auto aprobar pedidos  <span class="badge badge-light">Solo Propietarios</span> <span data-toggle="tooltip" data-placement="bottom" title="Deshabilitado" ng-if="functions.autoApproveAll" class="badge badge-warning"><i class="fas fa-lock"></i></span></span>
                    </div>
                </div>
                <div class="col-md-5 col-xs-12" style="margin-right: 0.2em; padding: 5px !important;">
                    <div class="alert alert-info" role="alert">
                        <strong>INFO: </strong>Habilita la aprobacion automatica de los pedidos de llaveros cuando sean realizados sólo por usuarios “Propietarios” . Siempre que la relacion del usuario con el departamento haya sido autorizada por la administración. (no se puede seleccionar si la opcion “Auto aprobar pedidos para Todos los Habitantes” esta seleccionada)
                    </div>
                </div>
            </div>
        </div>
        <div class="clear-fix"></div>
      </div>
    </div>
</div>