<!-- MANAGE KEYS-->
<div class="col-md-12 n-padding-l n-padding-r">
    <div class="panel panel-default padding-panel">
      <div class="panel-heading">
        <h3 ng-if="sysLoggedUser.idProfileKf=='1' || sysLoggedUser.idProfileKf=='4'" class="panel-title">GESTION DE ADMINISTRACIÓN </h3>
        <h3 ng-if="sysLoggedUser.idProfileKf!='1' && sysLoggedUser.idProfileKf!='4'" class="panel-title">GESTION DE EDIFICIO </h3>
      </div>
      <div class="panel-body">
        <div class="col-md-2 col-xs-4">
          <!-- LIST DEPTOS -->
          <div ng-if="(sysLoggedUser.idProfileKf==3 || sysLoggedUser.idProfileKf==4 || sysLoggedUser.idProfileKf==5 || sysLoggedUser.idProfileKf==6 ) && sysLoggedUser.idTypeTenantKf!=null">
            <div class="depto-widget well well-md" data-toggle="tooltip" data-placement="right" title="HOME" ng-click="switchBuildingFn('home', null)">
              <div class="depto-icon">
                    <span><i class="product-success fas fa-home"></i></span>
              </div>
              <div class="text">
                  <h4 class="text-muted"><span class="badge badge-light" ng-class="sysContent=='home'? 'text-warning' : ''"> HOME </span></h4>
              </div>
            </div>
          </div>
          <!-- //LIST DEPTOS -->
          <!--  -->
          <div>
            <div  ng-if="sysLoggedUser.idProfileKf==1 || sysLoggedUser.idProfileKf==4" class="depto-widget well well-md" data-toggle="tooltip" data-placement="right" title="ADMNINISTRACIÓN" ng-click="switchBuildingFn('administration', null)">
              <div class="depto-icon">
                    <span><i class="product-success fas fa-building"></i></span>
              </div>
              <div class="text">
                  <h4 class="text-muted"><span class="badge badge-light" ng-class="sysContent=='administration'? 'text-warning' : ''"> ADMNINISTRACIÓN </span></h4>
              </div>
            </div>
          </div>
          <!-- // -->
        </div>
        <div class="col-md-10 col-xs-8 n-padding-l n-padding-r">
          <div>
            <div ng-if="sysContent=='home'" class="pull-left col-md-12 col-xs-12 n-padding-l n-padding-r">
              <div ng-include="'views/buildings/home.html'"></div>
            </div>
            <div ng-if="(sysLoggedUser.idProfileKf=='1' || sysLoggedUser.idProfileKf=='4') && sysContent=='administration'" class="pull-left col-md-12">
              <div ng-include="'views/buildings/administration.html'"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-include="'views/buildings/tenants/newTenant.html'"></div>
  <div ng-include="'views/buildings/tenants/editTenant.html'"></div>
  <div ng-include="'views/buildings/attendants/newAttendant.html'"></div>
  <div ng-include="'views/buildings/attendants/editAttendant.html'"></div>
  <div ng-include="'views/buildings/membersType.html'"></div>
  <div ng-include="'views/buildings/list/listTenantsToAssign.html'"></div>
  <div ng-include="'views/buildings/list/listAttendantsToAssign.html'"></div>
  <div ng-include="'views/utilities/modalConfirmation.html'"></div>
  <div ng-include="'views/utilities/modalCodeConfirmation.html'"></div>
  <div ng-include="'views/utilities/modalConfirmationCustom.html'"></div>