<!-- ATTENDANT REGISTER FORM -->
<div id="RegisterAttendant" class="modal fade bd-example-modal-lg" style="top: 130px;" role="dialog">
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="modalConfirmation('closeWindow', 0, null)"><span aria-hidden="true"><i alt="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></span><span class="sr-only">Close</span></button>
                <h3 class="modal-title"><i class="product-success fas fa-user"></i> NUEVO ENCARGADO
                    <span> 
                    <span class="badge badge-default font-size-16px text-uppercase">{{attendant.new.idTypeAttKf.nameTypeAttendant}}</span>
                    <span>DE: <span class="badge badge-default font-size-16px">{{attendant.new.building}}</span></span>
                    </span></h3>
            </div>
            <!-- FORM CONTAINER-->
            <div class="modal-body"  style="overflow-y: scroll;">
                <!-- FORM CONTAINER-->
                <form class="form-horizontal" name="fNewAtt" novalidate>
                    <fieldset>
                    <!-- Select Type of Attendant -->
                    <div class="form-group" ng-show="attendant.new.idProfileKf==6" ng-class="
                        {	'has-success': 
                            attendant.new.idTypeAttKf.idTyepeAttendant!='' && fNewAtt.idTypeAttKf.$valid,
                            'has-error':  
                            (attendant.new.idTypeAttKf.idTyepeAttendant=='' || attendant.new.idTypeAttKf.idTyepeAttendant==undefined) && fNewAtt.idTypeAttKf.$touched,
                            'col-md-12':
                            attendant.new.idTypeAttKf.idTyepeAttendant!='1',
                            'col-md-6':
                            attendant.new.idTypeAttKf.idTyepeAttendant=='1',
                        }">
                        <label style="padding-left: 15px;">Tipo de Encargado</label>
                        <div class="col-xs-12 selectContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-cog"></i></span>
                                <select name="idTypeAttKf" class="form-control" ng-options="item as item.nameTypeAttendant for item in listTypeAttendant | filter:filterTitularAttendantOption" ng-model="attendant.new.idTypeAttKf" ng-required="attendant.new.idProfileKf==6" autofocus />
                            </div>
                        </div>
                    </div>
                    <!-- Other Attendant Type Functions -->
                    <div ng-if="attendant.new.idProfileKf==6 && attendant.new.idTypeAttKf.idTyepeAttendant==1" class="form-group col-md-6" ng-class="
                    {	'has-success': 
                        attendant.new.typeOtherAtt!='' && fNewAtt.typeOtherAtt.$valid,
                        'has-error':  
                        (attendant.new.typeOtherAtt=='' || attendant.new.typeOtherAtt==undefined) && fNewAtt.typeOtherAtt.$touched,
                    }">
                    <label style="padding-left: 15px;">Funcion</label>
                            <div class="col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-cog"></i></span>
                                    <input  name="typeOtherAtt" autofocus="true" class="form-control" ng-model="attendant.new.typeOtherAtt"  type="text" ng-required="attendant.new.idProfileKf==6 && attendant.new.idTypeAttKf.idTyepeAttendant==1" autofocus/>
                                </div>
                            </div>
                    </div>
                    <!-- Other Attendant Function -->
                    <div  ng-if="attendant.new.idTypeAttKf.idTyepeAttendant!=1 && attendant.new.idTypeAttKf.idTyepeAttendant" class="form-group">
                        <label class="col-md-3 control-label">Seleccione una opcion:</label>  
                        <div class="col-md-9">
                            <div class="">
                                <label style="cursor: pointer;" class="col-md-3">
                                    <input style="cursor: pointer;" type="radio" name="ownerOption" ng-click="attendant.new.idDepartmentKf!='' && attendant.new.idDepartmentKf!=undefined?checkDeptoOwner(attendant.new.idDepartmentKf):'';"  value="1" ng-model="att.ownerOption" ng-required="attendant.new.idProfileKf==6 && attendant.new.idTypeAttKf.idTyepeAttendant!=1" autofocus>
                                        <code >Propietario</code>
                                </label>
                            </div>
                            <div class="">
                                <label style="cursor: pointer;" class="col-md-3">
                                    <input style="cursor: pointer;" type="radio" name="ownerOption" ng-click="attendant.new.idDepartmentKf!='' && attendant.new.idDepartmentKf!=undefined?checkDeptoOwner(attendant.new.idDepartmentKf):'';" value="2" ng-model="att.ownerOption" ng-required="attendant.new.idProfileKf==6 && attendant.new.idTypeAttKf.idTyepeAttendant!=1" autofocus>
                                        <code>Inquilino</code>
                                </label>
                            </div>
                            <div class=""> 
                                <label style="cursor: pointer;" class="col-md-3">
                                    <input style="cursor: pointer;" type="radio" name="ownerOption" ng-click="attendant.new.idDepartmentKf!='' && attendant.new.idDepartmentKf!=undefined?checkDeptoOwner(attendant.new.idDepartmentKf):'';" value="3" ng-model="att.ownerOption" ng-required="attendant.new.idProfileKf==6 && attendant.new.idTypeAttKf.idTyepeAttendant!=1" autofocus>
                                        <code>Solo encargado</code>
                                </label> 
                            </div>
                        </div>
                    </div>
                    <div ng-if="att.ownerOption!=undefined && att.ownerOption!='3' && attendant.new.idTypeAttKf.idTyepeAttendant!=1" class="form-group col-md-12">
                        <label style="padding-left: 15px;">Departamento</label>
                        <!-- Select Department -->
                        <div class="col-md-12 selectContainer">
                            <div class="input-group">
                                <span style="cursor: pointer;" class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <select ng-model="attendant.new.idDepartmentKf" ng-change="attendant.new.idDepartmentKf!=undefined?checkDeptoOwner(attendant.new.idDepartmentKf):''" ng-disabled="dptoNotFound!=false" class="form-control" ng-options="item.idClientDepartament as item.Depto for item in ListDpto "  required autofocus >
                                    <option value="" >Seleccione</option>
                                    </select>
                                    <!--<span style="cursor: pointer;" ng-click="mainSwitchFn('search_and_list', null)" ng-show="sysLoggedUser.idProfileKf==3 && ticket.radioButtonDepartment==2 || sysLoggedUser.idProfileKf!=3 && sysLoggedUser.idProfileKf!=5 && ticket.radioButtonDepartment!=0" class="input-group-addon"><a><i class="glyphicon glyphicon-search"></i> Buscar</a></span>-->
                            </div>
                        </div>
                    </div>
                    <div ng-if="(ownerFound && att.ownerOption==undefined)" class="col-md-12">
                        <div class="alert alert-danger" role="alert">
                            <strong><i class="fas fa-ban">&nbsp </i>ATENCION: </strong>el Departamento ya tiene propietario.
                        </div>
                    </div>
                    <!-- Form First & Last Name -->
                    <div class="form-group col-md-12" ng-class="
                    {	'has-success': 
                        attendant.new.fullname!='' && fNewAtt.fullname.$valid,
                        'has-error':  
                        (attendant.new.fullname=='' || attendant.new.fullname==undefined) && fNewAtt.fullname.$touched,
                    }">
                    <label style="padding-left: 15px;" >Nombres y Apellidos</label> 
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="fullname" placeholder="Nombres y Apellidos" class="form-control" ng-model="attendant.new.fullname" type="text" required autofocus />
                            </div>
                        </div>
                    </div>
                    <!-- Text DNI-->
                    <div class="form-group col-md-6" ng-class="
                    {	'has-success': 
                        attendant.new.dni!='' && fNewAtt.dniUser.$valid,
                            'has-error':  
                        (attendant.new.dni=='' || attendant.new.dni==undefined) && fNewAtt.dniUser.$touched,
                    }">
                    <label style="padding-left: 15px;">DNI</label>  
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fas fa-id-card"></i></span>
                                <input name="dniUser" ng-blur="sysCheck4Duplicates(attendant.new.dni, 'dni');" placeholder="Documento de identidad" class="form-control input--dni" ng-model="attendant.new.dni"  type="text" ng-keydown="fnLoadPhoneMask();" required autofocus />
                            </div>
                        </div>
                    </div>
                    <!-- Text Mail-->
                    <div class="form-group col-md-6" ng-class="
                        {	'has-success': 
                            attendant.new.email!='' && fNewAtt.emailUser.$valid,
                            'has-error':  
                            (attendant.new.email=='' || attendant.new.email==undefined) && fNewAtt.emailUser.$touched,
                        }">
                        <label style="padding-left: 15px;">E-Mail</label>
                            <div class="col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    <input name="emailUser" ng-blur="sysCheck4Duplicates(attendant.new.email, 'mail');" placeholder="E-Mail" class="form-control" ng-model="attendant.new.email"  type="email" required autofocus />
                                </div>
                            </div>
                        </div>
                        <div ng-if="sysDNIRegistered || sysEmailRegistered" class="form-group row n-margin-t n-margin-b">
                            <div ng-if="sysDNIRegistered" class="form-group n-margin-t n-margin-b" ng-class="{
                                'col-md-6':
                                    sysDNIRegistered && sysEmailRegistered,
                                'col-md-12':
                                    sysDNIRegistered && !sysEmailRegistered,
                                    }">
                                <div class="alert alert-danger" role="alert">
                                    <strong><i class="fas fa-ban">&nbsp </i>ATENCION: </strong>el numero de documento ingresado se encuentra registrado.
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                            <div ng-if="sysEmailRegistered" class="form-group n-margin-t n-margin-b" ng-class="{
                                'col-md-6':
                                    sysDNIRegistered && sysEmailRegistered,
                                'col-md-12':
                                    !sysDNIRegistered && sysEmailRegistered,
                                    }">
                                <div class="alert alert-warning" role="alert">
                                    <strong><i class="fas fa-exclamation-triangle">&nbsp </i>ATENCION: </strong>la direccion de correo ingresada se encuentra registrada.
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    <!-- Text Phone-->
                    <div class="form-group col-md-6" ng-class="{
                        'has-success': 
                            attendant.new.phonelocalNumberUser!='' && attendant.new.phonelocalNumberUser!=null  && fNewAtt.phoneLocal.$valid,
                        'has-warning':
                            !attendant.new.phonelocalNumberUser && attendant.new.phoneMovilNumberUser,
                        'has-error':
                            !attendant.new.phoneMovilNumberUser && !attendant.new.phonelocalNumberUser && fNewAtt.phoneLocal.$touched,
                        }">
                    <label style="padding-left: 15px;">Telefono Fijo</label>  
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                <input name="phoneLocal" ng-minlength="8" class="form-control input--phone" ng-model="attendant.new.phonelocalNumberUser" type="text" autofocus  ng-keydown="fnLoadPhoneMask();" ng-required="attendant.new.phoneMovilNumberUser==''" />
                            </div>
                        </div>
                    </div>
                    <!-- Text Phone-->
                    <div class="form-group col-md-6" ng-class="{
                        'has-success': 
                            attendant.new.phoneMovilNumberUser!='' && attendant.new.phoneMovilNumberUser!=null  && fNewAtt.phoneMovil.$valid,
                        'has-warning':
                            !attendant.new.phoneMovilNumberUser && attendant.new.phonelocalNumberUser,
                        'has-error':
                            !attendant.new.phonelocalNumberUser && !attendant.new.phoneMovilNumberUser && fNewAtt.phoneMovil.$touched,
                        }">
                    <label style="padding-left: 15px;">Telefono Movil</label>  
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                                <input name="phoneMovil" ng-minlength="8" class="form-control input--phone" ng-model="attendant.new.phoneMovilNumberUser"  type="text"  ng-keydown="fnLoadPhoneMask();" ng-required="attendant.new.phonelocalNumberUser==''" autofocus />
                            </div>
                        </div>
                    </div>
                    </fieldset>
                </form>
                <div class="clearfix"> </div> 
            </div>
            <!-- Actions Button -->
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 pull-right">
                        <button type="submit" ng-click="mainSwitchFn('addAttendant', attendant.new, null)" ng-disabled="fNewAtt.$invalid || ownerFound || sysDNIRegistered" class="btn btn-labeled btn-success">
                            <span class="btn-label"><i class="glyphicon glyphicon-send"></i> </span>Enviar</button>
                        <a ng-click="modalConfirmation('closeWindow', 0, null)" type="button" class="btn btn-labeled btn-danger">
                            <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- // ATTENDANT REGISTER FORM -->