<!-- CUSTOMER ALARM SERVICE FORM -->
<div id="updateAlarmService" class="modal fade bd-example-modal-lg" data-keyboard="false" data-backdrop="static" style="top: 0px;" role="dialog">
  	<div class="modal-dialog modal-lg" >
	    <div class="modal-content">
          	<div class="modal-header">
          		<button type="button" class="close" ng-click="modalConfirmation('closeServiceWindow', 0, service.update)"><span aria-hidden="true"><i alt="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></span><span class="sr-only">Close</span></button>
            	<h3 class="modal-title"><i class="product-success fas fa-wrench"></i> MODIFICAR SERVICIO ALARMA</h3>
        	</div>
    		<div class="modal-body"  style="overflow-y: scroll;">
				<!-- FORM CONTAINER-->
				<form class="form-horizontal" name="fCustomerUpdateService" novalidate>
					<fieldset>
						<!-- ALARM: Puerta -->
						<div class="form-group col-md-12" ng-class="
								{	'has-success':
									service.update.name!='' && fCustomerUpdateService.service_name.$valid,
								 	'has-error':
									(service.update.name=='' || service.update.name==undefined) && fCustomerUpdateService.service_name.$touched,
								}">
						  <label style="padding-left: 15px;">Nombre</label><br>
							  <div class="col-md-6 col-xs-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fas fa-tag"></i></span>
									<input name="service_name" type="text" class="form-control" required="true" ng-model="service.update.name"  />
							  </div>
							</div>
						</div>
						<!-- ALARM: Puerta -->
						<div class="form-group col-md-6" ng-class="
									{	'has-success':
										service.update.idContratoFk!='' && fCustomerUpdateService.service_contract.$valid,
									 	'has-error':
										(service.update.idContratoFk=='' || service.update.idContratoFk==undefined) && fCustomerUpdateService.service_contract.$touched,
									}">
						  <label style="padding-left: 15px;">Contrato asociado</label>
							  <div class="col-xs-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fas fa-file-contract"></i></span>
									<select name="service_contract"
									class="form-control"
									ng-options="item.idContrato as item.numeroContrato for item in rsCustomerContractListData" ng-model="service.update.idContratoFk"
									ng-change="switchContractService(service.new)" required="true" autofocus >
									    <option class="text-uppercase" value="">Selecciona un contrato</option>
								    </select>
							  </div>
							</div>
						</div>
						<!-- ALARM: Maintenance Type -->
						<div class="form-group col-md-6" >
						  	<label style="padding-left: 15px;">Tipo de mantenimiento</label>
						    <div class="col-xs-12 ">
							    <div class="input-group">
							    	<span class="input-group-addon"><i class="fas fa-screwdriver"></i></span>
					    			<input name="service_mnt_type" type="text" class="form-control" ng-disabled="true" ng-model="service.update.MntType" />
					    		</div>
					    	</div>
						</div>
						<!-- ALARM: Start_date -->
						<div class="form-group col-md-6" ng-class="
							{	'has-success':
								service.update.dateUp!='' && service.update.dateUp!=undefined,
								'has-error':
								(service.update.dateUp=='' || service.update.dateUp==undefined),
							}">
							<label style="padding-left: 15px;">Fecha de alta</label>
							<div class="col-xs-12">
								<div class="input-group">
									<span ng-click="open_start_date()" class="input-group-addon"><i ng-click="open_start_date()" class="far fa-calendar-alt"></i></span>
									<input
										ng-click="open_start_date()"
										type="text"
										name="service_start_date"
										class="form-control"
										uib-datepicker-popup="{{format}}"
										ng-model="service.update.dateUp"
										is-open="popup_start_date.opened"
										ng-required="false"
										close-text="Cerrar"
										clear-text="Borrar"
										current-text="Hoy"
										alt-input-formats="altInputFormats" />
								</div>
							</div>
						</div>
						<!-- ALARM: End_date -->
						<div class="form-group col-md-6">
							<label style="padding-left: 15px;">Fecha de baja</label>
							<div class="col-xs-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="far fa-calendar-alt"></i></span>
									<input
									ng-click="open_end_date()"
									type="text"
									name="service_end_date"
									class="form-control"
									uib-datepicker-popup="{{format}}"
									ng-model="service.update.dateDown"
									is-open="popup_end_date.opened"
									ng-required="false"
									ng-disabled="true"
									close-text="Cerrar"
									clear-text="Borrar"
									current-text="Hoy"
									ng-disabled="(service.update.dateDown!=undefined && service.update.dateDown!=null && service.update.dateDown!='')"
									alt-input-formats="altInputFormats" />
								</div>
							</div>
						</div>
						<!-- Empresa_de_monitoreo -->
						<div class="form-group col-md-6" ng-class="
									{	'has-success':
										service.update.idCompanyMonitorFK!='' && fCustomerUpdateService.service_monitorCompany.$valid,
									 	'has-error':
										(service.update.idCompanyMonitorFK=='' || service.update.idCompanyMonitorFK==undefined) && fCustomerUpdateService.service_monitorCompany.$touched,
									}">
						  <label style="padding-left: 15px;">Empresa de monitoreo</label>
							  <div class="col-xs-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fas fa-broadcast-tower"></i></span>
									<select name="service_monitorCompany"
									class="form-control"
									ng-options="item.idMonitorCompany as item.monitorCompany for item in rsMonitorCompanyListData" ng-model="service.update.idCompanyMonitorFK"
									required="true" autofocus >
									    <option class="text-uppercase" value="">Selecciona una empresa</option>
								    </select>
							  </div>
							</div>
						</div>
						<!-- Empresa_de_monitoreo -->
						<!-- Numero de abonado -->
						<div class="form-group col-md-6" ng-class="
								{	'has-success':
									(service.update.numberCustomer!='' && service.update.numberCustomer!=undefined) && fCustomerUpdateService.service_numberCustomer.$valid,
								 	'has-error':
									(service.update.numberCustomer=='' || service.update.numberCustomer==undefined) && fCustomerUpdateService.service_numberCustomer.$touched,
								}">
						  	<label style="padding-left: 15px;">N° de Abonado</label>
						    <div class="col-xs-12">
							    <div class="input-group">
							    	<span class="input-group-addon"><i class="fas fa-user-tie"></i></span>
					    			<input name="service_numberCustomer" type="text" class="form-control" ng-model="service.update.numberCustomer" />
					    		</div>
					    	</div>
						</div>
						<div class="form-group col-md-12 text-badge"> <h3>Sistema a Instalar</h3></div>
						<!-- Left Colunm -->
						<div class="well-checkbox form-group col-md-12">
							<!-- Alarmas: panel de alarma -->
							<div class="form-group col-md-6 n-padding-l" ng-class="
									  			{	'has-success':
									  				service.alarmPanel.selected!=undefined && fCustomerUpdateService.service_alarm_panel.$valid,
									  			 	'has-error':
									  				(service.alarmPanel.selected==undefined) && fCustomerUpdateService.service_alarm_panel.$touched,
									  			}">
							<div class="col-md-8"><label style="padding-left: 15px;">Panel de alarma</label></div>
							<div class="pull-right col-md-4 n-padding-r"><button  data-toggle="tooltip" data-placement="top" title="Ver" ng-disabled="service.alarmPanel.selected==undefined" ng-click="compServiceProductDetailsFn(service.alarmPanel.selected, productListType.PANEL_ALARM)" class="btn btn-xs btn-warning"><i class="fas fa-external-link-alt"></i> Detalles</button>
							  	<button ng-if="service.alarmPanel.selected!=undefined" data-toggle="tooltip" data-placement="right" title="Remover" ng-click="removeProductDetailsFn(service.alarmPanel.selected, productListType.PANEL_ALARM, null)" class="btn btn-xs btn-danger"><i class="far fa-times-circle"></i></button></div>
							    <div class="col-xs-12 selectContainer">
								    <div class="input-group">
						              <span class="input-group-addon"><i class="fas fa-desktop"></i></span>
						              <ui-select name="service_alarm_panel"
						              			 ng-change="compServiceProductDetailsFn(service.alarmPanel.selected, productListType.PANEL_ALARM, null)"
						              			 ng-model="service.alarmPanel.selected"
						              			 ng-required="true"
						              			 ng-disabled="service.alarmPanel.selected!=undefined"
						              			 theme="bootstrap" autofocus>
						                  <ui-select-match placeholder="Selecciona una opci&#243;n">({{$select.selected.brand}}) - {{$select.selected.model}}</ui-select-match>
						                    <ui-select-choices class="ui-select-choices" repeat="item in productListByType.PANEL_ALARM | filter: $select.search">
						                      <div ng-bind-html="item.descriptionProduct | highlight: $select.search"></div>
						                      	<small ng-bind-html="item.model | highlight: $select.search"></small>
						                      	<small ng-bind-html="item.brand | highlight: $select.search"></small>
						                    </ui-select-choices>
						                    <ui-select-no-choice>
											    No hay resultados, contacte are de soporte.
										  	</ui-select-no-choice>
						                </ui-select>
						            </div>
							  	</div>
							</div>
							<!-- ALARM: entranceReader -->
							<div class="form-group col-md-6 n-padding-l" ng-class="
									  			{	'has-success':
									  				service.alarmKeyboard.selected!=undefined && fCustomerUpdateService.service_teclado_alarma.$valid,
									  			 	'has-error':
									  				(service.alarmKeyboard.selected==undefined) && fCustomerUpdateService.service_teclado_alarma.$touched,
									  			}">
							<div class="col-md-8"><label style="padding-left: 15px;">Teclado de Alarma</label></div>
							<div class="pull-right col-md-4 n-padding-r"><button  data-toggle="tooltip" data-placement="top" title="Ver" ng-disabled="service.alarmKeyboard.selected==undefined" ng-click="compServiceProductDetailsFn(service.alarmKeyboard.selected, productListType.TECLADO_ALARM)" class="btn btn-xs btn-warning"><i class="fas fa-external-link-alt"></i> Detalles</button>
							  	<button ng-if="service.alarmKeyboard.selected!=undefined" data-toggle="tooltip" data-placement="right" title="Remover" ng-click="removeProductDetailsFn(service.alarmKeyboard.selected, productListType.TECLADO_ALARM, null)" class="btn btn-xs btn-danger"><i class="far fa-times-circle"></i></button></div>
							    <div class="col-xs-12 selectContainer">
								    <div class="input-group">
						              <span class="input-group-addon"><i class="fas fa-keyboard"></i></span>
						              <ui-select name="service_teclado_alarma"
						              			 ng-change="compServiceProductDetailsFn(service.alarmKeyboard.selected, productListType.TECLADO_ALARM, null)"
						              			 ng-model="service.alarmKeyboard.selected"
						              			 ng-required="true"
						              			 ng-disabled="service.alarmKeyboard.selected!=undefined"
						              			 theme="bootstrap" autofocus>
						                  <ui-select-match placeholder="Selecciona una opci&#243;n">({{$select.selected.brand}}) - {{$select.selected.model}}</ui-select-match>
						                    <ui-select-choices class="ui-select-choices" repeat="item in productListByType.TECLADO_ALARM | filter: $select.search">
						                      <div ng-bind-html="item.descriptionProduct | highlight: $select.search"></div>
						                      	<small ng-bind-html="item.model | highlight: $select.search"></small>
						                      	<small ng-bind-html="item.brand | highlight: $select.search"></small>
						                    </ui-select-choices>
						                    <ui-select-no-choice>
											    No hay resultados, contacte are de soporte.
										  	</ui-select-no-choice>
						                </ui-select>
						            </div>
							  	</div>
							</div>
							<!-- Installation Password -->
							<div class="form-group col-md-6 n-padding-l" ng-class="
									{	'has-success':
										(service.update.installationPassword!='' && service.update.installationPassword!=null && service.update.installationPassword!=undefined) && fCustomerUpdateService.service_installationPassword.$valid,
										'has-error':
										(service.update.installationPassword=='' || service.update.installationPassword==null || service.update.installationPassword==undefined) && fCustomerUpdateService.service_installationPassword.$touched,
									}">
								<label style="padding-left: 15px;">Clave de Instalador</label>
								<div class="col-xs-12">
									<div class="input-group">
										<span class="input-group-addon"><i class="fas fa-key"></i></span>
										<input name="service_installationPassword" type="text" class="form-control install-password-alarm" ng-keydown="fnLoadPhoneMask()" ng-model="service.update.installationPassword" ng-required="true" />
									</div>
								</div>
							</div>
							<!-- Master User Password -->
							<div class="form-group col-md-6 n-padding-l" ng-class="
									{	'has-success':
										(service.update.masterUserPassword!='' && service.update.masterUserPassword!=null && service.update.masterUserPassword!=undefined) && fCustomerUpdateService.service_masterUserPassword.$valid,
										'has-error':
										(service.update.masterUserPassword=='' || service.update.masterUserPassword==null || service.update.masterUserPassword==undefined) && fCustomerUpdateService.service_masterUserPassword.$touched,
									}">
								<label style="padding-left: 15px;">Clave Usuario Maestro</label>
								<div class="col-xs-12">
									<div class="input-group">
										<span class="input-group-addon"><i class="fas fa-key"></i></span>
										<input name="service_masterUserPassword" type="text" class="form-control install-password-alarm" ng-keydown="fnLoadPhoneMask()" ng-model="service.update.masterUserPassword" ng-required="true" />
									</div>
								</div>
							</div>
							<!-- User Password 1 for Disabling -->
							<div class="form-group col-md-6 n-padding-l" ng-class="
									{	'has-success':
										(service.update.userPassword1ForDisabling!='' && service.update.userPassword1ForDisabling!=null && service.update.userPassword1ForDisabling!=undefined) && fCustomerUpdateService.service_userPassword1ForDisabling.$valid,
										'has-error':
										(service.update.userPassword1ForDisabling=='' || service.update.userPassword1ForDisabling==null || service.update.userPassword1ForDisabling==undefined) && fCustomerUpdateService.service_userPassword1ForDisabling.$touched,
									}">
								<label style="padding-left: 15px;">Clave Usuario 1 para Desactivaciones</label>
								<div class="col-xs-12">
									<div class="input-group">
										<span class="input-group-addon"><i class="fas fa-key"></i></span>
										<input name="service_userPassword1ForDisabling" type="text" class="form-control install-password-alarm" ng-keydown="fnLoadPhoneMask()" ng-model="service.update.userPassword1ForDisabling" ng-required="true" />
									</div>
								</div>
							</div>
						</div>
						<!-- Right Colunm -->
						<div class="well-checkbox form-group col-md-12">
							<!-- ALARM: exitReader -->
							<div class="form-group col-md-12 n-padding-l n-padding-r" ng-class="
								  			{	'has-success':
								  				service.zonesQttyInstalled.length>0 &&
								  				service.zonesQttyInstalled.length!=0 && fCustomerUpdateService.service_zonas_cant_instaladas.$valid,
								  			 	'has-error':
								  				(service.zonesQttyInstalled.length==0 ||
								  				service.zonesQttyInstalled==0 || service.zonesQttyInstalled==undefined) && fCustomerUpdateService.service_zonas_cant_instaladas.$touched,
								  			}">
							  <label style="padding-left: 15px;">Cantidad de Zonas a Instalar</label>
								  <div class="col-xs-12">
									<div class="input-group">
										<span class="input-group-addon"><i class="fas fa-sim-card"></i></span>
											<input name="service_zonas_cant_instaladas" id="serviceZonasCantInstaladas" type="text" ng-keydown="fnLoadPhoneMask()" class="form-control input--number" ng-model="service.zonesQttyInstalled" />
								  </div>
								</div>
							</div>
							<!-- Alarmas: Sensores de alarma -->
							<div class="col-md-12">
								<div class="col-md-10"><label class="clf-p-left">Sensores de alarma</label></div>
								<div class="pull-right col-md-2" style="padding-bottom: 5px;"><button ng-click="loadDetailModalWindow(service.sensor.selected)" ng-disabled="service.sensor.selected==undefined" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> Zona</button></div>
							    <div class="selectContainer">
								    <div class="col-md-12 input-group">
						              	<span class="input-group-addon"><i class="far fa-dot-circle"></i></span>
						              	<ui-select name="serviceAlarmSensor"
						              			 ng-model="service.sensor.selected"
						              			 ng-required="list_sensors.length==0"
						              			 ng-disabled="service.zonesQttyInstalled=='' || service.zonesQttyInstalled==undefined"
						              			 theme="bootstrap" autofocus>
						                	<ui-select-match placeholder="Selecciona una opci&#243;n">({{$select.selected.brand}}) - {{$select.selected.model}}</ui-select-match>
						                    <ui-select-choices class="ui-select-choices" repeat="item in productListByType.SENSOR_ALARM | filter: $select.search">
						                    	<div ng-bind-html="item.descriptionProduct | highlight: $select.search"></div>
						                      	<small ng-bind-html="item.model | highlight: $select.search"></small>
						                      	<small ng-bind-html="item.brand | highlight: $select.search"></small>
						                    </ui-select-choices>
						                    <ui-select-no-choice>
											    No hay resultados, contacte are de soporte.
										  	</ui-select-no-choice>
						                </ui-select>
						            </div>
							  	</div>
								<div class="well-checkbox n-padding-t n-padding-b" ng-class="{'n-padding-l n-padding-r':list_sensors.length>0}" style="margin-left: 0px;margin-right: 0px;">
								  	<table ng-if="list_sensors.length>0">
								    	<tr ng-repeat="sensor in list_sensors" style="line-height: 2em;">
								    		<td style="width: 4%; padding: 0 10px 5px 10px;"><label style="font-size: 85%" class="label label-default">{{$index+1}}</label></td>
								    		<!-- SENSOR Y MARCA -->
							      		 	<td style="width: 35%"><span style="font-size: 90%" class="text-muted text-uppercase text-box">{{sensor.sensorDetails.classification | uppercase}} ({{sensor.sensorDetails.brand | uppercase}})</span></td>
											<!-- WIRELES SENSOR -->
								      		<td class="media-middle text-center" style="width: 5%;"><label ng-if="sensor.isWirelessSensor" data-toggle="tooltip" data-placement="top" title="Sensor Inalámbrico" style="font-size: 75%;" class="label label-default"><i class="text-warning fas fa-wifi"></i></label></td>
								      		<!-- PUERTO DE CAMERA -->
								      		<td class="media-middle text-center" style="width: 4%"><label ng-if="sensor.portCamera!=undefined" data-toggle="tooltip" data-placement="top" title="Puerto de Camara" style="font-size: 75%" class="label label-default"><i class="text-warning fas fa-video"> </i> {{sensor.portCamera | uppercase}}</label></td>
							      		 	<!-- NUMERO DE ZONA -->
								      		<td class="media-middle text-center" style="width: 8%;"><label data-toggle="tooltip" data-placement="top" title="N° de Zona" style="font-size: 75%;" class="label label-default"><i class="text-warning fas fa-grip-horizontal"></i> Zona: {{sensor.numberZoneSensor}}</label></td>
								      		<!-- NUMERO DE ZONA DE TAMPER -->
								      		<td class="media-middle text-center" style="width: 10%;">
								      			<label ng-if="sensor.nroZoneTamper!=null" data-toggle="tooltip" data-placement="top" title="N° de Zona de Tamper" style="font-size: 75%;" class="label label-default"><i class="text-warning fas fa-grip-horizontal"></i> Tamper: {{sensor.nroZoneTamper}}</label>
								      			<label ng-if="sensor.nroZoneTamper==null" data-toggle="tooltip" data-placement="top" title="Tamper No asociado" style="font-size: 75%;" class="label label-default"><i class="text-warning fas fa-grip-horizontal"></i> Tamper: <i class="text-warning fas fa-exclamation-triangle"></i></label>
								      		</td>
								      		<!-- UBICACION -->
								      		<td class="media-middle" style="width: 23%; padding-left: 2px;"><label data-toggle="tooltip" data-placement="top" title="Ubicación" style="font-size: 75%;" class="label label-default"><i class="text-warning fas fa-compass"> </i> {{sensor.locationLon | uppercase}}</label></td>
								      		<!-- BOTONES DE ACCION -->
								          	<td style="width: 7%;" class="n-padding-l">
								            	<button style="font-size: 70%" data-toggle="tooltip" data-placement="top" title="Ver" ng-click="alarmSensorZoneFn(sensor, 'load_details')" ng-disabled="!sensor.idSensor" class="btn btn-xs btn-warning"><i class="fas fa-external-link-alt"></i></button>
							  					<button style="font-size: 70%" ng-if="sensor.idSensor" data-toggle="tooltip" data-placement="top" title="Remover" ng-click="alarmSensorZoneFn(sensor, 'remove')" class="btn btn-xs btn-danger"><i class="far fa-times-circle"></i></button>

								          	</td>
								      	</tr>
								  	</table>
								  	<div ng-if="list_sensors.length==0" class="text-uppercase banner-no-rows banner-no-rows-padding-1 banner-no-rows-warning"><h5><i class="fas fa-exclamation-triangle"> </i> No hay sensores cargados</h5></div>
								</div>
							</div>
						</div>
						<!-- Left Colunm -->
						<div class="well-checkbox form-group col-md-6" style="height: 262px;">
							<!-- Cameras: Enery Backup -->
							<div class="col-md-12">
								<div class="col-md-8">
									<label class="clf-p-left">Backups de Energia</label></div>
								<div class="pull-right col-md-4 n-padding-r" style="padding-bottom: 5px;"><button ng-click="loadDetailModalWindow(service.batteries.selected)" ng-disabled="service.batteries.selected==undefined" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> Agregar</button></div>
							    <div class="selectContainer">
								    <div class="col-md-12 input-group">
						              	<span class="input-group-addon"><i class="fas fa-car-battery"></i></span>
						              	<ui-select name="service_energyBackups"
						              			 ng-model="service.batteries.selected"
						              			 ng-required="list_batteries.length==0"
						              			 theme="bootstrap" autofocus>
						                	<ui-select-match placeholder="Selecciona una opci&#243;n">({{$select.selected.brand}}) - {{$select.selected.model}}</ui-select-match>
						                    <ui-select-choices class="ui-select-choices" repeat="item in productListByType.BACKUP_ENERGIA | filter: $select.search">
						                    	<div ng-bind-html="item.descriptionProduct | highlight: $select.search"></div>
						                      	<small ng-bind-html="item.model | highlight: $select.search"></small>
						                      	<small ng-bind-html="item.brand | highlight: $select.search"></small>
						                    </ui-select-choices>
						                    <ui-select-no-choice>
											    No hay resultados, contacte are de soporte.
										  	</ui-select-no-choice>
						                </ui-select>
						            </div>
							  	</div>
								<div class="well-checkbox n-padding-t n-padding-b" ng-class="{'n-padding-l n-padding-r':list_batteries.length>0}" style="margin-left: 0px;margin-right: 0px;">
								  	<table ng-if="list_batteries.length>0">
								    	<tr ng-repeat="battery in list_batteries">
								    		<td style="width: 5%; padding: 0 0px 0 10px;"><label style="font-size: 80%" class="label label-default">{{$index+1}}</label></td>
								      		 <td style="width: auto"><span style="font-size: 85%" class="text-muted text-uppercase text-box">{{battery.classification | uppercase}} </span></td>
								      		<!--<td style="width: 15%"><span class="text-muted text-box" style="font-size: 85%">Modelo:<label style="font-size: 85%" class="label label-default">{{battery.model | uppercase}}</label></span></td>-->
								      		<td style="width: auto"><label data-toggle="tooltip" data-placement="right" title="Marca" style="font-size: 85%" class="label label-default"><i class="text-warning fas fa-tag"> </i> {{battery.brand | uppercase}}</label></td>
								          	<td style="padding-bottom: 5px;">
								            	<button data-toggle="tooltip" data-placement="top" title="Ver" ng-click="subItemServiceProductDetailsFn(battery)" ng-disabled="!battery.idBatteryFk" class="btn btn-xs btn-warning"><i class="fas fa-external-link-alt"></i></button>
							  					<button ng-if="battery.idBatteryFk" data-toggle="tooltip" data-placement="top" title="Remover" ng-click="removeSubItemProductDetailsFn(battery)" class="btn btn-xs btn-danger"><i class="far fa-times-circle"></i></button>

								          	</td>
								      	</tr>
								  	</table>
								  	<div ng-if="list_batteries.length==0" class="text-uppercase banner-no-rows banner-no-rows-padding-1 banner-no-rows-warning"><h5><i class="fas fa-exclamation-triangle"> </i> No hay baterias o ups cargados</h5></div>
								</div>
							</div>
						</div>
						<div class="well-checkbox form-group col-md-6 n-padding-l n-padding-r" style="height: 262px;">
		    				<!-- Connection Type -->
				            <div class="form-group col-md-12 col-xs-12">
				            	<div class="col-md-12 col-xs-12"><label class="clf-size clf-p-left">Modulo de Comunicación</label></div>
				            	<div ng-repeat="type in rsTypeConnectionListData" class="col-md-12 col-xs-12" style="padding-top: 5%;">
					            	<div ng-if="type.idTipoConexionRemoto!='2'" class="col-md-2 col-xs-2 n-padding-r">
										<label class="switch switch-2x" for="remoteConnectionType-{{type.idTipoConexionRemoto}}">
						                    <input type="checkbox" class="success" ng-click="compServiceModuleConnectionDetailsFn(type.selected, type.idTipoConexionRemoto);" ng-model="type.selected" id="remoteConnectionType-{{type.idTipoConexionRemoto}}">
						                    <span class="slider slider-2x flat"></span>
						                </label>
					                </div>
					                <div class="col-md-7 col-xs-7 n-padding-l">
					                	<span>{{type.descripcion}}</span>
					                </div>
									<div ng-repeat="item in tipo_conexion_remoto" class="pull-right col-md-3">
										<button ng-if="item.idTipoConexionRemoto==type.idTipoConexionRemoto && type.selected" data-toggle="tooltip" data-placement="top" title="Ver" ng-disabled="type.idTipoConexionRemoto==''" ng-click="addServiceModuleConnectionDetailsFn(item, 'details', '')" class="btn btn-xs btn-warning"><i class="fas fa-external-link-alt"></i> Detalles</button>
									</div>
								</div>
				            </div>
						</div>
						<div class="form-group col-md-2">
							<div class="input-group col-md-12">
								<button  ng-click="compServiceAlarmDetailsFn()" class="btn btn-sm"
								ng-class="{	'btn-success':
												aditional_alarm.length>=1 && aditional_alarm!=null && aditional_alarm!=undefined,
											'btn-warning':
												aditional_alarm.length<=0 || aditional_alarm==null || aditional_alarm==undefined,
										  }">
										 	<i ng-if="aditional_alarm.length<=0 || aditional_alarm==null || aditional_alarm==undefined" class="fas fa-plus"></i>
										 	<i ng-if="aditional_alarm.length>=1 && aditional_alarm!=null && aditional_alarm!=undefined" class="fas fa-eye"></i>
										Adicionales</button>
							</div>
						</div>
						<div  class="form-group col-md-10" style="padding-top: 2px;">
							<span ng-if="aditional_alarm.length>=1">
								<i class="font-size-18px text-success fas fa-check-circle"></i>
								<label style="font-size: 85%"  class="label label-default"> Datos Adicionales asignados.</label>
							</span>
							<span ng-if="aditional_alarm==null || aditional_alarm==undefined ||aditional_alarm.length<=0">
								<i class="font-size-18px text-warning fas fa-info-circle"></i>
								<label style="font-size: 85%" class="label label-default"> Datos Adicionales no asignados.</label>
							</span>
						</div>
						<!-- Observaciones Generales -->
						<div class="form-group col-md-12">
						  <label class="col-xs-12" >Observaciones Generales</label>
								<textarea style="resize: none;" name="ObserGenerales" rows="3" placeholder="indique las Observaciones." class="form-control" ng-model="service.update.observation" ></textarea>
						</div>
					</fieldset>
				</form>
				<div class="clearfix"> </div>
			</div>
			<!-- Actions Button  || aditional_alarm.length<=0 -->
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 pull-right">
                        <button type="submit" ng-click="modalConfirmation('updateService', 0, service.update)" ng-disabled="(service.update.dateDown!=undefined && service.update.dateDown!=null && service.update.dateDown!='') || list_sensors.length<=0" class="btn btn-labeled btn-success">
                            <span class="btn-label"><i class="glyphicon glyphicon-send"></i> </span>Actualizar</button>
                        <a ng-click="modalConfirmation('closeServiceWindow', 0, service.update)" type="button" class="btn btn-labeled btn-danger">
                            <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Cancelar</a>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>
<!-- // CUSTOMER ALARM SERVICE FORM -->
