<!-- CUSTOMER CONTROL ACCESS SERVICE FORM -->
<div id="RegisterCtrlAccessService" class="modal fade bd-example-modal-lg" data-keyboard="false" data-backdrop="static" style="top: 0px;" role="dialog">
  	<div class="modal-dialog modal-lg" >
	    <div class="modal-content">
          	<div class="modal-header">
          		<button type="button" class="close" ng-click="modalConfirmation('closeServiceWindow', 0, service.new)"><span aria-hidden="true"><i alt="Cerrar" class="glyphicon glyphicon-remove-sign"> </i></span><span class="sr-only">Close</span></button>
            	<h3 class="modal-title"><i class="product-success fas fa-wrench"></i> NUEVO SERVICIO CONTROL DE ACCESO</h3>
        	</div>
    		<div class="modal-body"  style="overflow-y: scroll;">
				<!-- FORM CONTAINER-->
				<form class="form-horizontal" name="fCustomerNewService" novalidate>
					<fieldset>
					<!-- Control_de_Acceso: Puerta -->
					<div class="form-group col-md-6" ng-class="
								{	'has-success': 
									service.new.idDoorFk!='' && fCustomerNewService.service_door.$valid,
								 	'has-error':  
									(service.new.idDoorFk=='' || service.new.idDoorFk==undefined) && fCustomerNewService.service_door.$touched,
								}">
					  <label style="padding-left: 15px;">Puerta</label>
						  <div class="col-xs-12">
							<div class="input-group">
								<span class="input-group-addon"><i class="fas fa-door-open"></i></span>
								<select name="service_door" id="service_door" class="form-control text-uppercase" ng-options="door.idAccCrtlDoor as door.itemName for door in rsContractItemListData | filter:filterContractAvailableItems(door)" ng-change="checkDoorType(service.new.idDoorFk)" ng-model="service.new.idDoorFk" autofocus required="true">
								    <option class="text-uppercase" value="">Selecciona una puerta</option>
							    </select>
						  </div>
						</div>
					</div>
					<!-- Control_de_Acceso: Aclaracion Other Doors-->
					<!--<div ng-if="service.new.idDoorFk=='7'" class="form-group col-md-6">
					  	<label style="padding-left: 15px;">Aclaraci&#243;n Puerta Otros</label>
					    <div class="col-xs-12">
						    <div class="input-group">
						    	<span class="input-group-addon"><i class="far fa-sticky-note"></i></span>
				    			<input name="service_aclaration_door" type="text" class="form-control" ng-disabled="true" required="false" ng-model="service.aclarationDoorOthers" />
				    		</div>
				    	</div>
					</div>-->
					<!-- Control_de_Acceso: Aclaracion -->
					<div class="form-group col-md-6" ng-class="
								{	'has-success': 
									service.new.aclaration!='' && fCustomerNewService.service_aclaration.$valid,
								}">
					  	<label style="padding-left: 15px;">Aclaraci&#243;n</label>
					    <div class="col-xs-12">
						    <div class="input-group">
						    	<span class="input-group-addon"><i class="far fa-sticky-note"></i></span>
				    			<input name="service_aclaration" type="text" class="form-control" ng-required="false" ng-model="service.new.aclaration" />
				    		</div>
				    	</div>
					</div>					
					<!-- Control_de_Acceso: Puerta -->
					<div class="form-group col-md-6" ng-class="
								{	'has-success': 
									service.new.idContratoFk!='' && fCustomerNewService.service_contract.$valid,
								 	'has-error':  
									(service.new.idContratoFk=='' || service.new.idContratoFk==undefined) && fCustomerNewService.service_contract.$touched,
								}">
					  <label style="padding-left: 15px;">Contrato asociado</label>  
						  <div class="col-xs-12">
							<div class="input-group">
								<span class="input-group-addon"><i class="fas fa-file-contract"></i></span>
								<select name="service_contract" 
								class="form-control" 
								ng-options="item.idContrato as item.numeroContrato for item in rsCustomerContractListData" ng-model="service.new.idContratoFk"
								ng-change="switchContractService(service.new);" required="true" autofocus >
								    <option class="text-uppercase" value="">Selecciona un contrato</option>
							    </select>
						  </div>
						</div>
					</div>
					<!-- Control_de_Acceso: Maintenance Type -->
					<div ng-if="service.new.idTypeMaintenanceFkConstract!='3'" class="form-group col-md-6" >  
					  	<label style="padding-left: 15px;">Tipo de mantenimiento</label>
					    <div class="col-xs-12 ">
						    <div class="input-group">
						    	<span class="input-group-addon"><i class="fas fa-screwdriver"></i></span>
				    			<input name="service_mnt_type" type="text" class="form-control" ng-disabled="true" ng-model="service.new.MntType" />
				    		</div>
				    	</div>
					</div>
					<!-- Control_de_Acceso: Start_date -->
					<div class="form-group col-md-6 col-xs-6" ng-class="
									{'has-success': 
										service.new.dateUp!='' && fCustomerNewService.service_start_date.$valid,
									'has-error':  
										(service.new.dateUp=='' || service.new.dateUp==undefined) && fCustomerNewService.service_start_date.$touched,
									}">
						<label style="padding-left: 15px;">Fecha de alta</label>
						<div class="col-xs-12 ">
							<div class="input-group">
								<span ng-click="open_start_date()" class="input-group-addon"><i ng-click="open_start_date()" class="far fa-calendar-alt"></i></span>
								<input 
									ng-click="open_start_date()" 
									type="text" 
									name="service_start_date"
									class="form-control" 
									uib-datepicker-popup="{{format}}" 
									ng-model="service.new.dateUp" 
									is-open="popup_start_date.opened"  
									ng-required="true" 
									close-text="Cerrar" 
									clear-text="Borrar"
									current-text="Hoy"
									alt-input-formats="altInputFormats" />
							</div>
						</div>
					</div>
					<div ng-if="service.new.idTypeMaintenanceFkConstract=='3'" class="form-group col-md-6" ng-class="
					{	'has-success': 
						service.new.idTypeMaintenanceFk!='' && fCustomerNewService.contract_mnt_type.$valid,
						 'has-error':  
						(service.new.idTypeMaintenanceFk=='' || service.new.idTypeMaintenanceFk==undefined) && fCustomerNewService.contract_mnt_type.$touched,
					}">
					<label style="padding-left: 15px;">Tipo de mantenimiento</label>  
						<div class="col-xs-12">
							<div class="input-group">
								<span class="input-group-addon"><i class="fas fa-screwdriver"></i></span>
								<select name="contract_mnt_type" 
										class="form-control"
										ng-options="item.idTypeMaintenance as item.typeMaintenance for item in rsTypeOfMaintenanceData | filter:filterTypeOfMaintenance" 
										ng-model="service.new.idTypeMaintenanceFk" ng-change="validateServiceListItemsFn()"  ng-required="true" autofocus >
									<option class="text-uppercase" value="">Selecciona un tipo</option>
								</select>
							</div>
						</div>
					</div>
					<!-- Control_de_Acceso: End_date -->
					<div class="form-group col-md-6 col-md-6 col-xs-6">
						<label style="padding-left: 15px;">Fecha de baja</label>
						<div class="col-xs-12">
							<div class="input-group">
								<span ng-click="open_end_date()" class="input-group-addon"><i ng-click="open_end_date()" class="far fa-calendar-alt"></i></span>
								<input 
								ng-click="open_end_date()" 
								type="text" 
								name="service_end_date"
								class="form-control" 
								uib-datepicker-popup="{{format}}" 
								ng-model="service.new.dateDown" 
								is-open="popup_end_date.opened"  
								ng-required="false"
								ng-disabled="true"
								close-text="Cerrar" 
								clear-text="Borrar"
								current-text="Hoy"
								alt-input-formats="altInputFormats" />
							</div>
						</div>
					</div>
					<div class="well-checkbox form-group col-md-12 n-padding-l n-padding-r" style="width: auto;">
						<!-- Control_de_Acceso: control of access -->
						<div class="form-group col-md-6" ng-class="
								  			{	'has-success': 
								  				service.crtlAccess.selected!=undefined && fCustomerNewService.service_crtl_access.$valid,
								  			 	'has-error':  
								  				(service.crtlAccess.selected==undefined) && fCustomerNewService.service_crtl_access.$touched,
								  			}">
						<div class="col-md-8"><label style="padding-left: 15px;">Control de Acceso</label></div>
						<div class="pull-right col-md-4 n-padding-r"><button  data-toggle="tooltip" data-placement="top" title="Ver" ng-disabled="service.crtlAccess.selected==undefined" ng-click="compServiceProductDetailsFn(service.crtlAccess.selected, productListType.CONTROL_DE_ACCESOS)" class="btn btn-xs btn-warning"><i class="fas fa-external-link-alt"></i> Detalles</button>
						  	<button ng-if="service.crtlAccess.selected!=undefined" data-toggle="tooltip" data-placement="right" title="Remover" ng-click="removeProductDetailsFn(service.crtlAccess.selected, productListType.CONTROL_DE_ACCESOS, null)" class="btn btn-xs btn-danger"><i class="far fa-times-circle"></i></button></div>  
						    <div class="col-xs-12 selectContainer">							   
							    <div class="input-group">
					              <span class="input-group-addon"><i class="fas fa-door-open"></i></span>
					              <ui-select name="service_crtl_access"  
					              			 ng-change="compServiceProductDetailsFn(service.crtlAccess.selected, productListType.CONTROL_DE_ACCESOS, null)" 
					              			 ng-model="service.crtlAccess.selected"
					              			 ng-required="true"
					              			 ng-disabled="service.crtlAccess.selected!=undefined"
					              			 theme="bootstrap" autofocus>
					                  <ui-select-match placeholder="Selecciona una opci&#243;n">({{$select.selected.brand}}) - {{$select.selected.model}}</ui-select-match>
					                    <ui-select-choices class="ui-select-choices"repeat="item in productListByType.CONTROL_DE_ACCESOS | filter: $select.search">
					                      <div ng-bind-html="item.descriptionProduct | highlight: $select.search"></div>
					                      	<small ng-bind-html="item.model | highlight: $select.search"></small>
					                      	<small ng-bind-html="item.brand | highlight: $select.search"></small>					                      	
					                    </ui-select-choices>
					                    <ui-select-no-choice>
										    No hay resultados, contacte are de soporte.
									  	</ui-select-no-choice>
					                </ui-select>
					            </div>
						  	</div>
						</div>
						<!-- Control_de_Acceso: lock -->
						<div class="form-group col-md-6" ng-class="
								  			{	'has-success': 
								  				service.lockedIt.selected!=undefined && fCustomerNewService.service_locked.$valid,
								  			 	'has-error':  
								  				(service.lockedIt.selected==undefined) && fCustomerNewService.service_locked.$touched,
								  			}">
						<div class="col-md-8"><label style="padding-left: 15px;">Cerradura </label></div>
						<div class="pull-right col-md-4 n-padding-r"><button  data-toggle="tooltip" data-placement="top" title="Ver" ng-click="compServiceProductDetailsFn(service.lockedIt.selected, productListType.CERRADURA)" ng-disabled="service.lockedIt.selected==undefined" class="btn btn-xs btn-warning"><i class="fas fa-external-link-alt"></i> Detalles</button>
						  <button ng-if="service.lockedIt.selected!=undefined" data-toggle="tooltip" data-placement="top" title="Remover" ng-click="removeProductDetailsFn(service.lockedIt.selected, productListType.CERRADURA, null)" class="btn btn-xs btn-danger"><i class="far fa-times-circle"></i></button></div>
						    <div class="col-xs-12 selectContainer">							   
							    <div class="input-group">
					              <span class="input-group-addon"><i class="fas fa-lock"></i></span>
					              <ui-select name="service_locked"  
					              			 ng-change="compServiceProductDetailsFn(service.lockedIt.selected, productListType.CERRADURA, null);" 
					              			 ng-model="service.lockedIt.selected"
					              			 ng-required="true"
					              			 ng-disabled="service.lockedIt.selected!=undefined"
					              			 theme="bootstrap" autofocus>
					                  <ui-select-match placeholder="Selecciona una opci&#243;n">({{$select.selected.brand}}) - {{$select.selected.model}}</ui-select-match>
					                    <ui-select-choices class="ui-select-choices" repeat="item in productListByType.CERRADURA | filter: $select.search">
					                      <div ng-bind-html="item.descriptionProduct | highlight: $select.search"></div>
					                      	<small ng-bind-html="item.model | highlight: $select.search"></small>
					                      	<small ng-bind-html="item.brand | highlight: $select.search"></small>					                      	
					                    </ui-select-choices>
					                    <ui-select-no-choice>
										    No hay resultados, contacte are de soporte.
									  	</ui-select-no-choice>
					                </ui-select>
					            </div>
						  	</div>
						</div>
						<!-- Control_de_Acceso: entranceReader -->
						<div class="form-group col-md-6" ng-class="
								  			{	'has-success': 
								  				service.entranceReader.selected!=undefined && fCustomerNewService.service_entranceReader.$valid,
								  			 	'has-error':  
								  				(service.entranceReader.selected==undefined) && fCustomerNewService.service_entranceReader.$touched,
								  			}">
						<div class="col-md-8"><label style="padding-left: 15px;">Lector de entrada </label></div>
						<div class="pull-right col-md-4 n-padding-r"><button  data-toggle="tooltip" data-placement="top" title="Ver" ng-click="compServiceProductDetailsFn(service.entranceReader.selected, productListType.LECTOR_ENT, 'entrance')" ng-disabled="service.entranceReader.selected==undefined" class="btn btn-xs btn-warning"><i class="fas fa-external-link-alt"></i> Detalles</button>
						  <button ng-if="service.entranceReader.selected!=undefined" data-toggle="tooltip" data-placement="right" title="Remover" ng-click="removeProductDetailsFn(service.entranceReader.selected, productListType.LECTOR_ENT, 'entrance')" class="btn btn-xs btn-danger"><i class="far fa-times-circle"></i></button></div>
						    <div class="col-xs-12 selectContainer">							   
							    <div class="input-group">
					              <span class="input-group-addon"><i class="fas fa-sim-card"></i></span>
					              <ui-select name="service_entranceReader"  
					              			 ng-change="compServiceProductDetailsFn(service.entranceReader.selected, productListType.LECTOR_ENT, 'entrance');" 
					              			ng-model="service.entranceReader.selected"
					              			 ng-required="true"
					              			 ng-disabled="service.entranceReader.selected!=undefined"
					              			 theme="bootstrap" autofocus>
					                  <ui-select-match placeholder="Selecciona una opci&#243;n">({{$select.selected.brand}}) - {{$select.selected.model}}</ui-select-match>
					                    <ui-select-choices class="ui-select-choices" repeat="item in productListByType.LECTOR | filter: $select.search">
					                      <div ng-bind-html="item.descriptionProduct | highlight: $select.search"></div>
					                      	<small ng-bind-html="item.model | highlight: $select.search"></small>
					                      	<small ng-bind-html="item.brand | highlight: $select.search"></small>					                      	
					                    </ui-select-choices>
					                    <ui-select-no-choice>
										    No hay resultados, contacte are de soporte.
									  	</ui-select-no-choice>
					                </ui-select>
					            </div>
						  	</div>
						</div>
						<!-- Control_de_Acceso: powerSupply -->
						<div class="form-group col-md-6" ng-class="
								  			{	'has-success': 
								  				service.powerSupply.selected!=undefined && fCustomerNewService.service_powerSupply.$valid,
								  			 	'has-error':  
								  				(service.powerSupply.selected==undefined) && fCustomerNewService.service_powerSupply.$touched,
								  			}">
						<div class="col-md-8"><label style="padding-left: 15px;">Fuente</label></div>
						<div class="pull-right col-md-4 n-padding-r"><button  data-toggle="tooltip" data-placement="top" title="Ver" ng-click="compServiceProductDetailsFn(service.powerSupply.selected, productListType.FUENTE)" ng-disabled="service.powerSupply.selected==undefined" class="btn btn-xs btn-warning"><i class="fas fa-external-link-alt"></i> Detalles</button>
						  	<button ng-if="service.powerSupply.selected!=undefined" data-toggle="tooltip" data-placement="top" title="Remover" ng-click="removeProductDetailsFn(service.powerSupply.selected, productListType.FUENTE, null)" class="btn btn-xs btn-danger"><i class="far fa-times-circle"></i></button></div>
						    <div class="col-xs-12 selectContainer">							   
							    <div class="input-group">
					              <span class="input-group-addon"><i class="fas fa-plug"></i></span>
					              <ui-select name="service_powerSupply"  
					              			 ng-change="compServiceProductDetailsFn(service.powerSupply.selected, productListType.FUENTE, null);" 
					              			 ng-model="service.powerSupply.selected"
					              			 ng-required="true"
					              			 ng-disabled="service.powerSupply.selected!=undefined"
					              			 theme="bootstrap" autofocus>
					                  <ui-select-match placeholder="Selecciona una opci&#243;n">({{$select.selected.brand}}) - {{$select.selected.model}}</ui-select-match>
					                    <ui-select-choices class="ui-select-choices" repeat="item in productListByType.FUENTE | filter: $select.search">
					                      <div ng-bind-html="item.descriptionProduct | highlight: $select.search"></div>
					                      	<small ng-bind-html="item.model | highlight: $select.search"></small>
					                      	<small ng-bind-html="item.brand | highlight: $select.search"></small>					                      	
					                    </ui-select-choices>
					                    <ui-select-no-choice>
										    No hay resultados, contacte are de soporte.
									  	</ui-select-no-choice>
					                </ui-select>
					            </div>
						  	</div>
						</div>						
						<!-- Control_de_Acceso: exitReader -->
						<div class="form-group col-md-6" ng-class="
								  			{	'has-success': 
								  				service.exitReader.selected!=undefined && fCustomerNewService.service_exitReader.$valid,
								  			 	'has-error':  
								  				(service.exitReader.selected==undefined) && fCustomerNewService.service_exitReader.$touched,
								  			}">
							<div class="col-md-5 n-padding-r">  			
								<label ng-if="!service.new.isOuputButom">Lector de salida</label>
								<label ng-if="service.new.isOuputButom">Pulsador de salida</label>
							</div>
							<div class="col-md-3 n-padding-l n-padding-r" style="font-size: 90%;">
						    	<label class="switch switch-1x">
						    		<input type="checkbox" 
						    		class="success" 
						    		ng-change="switchProducList(service.new.isOuputButom)" 
						    		ng-model="service.new.isOuputButom" 
						    		id="isOuputButom" 
						    		style="margin: 0px !important; display: inherit !important;">
									<span class="slider slider-1x flat"></span>
								</label>
								<label>Pulsador&nbsp;</label>
							</div>									  			
							<div class="pull-right col-md-4 n-padding-r">  			
								<button data-toggle="tooltip" data-placement="top" title="Ver" ng-click="compServiceProductDetailsFn(service.exitReader.selected, productListType.PRODUCT_EXIT, 'exit')" ng-disabled="service.exitReader.selected==undefined" class="btn btn-xs btn-warning"><i class="fas fa-external-link-alt"></i> Detalles</button>
								  <button ng-if="service.exitReader.selected!=undefined" data-toggle="tooltip" data-placement="top" title="Remover" ng-click="removeProductDetailsFn(service.exitReader.selected, productListType.PRODUCT_EXIT, 'exit')" class="btn btn-xs btn-danger"><i class="far fa-times-circle"></i></button>
							</div>					
						    <div class="col-xs-12 selectContainer">							   
							    <div class="input-group">
					              <span class="input-group-addon"><i class="fas fa-sim-card"></i></span>
					              <ui-select name="service_exitReader"  
					              			 ng-change="compServiceProductDetailsFn(service.exitReader.selected, productListType.PRODUCT_EXIT, 'exit');" 
					              			 ng-model="service.exitReader.selected"
					              			 ng-required="true"
					              			 ng-disabled="service.exitReader.selected!=undefined"
					              			 theme="bootstrap" autofocus>
					                  <ui-select-match placeholder="Selecciona una opci&#243;n">({{$select.selected.brand}}) - {{$select.selected.model}}</ui-select-match>
					                    <ui-select-choices class="ui-select-choices" class="ui-select-choices" repeat="item in productListByType.PRODUCT_EXIT | filter: $select.search">
					                      <div ng-bind-html="item.descriptionProduct | highlight: $select.search"></div>
					                      	<small ng-bind-html="item.model | highlight: $select.search"></small>
					                      	<small ng-bind-html="item.brand | highlight: $select.search"></small>					                      	
					                    </ui-select-choices>
					                    <ui-select-no-choice>
										    No hay resultados, contacte are de soporte.
									  	</ui-select-no-choice>
					                </ui-select>
					            </div>
						  	</div>
						</div>
						<!-- Control_de_Acceso: rackLocation -->
						<div class="form-group col-md-6" ng-class="
								  			{	'has-success': 
								  				service.new.locationGabinet!='' && fCustomerNewService.service_rackLocation.$valid,
								  			 	'has-error':  
								  				(service.new.locationGabinet==''|| service.new.locationGabinet==undefined) && fCustomerNewService.service_rackLocation.$touched,
								  			}">
						  <label style="padding-left: 15px;">Ubicacion del gabinete</label>  
							  <div class="col-xs-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fas fa-location-arrow"></i></span>
									<input name="service_rackLocation" type="text" class="form-control" ng-model="service.new.locationGabinet" ng-required="true" />
							  </div>
							</div>
						</div>
						<!-- Control_de_Acceso: Open Devices -->
						<div class="form-group col-md-6" style="margin-left: 15px; padding-right: 45px;">
							<div class="col-md-8">
								<label class="clf-p-left">Dispositivos de Apertura</label></div>
							<div class="pull-right col-md-4 n-padding-r" style="padding-bottom: 5px;"><button ng-click="loadDetailModalWindow(service.openDevices.selected)" ng-disabled="service.openDevices.selected==undefined" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> Agregar</button></div>
						    <div class="selectContainer">							   
							    <div class="col-md-12 input-group">
					              	<span class="input-group-addon"><i class="fas fa-car-battery"></i></span>
					              	<ui-select name="service_openDevices"
					              			 ng-model="service.openDevices.selected"
					              			 ng-required="list_open_devices.length==0"
					              			 theme="bootstrap" autofocus>
					                	<ui-select-match placeholder="Selecciona una opci&#243;n">({{$select.selected.brand}}) - {{$select.selected.model}}</ui-select-match>
					                    <ui-select-choices class="ui-select-choices" repeat="item in productListByType.DISP_APERTURA | filter: $select.search">
					                    	<div ng-bind-html="item.descriptionProduct | highlight: $select.search"></div>
					                      	<small ng-bind-html="item.model | highlight: $select.search"></small>
					                      	<small ng-bind-html="item.brand | highlight: $select.search"></small>					                      	
					                    </ui-select-choices>
					                    <ui-select-no-choice>
										    No hay resultados, contacte are de soporte.
									  	</ui-select-no-choice>
					                </ui-select>
					            </div>
						  	</div>
							<div class="well-checkbox" ng-class="{'n-padding-l n-padding-r':list_open_devices.length>0}" style="margin-left: 0px;margin-right: 0px;">
							  	<table ng-if="list_open_devices.length>0">
							    	<tr ng-repeat="device in list_open_devices">
							    		<td style="width: 5%; padding: 0 0px 0 10px;"><label style="font-size: 80%" class="label label-default">{{$index+1}}</label></td>
							      		 <td style="width: auto"><span style="font-size: 85%" class="text-muted text-uppercase text-box">{{device.classification | uppercase}} </span></td>
							      		<!--<td style="width: 15%"><span class="text-muted text-box" style="font-size: 85%">Modelo:<label style="font-size: 85%" class="label label-default">{{device.model | uppercase}}</label></span></td>-->
							      		<td style="width: auto"><label data-toggle="tooltip" data-placement="top" title="Marca" style="font-size: 75%" class="label label-default"><i class="text-warning fas fa-tag"> </i> {{device.brand | uppercase}}</label></td>
							          	<td style="padding-bottom: 5px;">
							            	<button data-toggle="tooltip" data-placement="top" title="Ver" ng-click="subItemServiceProductDetailsFn(device)" ng-disabled="!device.idOpenDevice" class="btn btn-xs btn-warning"><i class="fas fa-external-link-alt"></i></button>
						  					<button ng-if="device.idOpenDevice" data-toggle="tooltip" data-placement="top" title="Remover" ng-click="removeSubItemProductDetailsFn(device)" class="btn btn-xs btn-danger"><i class="far fa-times-circle"></i></button>

							          	</td>
							      	</tr>
							  	</table>
							  	<div ng-if="list_open_devices.length==0" class="text-uppercase banner-no-rows banner-no-rows-padding-1 banner-no-rows-warning"><h5><i class="fas fa-exclamation-triangle"> </i> No hay dispositivos cargados</h5></div>
							</div>						  	
						</div>						
					</div>
					<div class="well-checkbox form-group col-md-12">
						<!-- Battery List -->
						<div class="col-md-12">
							<div class="col-md-10">
								<label class="clf-p-left">Baterias instaladas</label></div>
							<div class="pull-right col-md-2" style="padding-bottom: 5px;"><button  ng-click="loadDetailModalWindow(service.batteries.selected)" ng-disabled="service.batteries.selected==undefined" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> Agregar</button></div>
					    	<div class="selectContainer">
							    <div class="col-md-12 input-group">
					              	<span class="input-group-addon"><i class="fas fa-car-battery"></i></span>
					              	<ui-select name="service_battery"
					              			 ng-model="service.batteries.selected"
					              			 ng-required="list_batteries.length==0"
					              			 theme="bootstrap" autofocus>
					                	<ui-select-match placeholder="Selecciona una opci&#243;n">({{$select.selected.brand}}) - {{$select.selected.model}}</ui-select-match>
					                    <ui-select-choices class="ui-select-choices" repeat="item in productListByType.BACKUP_ENERGIA | filter: $select.search">
					                    	<div ng-bind-html="item.descriptionProduct | highlight: $select.search"></div>
					                      	<small ng-bind-html="item.model | highlight: $select.search"></small>
					                      	<small ng-bind-html="item.brand | highlight: $select.search"></small>					                      	
					                    </ui-select-choices>
					                    <ui-select-no-choice>
										    No hay resultados, contacte are de soporte.
									  	</ui-select-no-choice>
					                </ui-select>
					            </div>
					        </div>
							<div class="well-checkbox" style="margin-left: 0px;margin-right: 0px;">
							  	<table ng-if="list_batteries.length>0">
							    	<tr ng-repeat="battery in list_batteries">
							    		<td style="width: 0%; padding: 0 10px 0 10px;"><label style="font-size: 80%" class="label label-default">{{$index+1}}</label></td>
							      		 <td style="width: 55%"><span style="font-size: 85%" class="text-muted text-uppercase text-box">{{battery.descriptionProduct | uppercase}} </span></td>
							      		<td style="width: 15%"><span class="text-muted text-box" style="font-size: 85%">Modelo:<label style="font-size: 85%" class="label label-default">{{battery.model | uppercase}}</label></span></td>
							      		<td style="width: 15%"><span class="text-muted text-box" style="font-size: 85%">Marca:<label style="font-size: 85%" class="label label-default">{{battery.brand | uppercase}}</label></span></td>
							          	<td style="padding-bottom: 5px; width: 15%">
							            	<button data-toggle="tooltip" data-placement="top" title="Ver" ng-click="subItemServiceProductDetailsFn(battery)" ng-disabled="!battery.idBatteryFk" class="btn btn-xs btn-warning"><i class="fas fa-external-link-alt"></i> Detalles</button>
						  					<button ng-if="battery.idBatteryFk" data-toggle="tooltip" data-placement="top" title="Remover" ng-click="removeSubItemProductDetailsFn(battery)" class="btn btn-xs btn-danger"><i class="far fa-times-circle"></i></button>

							          	</td>
							      	</tr>
							  	</table>
							  	<div ng-if="list_batteries.length==0" class="text-uppercase banner-no-rows banner-no-rows-padding-1 banner-no-rows-warning"><h5><i class="fas fa-exclamation-triangle"> </i> No hay baterias cargadas</h5></div>
							</div>
						</div>
					</div>
					<div class="row form-group">
			            <div class="form-group col-md-6 col-xs-12">
			            	<div class="col-md-12 col-xs-5"><label class="clf-size clf-p-left">Tornillo bloqueador</label></div>
			            	<div class="col-md-3 col-xs-3 col-md-offset-6 col-xs-offset-6">
			                	<input id="isHasLockingScrew1" class="radio-2x" type="radio" name="isHasLockingScrew" value="1" ng-model="service.new.isBlocklingScrew" required autofocus>
			                    <label for="isHasLockingScrew1" class="radio-2x-label">
			                      <span>Si</span>
			                    </label>
			                </div>
			                <div class="col-md-3 col-xs-3">
			                	<input id="isHasLockingScrew2" class="radio-2x" type="radio" name="isHasLockingScrew" value="0" ng-click="service.new.lockingScrewComment=''" ng-model="service.new.isBlocklingScrew" required autofocus>
			                    <label for="isHasLockingScrew2" class="radio-2x-label">
			                      <span>No</span>
			                    </label> 
			                </div>
			            </div>
						<!-- Control_de_Acceso: Aclaracion 2 -->					  
						<div class="form-group col-md-6 col-xs-12" ng-class="
									  			{	'has-success': 
									  				service.new.isBlocklingScrew==1 && service.new.lockingScrewComment!='' && fCustomerNewService.service_aclaration2.$valid,
									  			 	'has-error':  
									  				(service.new.lockingScrewComment=='' || service.new.lockingScrewComment==undefined) &&
									  				service.new.isBlocklingScrew==1 && fCustomerNewService.service_aclaration2.$touched,
									  			}">  
						  	<label style="padding-left: 15px;">Aclaraci&#243;n</label>
						    <div class="col-xs-12">
							    <div class="input-group">
							    	<span class="input-group-addon"><i class="far fa-sticky-note"></i></span>
					    			<input name="service_aclaration2" type="text" class="form-control" ng-disabled="service.new.isBlocklingScrew==0 || service.new.isBlocklingScrew==undefined || service.new.isBlocklingScrew==null" 
					    			ng-required="service.new.isBlocklingScrew!=0 && service.new.isBlocklingScrew!=undefined && service.new.isBlocklingScrew!=null" ng-model="service.new.lockingScrewComment" />
					    		</div>
					    	</div>
						</div>
					</div>
					<!-- Control_de_Acceso: EmergencyButton -->
					<div class="form-group col-md-6" ng-class="
								  			{	'has-success': 
								  				service.emergencyButton.selected!=undefined && fCustomerNewService.service_emergencyButton.$valid,
								  			 	'has-error':  
								  				(service.emergencyButton.selected==undefined) && fCustomerNewService.service_emergencyButton.$touched,
								  			}">
						<div class="col-md-8"><label style="padding-left: 15px;">Pulsador de Emergencia</label></div>
						<div class="pull-right col-md-4 n-padding-r"><button data-toggle="tooltip" data-placement="top" title="Ver" ng-click="compServiceProductDetailsFn(service.emergencyButton.selected, productListType.PULSADOR_EMERG)" ng-disabled="service.emergencyButton.selected==undefined" class="btn btn-xs btn-warning"><i class="fas fa-external-link-alt"></i> Detalles</button>
					  <button ng-if="service.emergencyButton.selected!=undefined" data-toggle="tooltip" data-placement="right" title="Remover" ng-click="removeProductDetailsFn(service.emergencyButton.selected, productListType.PULSADOR_EMERG, null)" class="btn btn-xs btn-danger"><i class="far fa-times-circle"></i></button></div>
					    <div class="col-xs-12 selectContainer">							   
						    <div class="input-group">
				              <span class="input-group-addon"><i class="fas fa-square"></i></span>
				              <ui-select name="service_emergencyButton"  
				              			 ng-change="compServiceProductDetailsFn(service.emergencyButton.selected, productListType.PULSADOR_EMERG);" 
				              			 ng-model="service.emergencyButton.selected"
				              			 theme="bootstrap" autofocus>
				                  <ui-select-match placeholder="Selecciona una opci&#243;n">({{$select.selected.brand}}) - {{$select.selected.model}}</ui-select-match>
				                    <ui-select-choices class="ui-select-choices" repeat="item in productListByType.PULSADOR_EMERG | filter: $select.search">
				                      <div ng-bind-html="item.descriptionProduct | highlight: $select.search"></div>
				                      	<small ng-bind-html="item.model | highlight: $select.search"></small>
				                      	<small ng-bind-html="item.brand | highlight: $select.search"></small>					                      	
				                    </ui-select-choices>
				                    <ui-select-no-choice>
									    No hay resultados, contacte are de soporte.
								  	</ui-select-no-choice>
				                </ui-select>
				            </div>
					  	</div>
					</div>
					<!-- Control_de_Acceso: Location -->					  
					<div class="form-group col-md-6" >  
					  	<label style="padding-left: 15px; padding-bottom: 2.5px;">Ubicaci&#243;n</label>
					    <div class="col-xs-12">
						    <div class="input-group">
						    	<span class="input-group-addon"><i class="fas fa-location-arrow"></i></span>
				    			<input name="service_locationEmergencyButton" type="text" class="form-control" ng-model="service.new.locationEmergencyButton" />
				    		</div>
				    	</div>
					</div>
					<!-- Control_de_Acceso: TurnOffKeyboard -->
					<div class="form-group col-md-6" ng-class="
								  			{	'has-success': 
								  				service.TurnOffKey.selected!=undefined && fCustomerNewService.service_TurnOffKey.$valid,
								  			 	'has-error':  
								  				(service.TurnOffKey.selected==undefined) && fCustomerNewService.service_TurnOffKey.$touched,
								  			}">
					  	<div class="col-md-8"><label style="padding-left: 15px;">Tecla de apagado</label></div>
						<div class="pull-right col-md-4 n-padding-r"><button  data-toggle="tooltip" data-placement="top" title="Ver" ng-click="compServiceProductDetailsFn(service.TurnOffKey.selected, productListType.TECLA_APAG)" ng-disabled="service.TurnOffKey.selected==undefined"  class="btn btn-xs btn-warning"><i class="fas fa-external-link-alt"></i> Detalles</button>
					  <button ng-if="service.TurnOffKey.selected!=undefined" data-toggle="tooltip" data-placement="right" title="Remover" ng-click="removeProductDetailsFn(service.TurnOffKey.selected, productListType.TECLA_APAG, null)" class="btn btn-xs btn-danger"><i class="far fa-times-circle"></i></button></div>
					    <div class="col-xs-12 selectContainer">							   
						    <div class="input-group">
				              <span class="input-group-addon"><i class="fas fa-keyboard"></i></span>
				              <ui-select name="service_TurnOffKey"  
				              			 ng-change="compServiceProductDetailsFn(service.TurnOffKey.selected, productListType.TECLA_APAG);" 
				              			 ng-model="service.TurnOffKey.selected"
				              			 theme="bootstrap" autofocus>
				                  <ui-select-match placeholder="Selecciona una opci&#243;n">({{$select.selected.brand}}) - {{$select.selected.model}}</ui-select-match>
				                    <ui-select-choices class="ui-select-choices" repeat="item in productListByType.TECLA_APAG | filter: $select.search">
				                      <div ng-bind-html="item.descriptionProduct | highlight: $select.search"></div>
				                      	<small ng-bind-html="item.model | highlight: $select.search"></small>
				                      	<small ng-bind-html="item.brand | highlight: $select.search"></small>					                      	
				                    </ui-select-choices>
				                    <ui-select-no-choice>
									    No hay resultados, contacte are de soporte.
								  	</ui-select-no-choice>
				                </ui-select>
				            </div>
					  	</div>
					</div>
					<!-- Control_de_Acceso: Location -->					  
					<div class="form-group col-md-6" ng-class="
								  			{	'has-success': 
								  				service.new.locationOffKey!='' && service.new.locationOffKey!=undefined &&
								  				service.new.isBlocklingScrew==1 && fCustomerNewService.service_locationOffKey.$valid,
								  			 	'has-error':  
								  				(service.new.locationOffKey=='' || service.new.locationOffKey==undefined) &&
								  				service.new.isBlocklingScrew==1 && fCustomerNewService.service_locationOffKey.$touched,
								  			}">  
					  	<label style="padding-left: 15px;">Ubicaci&#243;n</label>
					    <div class="col-xs-12">
						    <div class="input-group">
						    	<span class="input-group-addon"><i class="fas fa-location-arrow"></i></span>
				    			<input name="service_locationOffKey" type="text" class="form-control" ng-model="service.new.locationOffKey" />
				    		</div>
				    	</div>
					</div>
					<div class="well-checkbox form-group col-md-12 n-padding-l n-padding-r">
						<div class="form-group col-md-12">
							<div class="form-group col-md-3">
								<label for="conexionInternet" style="cursor: pointer; font-weight: 600; padding-left: 15px;">Conexion a Internet:</label>
							</div>
							<div class="form-group col-md-9">
						    	<label class="switch switch-1x">
						    		<input type="checkbox" 
						    		class="success" 
						    		ng-change="" 
						    		ng-model="service.new.isHasInternetConnect" 
						    		id="conexionInternet" 
						    		style="margin: 0px !important; display: inherit !important;">
									<span class="slider slider-1x flat"></span>
								</label>
							</div>
						</div>	
						<!-- Control_de_Acceso: numero de puerto de router -->
						<div class="form-group col-md-6" ng-show="service.new.isHasInternetConnect">
						  <label style="padding-left: 15px;">N° de puerto de router</label>  
							  <div class="col-xs-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fas fa-ethernet"></i></span>
									<input name="service_routerPort" type="text" class="form-control" ng-disabled="!service.new.isHasInternetConnect" ng-required="service.new.isHasInternetConnect" ng-model="service.new.portNumberRouter" />
							  </div>
							</div>
						</div>
						<!-- Control_de_Acceso: puerto http -->
						<div class="form-group col-md-6" ng-show="service.new.isHasInternetConnect">
						  <label style="padding-left: 15px;">Puerto http</label>  
							  <div class="col-xs-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fas fa-project-diagram"></i></span>
									<input name="service_httpPort" type="text" class="form-control" ng-disabled="!service.new.isHasInternetConnect" ng-required="service.new.isHasInternetConnect" ng-model="service.new.portHttp" />
							  </div>
							</div>
						</div>
						<!-- Control_de_Acceso: direccion del cliente -->
						<div class="form-group col-md-12" ng-show="service.new.isHasInternetConnect">
						  <label style="padding-left: 15px;">Direcci&#243;n del cliente</label>  
							  <div class="col-xs-12">
								<div class="input-group" ng-show="service.new.isHasInternetConnect">
									<span class="input-group-addon"><i class="fas fa-map-marked-alt"></i></span>
									<input name="service_clientAddr" type="text" class="form-control" ng-disabled="!service.new.isHasInternetConnect" ng-required="false" ng-model="service.new.addressClient" />
							  </div>
							</div>
						</div>
						<!-- Control_de_Acceso: usuario -->
						<div class="form-group col-md-6" ng-show="service.new.isHasInternetConnect">
						  <label style="padding-left: 15px;">Usuario</label>  
							  <div class="col-xs-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fas fa-user"></i></span>
									<input name="service_username_router" type="text" class="form-control" ng-disabled="!service.new.isHasInternetConnect" ng-required="false" ng-model="service.new.user" />
							  </div>
							</div>
						</div>
						<!-- Control_de_Acceso: contraseña -->
						<div class="form-group col-md-6" ng-show="service.new.isHasInternetConnect">
						  <label style="padding-left: 15px;">Contraseña</label>  
							  <div class="col-xs-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fas fa-key"></i></span>
									<input name="service_userPass_router" type="text" class="form-control" ng-disabled="!service.new.isHasInternetConnect" ng-required="false" ng-model="service.new.pass" />
							  </div>
							</div>
						</div>
						<!-- Control_de_Acceso: direccion vpn -->
						<div class="form-group col-md-12" ng-show="service.new.isHasInternetConnect">
						  <label style="padding-left: 15px;">Direcci&#243;n VPN</label>  
							  <div class="col-xs-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fas fa-user-shield"></i></span>
									<input name="service_address_vpn" type="text" class="form-control" ng-disabled="!service.new.isHasInternetConnect" ng-required="service.new.isHasInternetConnect" ng-model="service.new.addressVpn" />
							  </div>
							</div>
						</div>
						<!-- Control_de_Acceso: usuario -->
						<div class="form-group col-md-6" ng-show="service.new.isHasInternetConnect">
						  <label style="padding-left: 15px;">Usuario</label>  
							  <div class="col-xs-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fas fa-user"></i></span>
									<input name="service_username_vpn" type="text" class="form-control" ng-disabled="!service.new.isHasInternetConnect" ng-required="service.new.isHasInternetConnect" ng-model="service.new.useVpn" />
							  </div>
							</div>
						</div>
						<!-- Control_de_Acceso: contraseña -->
						<div class="form-group col-md-6" ng-show="service.new.isHasInternetConnect">
						  <label style="padding-left: 15px;">Contraseña</label>  
							  <div class="col-xs-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fas fa-key"></i></span>
									<input name="service_userPass_vpn" type="text" class="form-control" ng-disabled="!service.new.isHasInternetConnect" ng-required="service.new.isHasInternetConnect" ng-model="service.new.passVpn" />
							  </div>
							</div>
						</div>
					</div>
					</fieldset>
				</form>
				<div class="clearfix"> </div> 
			</div>
			<!-- Actions Button -->
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 pull-right">
                        <button type="submit" ng-click="modalConfirmation('newService', 0, service.new)" ng-disabled="fCustomerNewService.$invalid || list_batteries.length==0 || list_open_devices.length==0;" class="btn btn-labeled btn-success">
                            <span class="btn-label"><i class="glyphicon glyphicon-send"></i> </span>Enviar</button>
                        <a ng-click="modalConfirmation('closeServiceWindow', 0, service.new)" type="button" class="btn btn-labeled btn-danger">
                            <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Cancelar</a>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>
<!-- // CUSTOMER CONTROL ACCESS SERVICE FORM -->